{% extends 'manager/branch_base.html' %}

{% block header %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'awesomplete.css' %}"/>
    <script src="{% static 'awesomplete.js' %}" async></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link href="{% static 'manager/plugins/pace-master/themes/blue/pace-theme-flash.css' %}" rel="stylesheet"/>
    <link href="{% static 'manager/plugins/uniform/css/uniform.default.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'manager/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'manager/plugins/fontawesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'manager/plugins/line-icons/simple-line-icons.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'manager/plugins/offcanvasmenueffects/css/menu_cornerbox.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'manager/plugins/waves/waves.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'manager/plugins/switchery/switchery.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'manager/plugins/3d-bold-navigation/css/style.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'manager/plugins/slidepushmenus/css/component.css' %}" rel="stylesheet" type="text/css"/>

    <!-- Theme Styles -->
    <link href="{% static 'manager/css/modern.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'manager/css/themes/white.css' %}" class="theme-color" rel="stylesheet" type="text/css"/>
    <link href="{% static 'manager/css/custom.css' %}" rel="stylesheet" type="text/css"/>


    <title>Dashboard | FoodSquare</title>
{% endblock %}


{% block body-content %}
    <div class="overlay"></div>


    <main class="page-content content-wrap">
        {#    unnecassy part#}
        <div class="navbar" style="display: none;">
            <div class="navbar-inner">

                <div class="topmenu-outer">
                    <div class="top-menu">

                        <ul class="nav navbar-nav navbar-right">

                            <li>
                                <a href="javascript:void(0);" class="waves-effect waves-button waves-classic"
                                   id="showRight">
                                    <i class="fa fa-comments"></i>
                                </a>
                            </li>
                        </ul><!-- Nav -->
                    </div><!-- Top Menu -->
                </div>
            </div>
        </div><!-- Navbar -->
        <div class="page-inner">
            <div class="page-title">
                <h3>Dashboard</h3>
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Dashboard</li>
                    </ol>
                </div>
            </div>

            <div id="main-wrapper">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel info-box panel-white">
                            <div class="panel-body">
                                <div class="info-box-stats">
                                    <p class="counter">{{ order_cnt }}</p>
                                    <span class="info-box-title">Orders this month</span>
                                </div>
                                <div class="info-box-icon">
                                    {#                                    <i class="icon-users"></i>#}
                                    <i class="icon-basket"></i>
                                </div>

                                <div class="info-box-progress">
                                    <div class="progress progress-xs progress-squared bs-n">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel info-box panel-white">
                            <div class="panel-body">
                                <div class="info-box-stats">
                                    <p class="counter">{{ item_cnt }}</p>
                                    <span class="info-box-title">Items available</span>
                                </div>
                                <div class="info-box-icon">
                                    <i class="icon-bag"></i>
                                </div>
                                <div class="info-box-progress">
                                    <div class="progress progress-xs progress-squared bs-n">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel info-box panel-white">
                            <div class="panel-body">
                                <div class="info-box-stats">
                                    <p class="counter">{{ unique_customer }}</p>
                                    <span class="info-box-title">Unique customers </span>
                                </div>

                                <div class="info-box-icon">
                                    <i class="icon-dashboard2"></i>
                                    {#                                    <i class="icon-envelope"></i>#}
                                </div>
                                <div class="info-box-progress">
                                    <div class="progress progress-xs progress-squared bs-n">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="panel info-box panel-white">
                            <div class="panel-body">
                                <div class="info-box-stats">
                                    <p>BDT <span class="counter">{{ monthly_revenue }}</span></p>
                                    <span class="info-box-title">Monthly revenue earned</span>
                                </div>
                                <div class="info-box-icon">
                                    <i class="icon-basket"></i>
                                </div>
                                <div class="info-box-progress">
                                    <div class="progress progress-xs progress-squared bs-n">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Row -->
                <div class="row">

                    <div class="col-md-8">
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h3 class="panel-title">Outlets revenue</h3>
                            </div>
                            <div class="panel-body">
                                <div>
                                    <canvas id="barChart" height="150"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>


                </div><!-- Row -->
                <div class="row">
                    <div class="col-md-8">
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h3 class="panel-title">Item sales</h3>
                            </div>
                            <div class="panel-body">
                                <div>
                                    <canvas id="pieChart" width="600" height="400"></canvas>                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- Row -->

            </div><!-- Main Wrapper -->

        </div><!-- Page Inner -->
    </main><!-- Page Content -->

    <div class="cd-overlay"></div>


    <!-- Javascripts -->
    <script src="{% static 'manager/plugins/jquery/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'manager/plugins/jquery-ui/jquery-ui.min.js' %}"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>

    <script>
        $(document).ready(function () {

            var barChartData = {
                labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September",
                    "October", "November", "December"],
                datasets: [
                    {
                        backgroundColor: "{{ branch.fillColor }}",

                        data: {{ branch.sale | safe}}
                    }
                ]
            };

            var chartOptions = {
                responsive: true,
                legend: {
                    position: "top",
                    display : false
                },
                title: {
                    display: true,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }

            window.onload = function() {
                var ctx = document.getElementById("barChart").getContext("2d");
                window.myBar = new Chart(ctx, {
                    type: "bar",
                    data: barChartData,
                    options: chartOptions
                });
            };


            var oilCanvas = document.getElementById("pieChart");

            Chart.defaults.global.defaultFontFamily = "Lato";
            Chart.defaults.global.defaultFontSize = 18;




            var oilData = {
                labels: [
                    {% for menu in menus %}
                        "{{ menu.name }}",
                    {% endfor %}
                ],
                datasets: [
                    {
                        data: [
                            {% for menu in menus %}
                                "{{ menu.sale }}",
                            {% endfor %}
                        ],
                        backgroundColor: [
                            {% for menu in menus %}
                                "{{ menu.fillColor }}",
                            {% endfor %}
                        ]
                    }]
            };

            var pieChart = new Chart(oilCanvas, {
                type: 'pie',
                data: oilData
            });

        });
    </script>




{% endblock %}