{% extends 'manager/base.html' %}

{% block header %}
    <title>Foodsquare | Home</title>
{% endblock %}

{% block slidebar %}
    <li><a href="/homepage/" class="waves-effect waves-button"><span
            class="menu-icon glyphicon glyphicon-home"></span>
        <p>Dashboard</p>
    </a></li>
    <li class="active"><a href="/homepage/" class="waves-effect waves-button"><span
            class="menu-icon glyphicon glyphicon-user"></span>
        <p>Profile</p>
    </a></li>
    <li class="active"><a href="/add_menu/" class="waves-effect waves-button"><span
            class="menu-icon glyphicon glyphicon-user"></span>
        <p>Add Menu</p>
    </a></li>
{% endblock %}

{% block body-content %}
    <div class="page-inner">
        <div style="height: 50px"></div>
        <div id="main-wrapper">
            <div class="container"></div>
            <div class="container">
                <font style="font-weight: 600; font-size: 15px">Your restaurant key
                    is {{ restaurant.restaurant_key }}</font>
                <h1>Edit Restaurant Profile</h1>
                <hr>
                <div class="row">
                    <!-- left column -->
                    <script language="javascript">
                        function changeImage() {
                            document.getElementById("profile_pic_upload").src = document.getElementById("imgChangeBtn").value;
                        }
                    </script>
                    <form method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
                        {% csrf_token %}
                        <div class="col-md-3">
                            <div class="text-center">

                                <img src={{ restaurant.restaurantImg.url }} class="avatar " style="width : 100%;height:
                                100%"
                                alt="avatar" id="profile_pic_upload">
                                <h6>Upload a different photo...</h6>
                                <input type="file" name="restaurantImg" class="form-control" id="imgChangeBtn"
                                       onchange="changeImage()">
                            </div>
                        </div>

                        <!-- edit form column -->
                        <div class="col-md-9 personal-info">
                            <div class="alert alert-info alert-dismissable">
                                <a class="panel-close close" data-dismiss="alert">×</a>
                                <i class="fa fa-coffee"></i>
                                This is an <strong>.alert</strong>. Use this to show important messages to the user.
                            </div>
                            <h3>Restaurant info</h3>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Opens At:</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" name="opens_at" value=''>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Closes At:</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" name="closes_at" value=''>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-lg-3 control-label">Email:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" type="text" name="email" value={{ request.user.email }}>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Username:</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" value={{ request.user.username }}
                                            name="username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Password:</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="password" value="" name="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Confirm password:</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="password" value="" name="re_pass">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-8">
                                    <input type="submit" class="btn btn-primary" value="Save Changes">
                                    <span></span>
                                    <input type="reset" class="btn btn-default" value="Cancel">
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
        <hr>

    </div>
{% endblock %}