{% extends 'manager/base.html' %}

{% block header %}
    <title>Foodsquare </title>
{% endblock %}

{% block slidebar %}
    <li><a href="/orders/" class="waves-effect waves-button"><span
            class="menu-icon glyphicon glyphicon-home"></span>
        <p>Orders</p>
    </a></li>
    <li><a href="/view_branch_menus/" class="waves-effect waves-button"><span
            class="menu-icon glyphicon glyphicon-home"></span>
        <p>View Menus</p>
    </a></li>
{% endblock %}

{% block body-content %}
    <div class="page-inner">
        {% load static %}
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Order List</h4>
                    <div style="padding-left:74%; ">
                        <button type="button" class="btn btn-danger delivery_status" id="close_delivery">Close For Delivery</button>
                        <button type="button" class="btn btn-success delivery_status" id="open_delivery">Open Delivery</button>
                    </div>
                </div>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

                <script src ="{% static 'ajaxRequest.js' %}"></script>

                <script>
					var csrftoken = getCookie('csrftoken');
					$.ajaxSetup({
						beforeSend: function(xhr, settings) {
							if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
								xhr.setRequestHeader("X-CSRFToken", csrftoken);
							}
						}
					});


					$(".delivery_status").click(function () {

						branch_id = "{{ branch.id }}";

						$.ajax({
							type:"POST",
							headers:{
								"X-CSRFToken": csrftoken
							},
							url: '/delivery_option/',
							data: {
								'delivery_option': this.id,
								'id': branch_id
							},
							dataType: 'json',
							success: function (data) {


							}
						});

					});
                </script>

                <script>
					var isOpen = "{{ branch.is_open_now }}";

					if(isOpen=="True"){
						document.getElementById('close_delivery').disabled = true;

					}else{
						document.getElementById('open_delivery').disabled = true;

					}
                </script>
                <div style="height: 5vh">

                </div>
                <div class="panel-body">
                    <div class="table-responsive project-stats">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Order Id</th>
                                <th>Customer</th>
                                <th>Time</th>
                                <th>Order Status</th>
                                <th>Payment Type</th>
                                <th>Ref. No(if applicable)</th>
                                <th>Approve/Reject</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in object_list %}

                                <tr>
                                    <td>{{ order.id }}</td>
                                    <td>{{ order.user.username }}</td>
                                    <td>{{ order.time }} </td>
                                     <td>
                                        {% if order.order_status == "PENDING" %}
                                            <span class="label label-danger">Pending</span>
                                        {% elif order.order_status == "PROCESSING" %}
                                            <span class="label label-info">Delivered</span>
                                        {% elif order.order_status == "DELIVERED" %}
                                            <span class="label label-success">Delivered</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if order.payment.payment_type == "C" %}
                                            Cash
                                        {% elif order.payment.payment_type == "O" %}
                                            Online
                                        {% endif %}
                                    </td>
                                    <td> {{ order.payment.bkash_ref }}</td>

                                    <td>
{#                                        <form action="/accept/{{ restaurant.id }}/" method="post"#}
{#                                              id="requestAcceptForm">#}
{#                                            {% csrf_token %}#}
{#                                            {% if order.payment.payment_type == 'O' %}#}
{#                                                <input type="submit" name="requestAccept" value="Confirm Payment"#}
{#                                                       style="background-color: transparent; border: none; outline: none;color: tomato"/>#}
{#                                            {% else %}#}
{#                                                <input name="" value="Processed" disabled="disabled"#}
{#                                                       style="background-color: transparent; border: none; outline: none;color: green"/>#}
{#                                            {% endif %}#}
{#                                        </form>#}
                                        {% if order.order_status == 'PENDING' %}
                                            <button type="button" class="btn btn-danger delivery_status" id="confirm_deliver">Accept</button>
	                                    {% endif %}
                                <script>
                                    var csrftoken = getCookie('csrftoken');
                                    $.ajaxSetup({
                                        beforeSend: function(xhr, settings) {
                                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                            }
                                        }
                                    });

                                    $(".delivery_status").click(function () {

                                        {#ekhane deliveryman er id hobe#}

                                        $.ajax({
                                            type:"POST",
                                            headers:{
                                                "X-CSRFToken": csrftoken
                                            },
                                            url: '/acceptOrder/',
                                            data: {
                                                'order_id': {{ order.id }} ,
                                                {#'deliveryMan_id' : {{ user.id }},#}
                                                {#'delivery_option': this.id#}
                                            },
                                            dataType: 'json',
                                            success: function (data) {
                                                console.log(data);
                                                alert('Order waiting for delivery-man approval');
                                            }
                                        });

                                    });
                                    {#$(".delivery_status").click(function () {#}
                                    {##}
                                    {#ekhane deliveryman er id hobe#}
                                    {##}
                                    {#    $.ajax({#}
                                    {#        type:"POST",#}
                                    {#        headers:{#}
                                    {#            "X-CSRFToken": csrftoken#}
                                    {#        },#}
                                    {#        url: '/delivery_availability/',#}
                                    {#        data: {#}
                                    {#            'delivery_option': this.id,#}
                                    {#            'id': branch_id#}
                                    {#        },#}
                                    {#        dataType: 'json',#}
                                    {#        success: function (data) {#}
                                    {##}
                                    {#        }#}
                                    {#    });#}
                                    {##}
                                    {#});#}
                                </script>

{#                                        {% elif order.order_status == 'DELIVERING'%}#}
{##}
{#                                            <button type="button" class="btn btn-danger delivery_status" id="confirm_deliver">Delievred</button>#}
                                    </td>
                                </tr>
                            {% endfor %}
                            <!-- <tr>
                                <td>Wordpress Theme</td>
                                <td><span class="label label-success">Finished</span></td>
                                </td>
                                <td>Sandra Smith</td>
                                <td>
                                    <a href="#" style="color: brown"> Request</a>
                                </td>
                            </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}