{% extends 'manager/branch_base.html' %}

{% block header %}
    <title> Branch Orders | FoodSquare </title>
{% endblock %}



{% block body-content %}
    <div class="page-inner">
        {% load static %}
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Order List</h4>
                    <div style="padding-left:74%; ">
                        <button type="button" class="btn btn-danger delivery_status" id="close_delivery">Close For
                            Delivery
                        </button>
                        <button type="button" class="btn btn-success delivery_status" id="open_delivery">Open Delivery
                        </button>
                    </div>
                </div>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

                <script src="{% static 'ajaxRequest.js' %}"></script>

                <script>
                    var csrftoken = getCookie('csrftoken');
                    $.ajaxSetup({
                        beforeSend: function (xhr, settings) {
                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        }
                    });


                    $(".delivery_status").click(function () {

                        branch_id = "{{ branch.id }}";

                        $.ajax({
                            type: "POST",
                            headers: {
                                "X-CSRFToken": csrftoken
                            },
                            url: '/delivery_option/',
                            data: {
                                'delivery_option': this.id,
                                'id': branch_id
                            },
                            dataType: 'json',
                            success: function (data) {


                            }
                        });

                    });
                </script>

                <script>
                    var isOpen = "{{ branch.is_open_now }}";

                    if (isOpen == "True") {
                        document.getElementById('close_delivery').disabled = true;

                    } else {
                        document.getElementById('open_delivery').disabled = true;

                    }
                </script>
                <div style="height: 5vh">

                </div>
                <div class="panel-body">
                    <div class="table-responsive project-stats">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Order Id</th>
                                <th>Customer</th>
                                <th>Time</th>
                                <th>Order Status</th>
                                <th>Payment Type</th>
                                <th>Payment Status</th>
                                <th>Approve/Reject</th>
                                <th>View Details</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in object_list %}

                                <tr>
                                    <td><a href="{{ order.id }}" class="order_details">{{ order.id }}</a></td>
                                    <td>{{ order.user.username }}</td>
                                    <td>{{ order.time }} </td>
                                    <td>
                                        {% if order.order_status == "PENDING" %}
                                            <span class="label label-danger">Pending for confirmation</span>
                                        {% elif order.order_status == "PROCESSING" %}
                                            <span class="label label-info">Pending for Delivery</span>
                                        {% elif order.order_status == "DELIVERING" %}
                                            <span class="label label-info">Delivery on the way</span>
                                        {% elif order.order_status == "DELIVERED" %}
                                            <span class="label label-success">Delivered</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if order.payment.payment_type == "C" %}
                                            Cash
                                        {% elif order.payment.payment_type == "O" %}
                                            Online
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if order.payment.payment_status == "D" %}
                                            <span class="label label-info">DUE</span>
                                        {% elif order.payment.payment_type == "O" %}
                                            <span class="label label-success">PAID</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if order.order_status == 'PENDING' %}
                                            <button href="{{ order.id }}" type="button"
                                                    class="btn btn-danger delivery_status" id="confirm_deliver">Accept
                                            </button>
                                        {% endif %}


                                        {#                                        {% elif order.order_status == 'DELIVERING'%}#}
                                        {##}
                                        {#                                            <button type="button" class="btn btn-danger delivery_status" id="confirm_deliver">Delievred</button>#}
                                    </td>
                                    <td>
                                        <button href="{{ order.id }}" class="order_details btn btn-info">View</button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <script>
                                var csrftoken = getCookie('csrftoken');
                                $.ajaxSetup({
                                    beforeSend: function (xhr, settings) {
                                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                        }
                                    }
                                });

                                $(".delivery_status").click(function () {

                                    {#ekhane deliveryman er id hobe#}

                                    $.ajax({
                                        type: "POST",
                                        headers: {
                                            "X-CSRFToken": csrftoken
                                        },
                                        url: '/acceptOrder/',
                                        data: {
                                            'order_id': $(this).attr('href'),
                                            {#'deliveryMan_id' : {{ user.id }},#}
                                            {#'delivery_option': this.id#}
                                        },
                                        dataType: 'json',
                                        success: function (data) {
                                            console.log(data);
                                            alert('Order waiting for delivery-man approval');
                                            location.reload();
                                        }
                                    });

                                });
                            </script>
                        </table>

                    </div>
                    {#    Modal #}
                    <div class="modal fade" id="delivery_modal" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel"
                         aria-hidden="true">

                        {% include "delivery/delivery_modal.html" %}
                    </div>
                    <script>
                        $(document).ready(function () {

                            $(".order_details").click(function (event) {
                                event.preventDefault();
                                {#$("#delivery_modal").modal();#}

                                var addressValue = $(this).attr("href");
                                $.ajax({
                                    type: "GET",
                                    url: "/delivery_info",
                                    data: {
                                        'id': $(this).attr("href")
                                    },
                                    success: function (data) {
                                        {#alert(data);#}
                                        console.log(data);
                                        {#console.log(data);#}
                                        {#alert(data.trade_license);#}

                                        $('#delivery_modal').html(data);


                                        $("#delivery_modal").modal();
                                    }
                                });

                            });
                        });
                    </script>

                </div>
                {% include 'webAdmin/listViewPagination.html' %}

            </div>
        </div>

    </div>

{% endblock %}