{% extends 'customer/base.html' %}

{% block header %}
    <title>Foodsquare </title>
{% endblock %}

{% block slidebar %}
    <li><a href="/homepage/" class="waves-effect waves-button"><span
            class="menu-icon glyphicon glyphicon-home"></span>
        <p>Orders</p>
    </a></li>
{% endblock %}

{% block body-content %}
    <div class="page-inner">
        {% load static %}
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Order List</h4>
                </div>

                <div class="panel-body">
                    <div class="table-responsive project-stats">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Order Id</th>
                                <th>Restaurant</th>

                                <th>Time</th>
                                <th>Order Status</th>
                                <th>Payment Type</th>
                                <th>Ref. No(if applicable)</th>
                                <th>Payment status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in Orders %}
                                <tr>
                                    <td>{{ order.id }}</td>
                                    <td>{{ order.branch.restaurant.restaurant_name }} ,{{ order.branch.branch_name }}</td>
                                    <td>{{ order.time }} </td>
                                    <td>
                                        {% if order.order_status == "PENDING" %}
                                            <span class="label label-danger">Pending</span>
                                        {% elif order.order_status == "PROCESSING" %}
                                            <span class="label label-info">Delivered</span>
                                        {% elif order.order_status == "DELIVERED" %}
                                            <span class="label label-success">Delivered</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if order.payment.payment_type == "C" %}
                                            Cash
                                        {% elif order.payment.payment_type == "O" %}
                                            Online
                                        {% endif %}
                                    </td>

                                    <td> {{ order.payment.bkash_ref }}</td>
                                    <td>
                                        {% if order.payment.payment_status == "P" %}
                                            <span class="label label-danger">Paid</span>
                                        {% elif order.payment.payment_status == "D" %}
                                            <span class="label label-info">Due</span>

                                        {% endif %}
                                    </td>

                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}