{% extends 'customer/base.html' %}

{% block header %}
    <title>{{ request.user.username | capfirst }} | Orders | FoodSquare </title>
{% endblock %}

{% block slidebar %}
    <li><a href="/homepage/" class="waves-effect waves-button"><span
            class="menu-icon glyphicon glyphicon-home"></span>
        <p>Orders</p>
    </a></li>
{% endblock %}

{% block body-content %}
    <div class="page-inner">
        {% load static %}
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Order List</h4>
                </div>

                <div class="panel-body">
                    <div class="table-responsive project-stats">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Order Id</th>
                                <th>Restaurant</th>

                                <th>Time</th>
                                <th>Order Status</th>
                                <th>Payment Type</th>
                                <th>Ref. No(if applicable)</th>
                                <th>Payment status</th>
                                <th>Pay Now</th>
                                <th>You've been rated</th>

                                <th>You rated</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in Orders %}
                                <tr>
                                    <td>{{ order.id }}</td>
                                    <td>{{ order.branch.branch_name }}</td>
                                    <td>{{ order.time }} </td>
                                    <td>
                                        {% if order.order_status == "PENDING" %}
                                            <span class="label label-danger">Pending for confirmation</span>
                                        {% elif order.order_status == "PROCESSING" %}
                                            <span class="label label-info">Pending for Delivery</span>
                                        {% elif order.order_status == "DELIVERING" %}
                                            <span class="label label-info">Delivery on the way</span>
                                        {% elif order.order_status == "DELIVERED" %}
                                            <span class="label label-success">Delivered</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if order.payment.payment_type == "C" %}
                                            Cash
                                        {% elif order.payment.payment_type == "O" %}
                                            Online
                                        {% endif %}
                                    </td>

                                    <td> {{ order.payment.bkash_ref }}</td>
                                    <td>
                                        {% if order.order_status == "DELIVERED" %}
                                            <span class="label label-danger">Cleared</span>
                                        {% elif order.payment.payment_status == "P" %}
                                            <span class="label label-danger">Paid</span>
                                        {% elif order.payment.payment_status == "D" %}
                                            <span class="label label-info">Due</span>

                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if order.payment.payment_type == "O" and order.payment.payment_status == "D" %}
                                            <form action="{% url 'browse:bkashPayment' %}" method="GET">
                                                <button type="submit">Pay Now</button>
                                                <input type="hidden" name="ref-no" value="{{ order.payment.bkash_ref }}">
                                            </form>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ order.delivery.rating_user }}
                                    </td>
                                    <td>
                                        {% if order.delivery.rating_deliveryman == None %}
                                            <a href="{{ order.id }}" class="order_rate"> Rate Now</a>

                                        {% else %}
                                            {{ order.delivery.rating_deliveryman }}
                                        {% endif %}
                                    </td>

                                    <td>
                                        {#                                        {% if order.delivery and d %}#}
                                    </td>

                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {#    {% include 'customer/rate_submit.html' %}#}

    <!-- Modal -->
    <div class="modal fade" id="delivery_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Rate Delivery </h5>

                </div>
                <div class="modal-body">
                    {% include 'customer/rate_submit.html' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'customer/js/ajax_upload.js' %}"></script>
    <script>
        $(document).ready(function () {

            $(".order_rate").click(function (event) {
                event.preventDefault();
                document.getElementsByClassName('star-cb-group')[0].innerHTML = "<input type=\"radio\" id=\"rating-5\" name=\"rating\" value=\"5\" /><label for=\"rating-5\">5</label>\n" +
                    "      <input type=\"radio\" id=\"rating-4\" name=\"rating\" value=\"4\" checked=\"checked\" /><label for=\"rating-4\">4</label>\n" +
                    "      <input type=\"radio\" id=\"rating-3\" name=\"rating\" value=\"3\" /><label for=\"rating-3\">3</label>\n" +
                    "      <input type=\"radio\" id=\"rating-2\" name=\"rating\" value=\"2\" /><label for=\"rating-2\">2</label>\n" +
                    "      <input type=\"radio\" id=\"rating-1\" name=\"rating\" value=\"1\" /><label for=\"rating-1\">1</label>\n" +
                    "      <input type=\"radio\" id=\"rating-0\" name=\"rating\" value=\"0\" class=\"star-cb-clear\" /><label for=\"rating-0\">0</label>";
                $('#order_id').val($(this).attr('href'));
                $("#delivery_modal").modal();
            });

        });

        $(document).on('change', '.star-cb-group input', function () {

            var rate_val = $("input[type='radio'][name='rating']:checked").val();
            var csrftoken = getCookie('csrftoken');
            {#alert(rate_val);#}
            $("#star3").prop("checked", true);

            $.ajax({
                type: "POST",
                headers: {
                    "X-CSRFToken": csrftoken
                },
                url: '/customer/submitDeliveryRating/',
                data: {
                    'order-id': $('#order_id').val(),
                    'rating': rate_val
                },
                dataType: 'json',
                success: function (data) {
location.reload();
                }
            });

        });
    </script>

{% endblock %}