Babel==2.7.0
certifi==2019.6.16
chardet==3.0.4
defusedxml==0.6.0
Django==2.2.1
django-allauth==0.39.1
django-debug-toolbar==1.11
django-extensions==2.1.9
django-hosts==3.0
django-location-field==2.1.0
django-phonenumber-field==3.0.1
django-sslserver==0.20
djangorestframework==3.9.4
idna==2.8
oauthlib==3.0.1
phonenumbers==8.10.13
Pillow==6.0.0
python3-openid==3.1.0
pytz==2019.1
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.3
whitenoise==4.1.2
