Django==2.2.1
django-allauth==0.39.1
django-debug-toolbar==1.11
django-extensions==2.1.9
django-hosts==3.0
django-location-field==2.1.0
django-phonenumber-field==3.0.1
django-sslserver==0.20
djangorestframework==3.9.4
phonenumbers==8.10.13
Pillow==6.0.0
