{% extends 'browse/toys_shop/base.html' %}

{% block header %}
	<title>Foodsquare | Home</title>
{% endblock %}

{% block body-header %}
	<!-- Slideshow 4 -->
	<div class="slider text-center">
		<div class="callbacks_container">
			<ul class="rslides" id="slider4">
				<li>
					<div class="slider-img one-img">
						<div class="slider-info ">
							<div class="index-banner wow fadeInUp" data-wow-delay="0.4s" id="Home">
								<div class="container">
									<div class="index-banner-info">
										<div class="index-banner-info-head text-center wow fadeInLeft"
										     data-wow-delay="0.5s">
											<h1>Network of over 5000 Restaurants</h1>
											<div class="index-line">
												<h2> To Order Online</h2>
											</div>
										</div>
										<div class="index-form-list wow fadeInRight" data-wow-delay="0.5s">
											<form>
												<ul class="navmain">
													<li><span>Location Name</span>
														<input type="text" class="text" value="Secunderabad"
														       onfocus="this.value = '';"
														       onblur="if (this.value == '') {this.value = 'Secunderabad';}">
													</li>
													<li><span>Restaurant Name</span>
														<input type="text" class="text" value="Swagath Grand"
														       onfocus="this.value = '';"
														       onblur="if (this.value == '') {this.value = 'Swagath Grand';}">
													</li>
													<li><span>Cuisine Name</span>
														<input type="text" class="text" value="Chicken Biriyani"
														       onfocus="this.value = '';"
														       onblur="if (this.value == '') {this.value = 'Chicken Biriyani';}">
													</li>
												</ul>
												<br>
												<br>
												<ul>
													<li>
														<!-- <div class="index-srch"><button>Search</button></div> -->
													</li>
													<li>
														<div class="index-srch">
															<button></button>
														</div>
													</li>
													<!-- <li>
													</li> -->
												</ul>

											</form>


										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- <li>
				   <div class="slider-img two-img">
					  <div class="slider-info ">
						 <div class="index-banner wow fadeInUp" data-wow-delay="0.4s" id="Home">
							<div class="container">
							   <div class="index-banner-info">
								  <div class="index-banner-info-head text-center wow fadeInLeft" data-wow-delay="0.5s">
									 <h1>Network of over 5000 Restaurants</h1>
									 <div class="index-line">
										<h2> To Order Online</h2>
									 </div>
								  </div>
								  <div class="index-form-list wow fadeInRight" data-wow-delay="0.5s">
									 <form>
										<ul class="navmain">
										   <li><span>Location Name</span>
											  <input type="text" class="text" value="Secunderabad"
												 onfocus="this.value = '';"
												 onblur="if (this.value == '') {this.value = 'Secunderabad';}">
										   </li>
										   <li><span>Restaurant Name</span>
											  <input type="text" class="text" value="Swagath Grand"
												 onfocus="this.value = '';"
												 onblur="if (this.value == '') {this.value = 'Swagath Grand';}">
										   </li>
										   <li><span>Cuisine Name</span>
											  <input type="text" class="text" value="Chicken Biriyani"
												 onfocus="this.value = '';"
												 onblur="if (this.value == '') {this.value = 'Chicken Biriyani';}">
										   </li>
										</ul>
										<br>
										<br>
										<ul>
										   <li>
										   </li>
										   <li>
											  <div class="index-srch"><button></button></div>
										   </li>
										</ul>

									 </form>


								  </div>

							   </div>
							</div>
						 </div>
					  </div>
				   </div>
				</li> -->
				<!-- <li>
				   <div class="slider-img three-img">
					  <div class="slider-info ">
						 <div class="index-banner wow fadeInUp" data-wow-delay="0.4s" id="Home">
							<div class="container">
							   <div class="index-banner-info">
								  <div class="index-banner-info-head text-center wow fadeInLeft" data-wow-delay="0.5s">
									 <h1>Network of over 5000 Restaurants</h1>
									 <div class="index-line">
										<h2> To Order Online</h2>
									 </div>
								  </div>
								  <div class="index-form-list wow fadeInRight" data-wow-delay="0.5s">
									 <form>
										<ul class="navmain">
										   <li><span>Location Name</span>
											  <input type="text" class="text" value="Secunderabad"
												 onfocus="this.value = '';"
												 onblur="if (this.value == '') {this.value = 'Secunderabad';}">
										   </li>
										   <li><span>Restaurant Name</span>
											  <input type="text" class="text" value="Swagath Grand"
												 onfocus="this.value = '';"
												 onblur="if (this.value == '') {this.value = 'Swagath Grand';}">
										   </li>
										   <li><span>Cuisine Name</span>
											  <input type="text" class="text" value="Chicken Biriyani"
												 onfocus="this.value = '';"
												 onblur="if (this.value == '') {this.value = 'Chicken Biriyani';}">
										   </li>
										</ul>
										<br>
										<br>
										<ul>
										   <li>
										   </li>
										   <li>
											  <div class="index-srch"><button></button></div>
										   </li>
										</ul>

									 </form>


								  </div>

							   </div>
							</div>
						 </div>
					  </div>
				   </div>
				</li> -->
			</ul>
		</div>
		<!-- This is here just to demonstrate the callbacks -->
		<!-- <ul class="events">
			  <li>Example 4 callback events</li>
			  </ul>-->
		<div class="clearfix"></div>
	</div>
{% endblock %}

{% block body-content %}
	{% load static %}

	<!-- //banner -->
	<!-- about -->
	<!-- <section class="about py-lg-4 py-md-3 py-sm-3 py-3" style="background-color: aqua"id="about"> -->
	<div class="content">
		<div class="index-ordering-section" id="Order">
			<div class="container">
				<div class="index-ordering-section-head text-center wow bounceInRight" data-wow-delay="0.4s">
					<h3>Ordering food was never so easy</h3>
					<div class="index-dotted-line">
						<h4>Just 4 steps to follow </h4>
					</div>
				</div>
				<div class="index-ordering-section-grids">
					<div class="col-md-3 index-ordering-section-grid">
						<div class="index-ordering-section-grid-process wow fadeInRight" data-wow-delay="0.4s">
							<i class=" one"></i><br>
							<i class="one-icon"></i>
							<p>Choose <span>Your Restaurant</span></p>
							<label></label>
						</div>
					</div>
					<div class="col-md-3 index-ordering-section-grid">
						<div class="index-ordering-section-grid-process wow fadeInRight" data-wow-delay="0.4s">
							<i class=" two"></i><br>
							<i class="two-icon"></i>
							<p>Order <span>Your Cuisine</span></p>
							<label></label>
						</div>
					</div>
					<div class="col-md-3 index-ordering-section-grid">
						<div class="index-ordering-section-grid-process wow fadeInRight" data-wow-delay="0.4s">
							<i class=" three"></i><br>
							<i class="three-icon"></i>
							<p>Pay <span> online / on delivery</span></p>
							<label></label>
						</div>
					</div>
					<div class="col-md-3 index-ordering-section-grid">
						<div class="index-ordering-section-grid-process wow fadeInRight" data-wow-delay="0.4s">
							<i class=" four"></i><br>
							<i class="four-icon"></i>
							<p>Enjoy <span>your food </span></p>
						</div>
					</div>
					<div class="index-clearfix"></div>
				</div>
			</div>
		</div>
		<div class="index-special-offers-section">
			<div class="container">
				<div class="index-special-offers-section-head text-center index-dotted-line">
					<h4>Special Offers</h4>
				</div>
				<div class="index-special-offers-section-grids">
					<div class="index-m_3"><span class="index-middle-dotted-line"> </span></div>
					<div class="container">
						<ul id="flexiselDemo3">
							<li>
								<div class="index-offer">
									<div class="index-offer-image">
										<img src="{% static 'browse/toys_shop/index/images/p1.jpg' %}"
										     class="img-responsive" alt=""/>
									</div>
									<div class="index-offer-text">
										<h4>Olister Combo pack lorem</h4>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
										<input type="button" value="Grab It">
										<span></span>
									</div>
									<div class="clearfix"></div>
								</div>
							</li>
							<li>
								<div class="index-offer">
									<div class="index-offer-image">
										<img src="{% static 'browse/toys_shop/index/images/p2.jpg' %}"
										     class="img-responsive" alt=""/>
									</div>
									<div class="index-offer-text">
										<h4>Chicken Jumbo pack lorem</h4>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
										<input type="button" value="Grab It">
										<span></span>
									</div>
									<div class="clearfix"></div>
								</div>
							</li>
							<li>
								<div class="index-offer">
									<div class="index-offer-image">
										<img src="{% static 'browse/toys_shop/index/images/p1.jpg' %}"
										     class="img-responsive" alt=""/>
									</div>
									<div class="index-offer-text">
										<h4>Crab Combo pack lorem</h4>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
										<input type="button" value="Grab It">
										<span></span>
									</div>

									<div class="clearfix"></div>
								</div>
							</li>
							<li>
								<div class="index-offer">
									<div class="index-offer-image">
										<img src="{% static 'browse/toys_shop/index/images/p2.jpg' %}"
										     class="img-responsive" alt=""/>
									</div>
									<div class="index-offer-text">
										<h4>Chicken Jumbo pack lorem</h4>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
										<input type="button" value="Grab It">
										<span></span>
									</div>

									<div class="clearfix"></div>
								</div>
							</li>
						</ul>
						<script type="text/javascript">
							$(window).load(function () {

								$("#flexiselDemo3").flexisel({
									visibleItems: 3,
									animationSpeed: 1000,
									autoPlay: false,
									autoPlaySpeed: 3000,
									pauseOnHover: true,
									enableResponsiveBreakpoints: true,
									responsiveBreakpoints: {
										portrait: {
											changePoint: 480,
											visibleItems: 1
										},
										landscape: {
											changePoint: 640,
											visibleItems: 2
										},
										tablet: {
											changePoint: 768,
											visibleItems: 3
										}
									}
								});

							});
						</script>
						<script type="text/javascript"
						        src="{% static 'browse/toys_shop/js/jquery.flexisel.js' %}"></script>
					</div>
				</div>
			</div>
		</div>
		<div class="index-popular-restaurents" id="Popular-Restaurants">
			<div class="container">
				<div class="col-md-4 index-top-restaurents">
					<div class="top-restaurent-head">
						<a href="/index/restaurants.html">
							<h3 class="index-textLink" style="font-family:'Lobster Two', cursive;  ">Top
								Restaurants</h3>
						</a>
					</div>
					<div class="index-top-restaurent-grids">
						<div class="index-top-restaurent-logos">
							<div class="index-res-img-1 wow bounceIn" data-wow-delay="0.4s">
								<img src="{% static 'browse/toys_shop/index/images/restaurent-1.jpg' %}"
								     class="img-responsive" alt=""/>
							</div>
							<div class="index-res-img-2 wow bounceIn" data-wow-delay="0.4s">
								<img src="{% static 'browse/toys_shop/index/images/restaurent-2.jpg' %}"
								     class="img-responsive" alt=""/>
							</div>
							<div class="index-res-img-1 wow bounceIn" data-wow-delay="0.4s">
								<img src="{% static 'browse/toys_shop/index/images/restaurent-3.jpg' %}"
								     class="img-responsive" alt=""/>
							</div>
							<div class="index-res-img-2 wow bounceIn" data-wow-delay="0.4s">
								<img src="{% static 'browse/toys_shop/index/images/restaurent-4.jpg' %}"
								     class="img-responsive" alt=""/>
							</div>
							<div class="index-res-img-1 nth-grid1 wow bounceIn" data-wow-delay="0.4s">
								<img src="{% static 'browse/toys_shop/index/images/restaurent-5.jpg' %}"
								     class="img-responsive" alt=""/>
							</div>
							<div class="index-res-img-2 nth-grid1 wow bounceIn" data-wow-delay="0.4s">
								<img src="{% static 'browse/toys_shop/index/images/restaurent-6.jpg' %}"
								     class="img-responsive" alt=""/>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-8 index-top-cuisines">
					<div class="index-top-cuisine-head">
						<a href="#">
							<h3 class="index-textLink" style="font-family:'Lobster Two', cursive;  ">Top Cuisine</h3>
						</a>
					</div>
					<div class="index-top-cuisine-grids">
						<div class="index-top-cuisine-grid wow bounceIn" data-wow-delay="0.4s">
							<a href=""><img src="{% static 'browse/toys_shop/index/images/cuisine1.jpg' %}"
							                class="img-responsive" alt=""/> </a>
							<label>Cuisine Name</label>
						</div>
						<div class="index-top-cuisine-grid wow bounceIn" data-wow-delay="0.4s">
							<a href=""><img src="{% static 'browse/toys_shop/index/images/cuisine2.jpg' %}"
							                class="img-responsive" alt=""/> </a>
							<label>Cuisine Name</label>
						</div>
						<div class="index-top-cuisine-grid wow bounceIn" data-wow-delay="0.4s">
							<a href=""><img src="{% static 'browse/toys_shop/index/images/cuisine3.jpg' %}"
							                class="img-responsive" alt=""/> </a>
							<label>Cuisine Name</label>
						</div>
						<div class="index-top-cuisine-grid nth-grid wow bounceIn" data-wow-delay="0.4s">
							<a href=""><img src="{% static 'browse/toys_shop/index/images/cuisine4.jpg' %}"
							                class="img-responsive" alt=""/> </a>
							<label>Cuisine Name</label>
						</div>
						<div class="index-top-cuisine-grid nth-grid1 wow bounceIn" data-wow-delay="0.4s">
							<a href=""><img src="{% static 'browse/toys_shop/index/images/cuisine5.jpg' %}"
							                class="img-responsive" alt=""/> </a>
							<label>Cuisine Name</label>
						</div>
						<div class="index-top-cuisine-grid nth-grid1 wow bounceIn" data-wow-delay="0.4s">
							<a href=""><img src="{% static 'browse/toys_shop/index/images/cuisine6.jpg' %}"
							                class="img-responsive" alt=""/> </a>
							<label>Cuisine Name</label>
						</div>
						<div class="index-top-cuisine-grid nth-grid1 wow bounceIn" data-wow-delay="0.4s">
							<a href=""><img src="{% static 'browse/toys_shop/index/images/cuisine7.jpg' %}"
							                class="img-responsive" alt=""/> </a>
							<label>Cuisine Name</label>
						</div>
						<div class="index-top-cuisine-grid nth-grid nth-grid1 wow bounceIn" data-wow-delay="0.4s">
							<a href=""><img src="{% static 'browse/toys_shop/index/images/cuisine8.jpg' %}"
							                class="img-responsive" alt=""/> </a>
							<label>Cuisine Name</label>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--//about -->
	<!--Customers Review -->
	<section class="clients py-lg-4 py-md-3 py-sm-3 py-3" id="clients">
		<div class="container py-lg-5 py-md-5 py-sm-4 py-3">
			<h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Customers Review</h3>
			<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="row">
							<div class="col-lg-6 clients-w3layouts-row">
								<div class="least-w3layouts-text-gap">
									<div class="row">
										<div class="col-md-4 col-sm-4 news-img">
											<img src="{% static 'browse/toys_shop/images/t1.jpg' %}" alt=""
											     class="image-fluid">
										</div>
										<div class="col-md-8 col-sm-8 clients-says-w3layouts">
											<h4>Milky Deo
											</h4>
											<span class="mt-2">Duis posuere</span>
										</div>
										<div class="mt-3 news-agile-text">
											<img src="{% static 'browse/toys_shop/images/tt1.jpg' %}" alt=""
											     class="image-fluid">
											<p class="mt-3"><span class="fas fa-quote-left"></span> velit sagittis
												vehicula.
												Duis
												posuere
												ex in mollis iaculis. Suspendisse tincidunt
												velit sagittis vehicula. Duis posuere
												velit sagittis vehicula. Duis posuere <span
														class="fas fa-quote-right"></span>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 clients-w3layouts-row">
								<div class="least-w3layouts-text-gap">
									<div class="row">
										<div class="col-md-4 col-sm-4 news-img">
											<img src="{% static 'browse/toys_shop/images/t2.jpg' %}" alt=""
											     class="image-fluid">
										</div>
										<div class="col-md-8 col-sm-8 clients-says-w3layouts">
											<h4>Sam Deo
											</h4>
											<span class="mt-2">Duis posuere</span>
										</div>
										<div class="mt-3 news-agile-text">
											<img src="{% static 'browse/toys_shop/images/tt2.jpg' %}" alt=""
											     class="image-fluid">
											<p class="mt-3"><span class="fas fa-quote-left"></span> velit sagittis
												vehicula.
												Duis
												posuere
												ex in mollis iaculis. Suspendisse tincidunt
												velit sagittis vehicula. Duis posuere
												velit sagittis vehicula. Duis posuere <span
														class="fas fa-quote-right"></span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="row">
							<div class="col-lg-6 clients-w3layouts-row">
								<div class="least-w3layouts-text-gap">
									<div class="row">
										<div class="col-md-4 col-sm-4 news-img">
											<img src="{% static 'browse/toys_shop/images/t1.jpg' %}" alt=""
											     class="image-fluid">
										</div>
										<div class="col-md-8 col-sm-8 clients-says-w3layouts">
											<h4>Milky Deo
											</h4>
											<span class="mt-2">Duis posuere</span>
										</div>
										<div class="mt-3 news-agile-text">
											<img src="{% static 'browse/toys_shop/images/tt1.jpg' %}" alt=""
											     class="image-fluid">
											<p class="mt-3"><span class="fas fa-quote-left"></span> velit sagittis
												vehicula.
												Duis
												posuere
												ex in mollis iaculis. Suspendisse tincidunt
												velit sagittis vehicula. Duis posuere
												velit sagittis vehicula. Duis posuere <span
														class="fas fa-quote-right"></span>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 clients-w3layouts-row">
								<div class="least-w3layouts-text-gap">
									<div class="row">
										<div class="col-md-4 col-sm-4 news-img">
											<img src="{% static 'browse/toys_shop/images/t3.jpg' %}" alt=""
											     class="image-fluid">
										</div>
										<div class="col-md-8 col-sm-8 clients-says-w3layouts">
											<h4>Sam Deo
											</h4>
											<span class="mt-2">Duis posuere</span>
										</div>
										<div class="mt-3 news-agile-text">
											<img src="{% static 'browse/toys_shop/images/tt1.jpg' %}" alt=""
											     class="image-fluid">
											<p class="mt-3"><span class="fas fa-quote-left"></span> velit sagittis
												vehicula.
												Duis
												posuere
												ex in mollis iaculis. Suspendisse tincidunt
												velit sagittis vehicula. Duis posuere
												velit sagittis vehicula. Duis posuere <span
														class="fas fa-quote-right"></span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="row">
							<div class="col-lg-6 clients-w3layouts-row">
								<div class="least-w3layouts-text-gap">
									<div class="row">
										<div class="col-md-4 col-sm-4 news-img">
											<img src="{% static 'browse/toys_shop/images/t2.jpg' %}" alt=""
											     class="image-fluid">
										</div>
										<div class="col-md-8 col-sm-8 clients-says-w3layouts">
											<h4>Milky Deo
											</h4>
											<span class="mt-2">Duis posuere</span>
										</div>
										<div class="mt-3 news-agile-text">
											<img src="{% static 'browse/toys_shop/images/tt2.jpg' %}" alt=""
											     class="image-fluid">
											<p class="mt-3"><span class="fas fa-quote-left"></span> velit sagittis
												vehicula.
												Duis
												posuere
												ex in mollis iaculis. Suspendisse tincidunt
												velit sagittis vehicula. Duis posuere
												velit sagittis vehicula. Duis posuere <span
														class="fas fa-quote-right"></span>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 clients-w3layouts-row">
								<div class="least-w3layouts-text-gap">
									<div class="row">
										<div class="col-md-4 col-sm-4 news-img">
											<img src="{% static 'browse/toys_shop/images/t3.jpg' %}" alt=""
											     class="image-fluid">
										</div>
										<div class="col-md-8 col-sm-8 clients-says-w3layouts">
											<h4>Sam Deo
											</h4>
											<span class="mt-2">Duis posuere</span>
										</div>
										<div class="mt-3 news-agile-text">
											<img src="{% static 'browse/toys_shop/images/tt1.jpg' %}" alt=""
											     class="image-fluid">
											<p class="mt-3"><span class="fas fa-quote-left"></span> velit sagittis
												vehicula.
												Duis
												posuere
												ex in mollis iaculis. Suspendisse tincidunt
												velit sagittis vehicula. Duis posuere
												velit sagittis vehicula. Duis posuere <span
														class="fas fa-quote-right"></span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</section>
	<!--//Customers Review -->
	<!-- Product-view -->

	<!--//Product-view-->
	<!--//Product-view-->

	<!--Product-about-->

	<!--//Product-about-->

{% endblock %}

{% block body-js %}
	<!--js working-->
	<script src="{% static 'browse/toys_shop/js/jquery-2.2.3.min.js' %}"></script>
	<!--//js working-->
	<!-- cart-js -->
	<script src="{% static 'browse/toys_shop/js/minicart.js' %}"></script>
	<script>
		toys.render();

		toys.cart.on('toys_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) {
				}
			}
		});
	</script>
	<!-- //cart-js -->
	<!--responsiveslides banner-->
	<script src="{% static 'browse/toys_shop/js/responsiveslides.min.js' %}"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider4").responsiveSlides({
				auto: true,
				pager: false,
				nav: true,
				speed: 900,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<!--// responsiveslides banner-->
	<!--slider flexisel -->
	<script src="{% static 'browse/toys_shop/js/jquery.flexisel.js' %}"></script>
	<script>
		$(window).load(function () {
			$("#flexiselDemo1").flexisel({
				visibleItems: 3,
				animationSpeed: 3000,
				autoPlay: true,
				autoPlaySpeed: 2000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint: 480,
						visibleItems: 1
					},
					landscape: {
						changePoint: 640,
						visibleItems: 2
					},
					tablet: {
						changePoint: 768,
						visibleItems: 2
					}
				}
			});

		});
	</script>
	<!-- //slider flexisel -->
	<!-- start-smoth-scrolling -->
	<script src="{% static 'browse/toys_shop/js/move-top.js' %}"></script>
	<script src="{% static 'browse/toys_shop/js/easing.js' %}"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- here stars scrolling icon -->
	<script>
		$(document).ready(function () {

			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
{% endblock %}