/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	padding:0;
	margin:0;
	font-family: 'Source Sans Pro', sans-serif;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
.header {
	border-top: 3px solid #5BBD50;
}
.top-header{
	padding:2em 0;
}
.logo{
	float:left;
}
.queries{
	float:left;
	margin-left:15%;
}
.header-right li {
  display: block;
}
.header-right li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
  background:#D96B66;
  padding: 0.4em 2em;
  border-radius: 3px;
    -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  display:block;
}
.header-right li a:hover{
  color: #fff;
  background: #5fa022;
}
.header-right {
  float: right;
  vertical-align: middle;
}
.queries p{
	color:#727272;
	font-size:1.3em;
	font-weight:300;
	margin-top: 3px;
}
.box_1 h3 {
	color: #000;
	font-size: 1.2em;
	margin-bottom: 0;
	float: left;
}
.box_1 h3 img {
	margin-left: 3px;
}
a.simpleCart_empty {
	font-size: 0.85em;
	color: #5BBD50;
}
.queries p span{
	color:#E24425;
	margin-left:0.8em;
	font-weight:700;
	font-size:0.95em;
}
.queries p label{
	font-size:0.7em;
	color:#515151;
	font-weight:500;
}
.top-menu{
	float:left;
	color:#D9D9D9;
}
.login-section{
	float:right;
	color:#D9D9D9;
}
.top-menu ul li{
	display:inline-block;
	margin: 0 16px;
}
.top-menu ul li:first-child {
	margin-left: 0;
}
.top-menu ul li a{
	text-decoration:none;
	margin:0.5em 0;
	display:block;
	color: #494949;
	font-size:16px;
	font-weight:700;
	text-transform:uppercase;
}
.top-menu ul li.active a{
	color:#5BBD50;
}
.top-menu ul li a:hover{
	color:#5BBD50;
}
.login-section ul li{
	display:inline-block;
	margin: 0 16px;
}
.login-section ul li a{
	margin:0.5em 0;
	display:block;
	color: #515151;
	font-size:16px;
	font-weight:500;
}
.login-section ul li a.active {
	color:#5BBD50;
}
.login-section ul li a:hover{
	color:#E24425;
}
.menu-bar{
	background:#F1F1F1;
	padding:0.6em 0;
}
/*-- responsive-design --*/
@media screen and (max-width:1366px){
	.banner {
		min-height: 350px;
	}
	.banner-info {
		padding-top: 4.5em;
	}
	.line {
		margin: 0.5em 0 3em 0;
	}
	.banner-info-head h1 {
		font-size: 2.8em;
	}
	.line h2 {
		font-size: 2.4em;
	}
	.form-list span {
		font-size: 18px;
	}
	.main-search {
		bottom: -35%;
	}
	.ordering-section-head h3 {
		font-size: 2.4em;
	}
	.ordering-section {
		padding: 3em 0;
	}
	.order-form-head h3 {
		font-size: 2em;
	}
	.order-form-head p {
		font-size: 17px;
		margin-bottom: 1.8em;
	}
}
	 @media screen and (max-width:1280px){
	.banner-info-head h1 {
		font-size: 2.6em;
	}
	.line h2 {
		font-size: 2.3em;
	}
	.line {
		margin: 0.5em 0 2.7em 0;
	}
	.main-search {
		bottom: -36%;
	}
	.banner {
		min-height: 310px;
	}
	.order-form-head h3 {
		font-size: 2.1em;
	}
	.contact-head {
		padding: 2em 0;
	}
}
@media screen and (max-width:1024px){
	.line {
		background: url(../images/line.png) no-repeat -29px 17px;
	}
	.top-header {
		padding: 1.8em 0;
	}
	.banner-info-head h1 {
		font-size: 2.4em;
	}
	.line h2 {
		font-size: 2.1em;
	}
	.banner-info {
		padding-top: 3.5em;
	}
	.line {
		margin: 0.5em 0 2em 0;
	}
	.form-list input.text {
		width: 88%;
		padding: 0.4em 0.5em;
		margin-top: 4px;
		font-size: 15px;
	}
	.form-list span {
		font-size: 17px;
	}
	.srch button {
		background: url('../images/img-sprite.png') no-repeat 0px -53px;
		width: 60px;
		height: 40px;
		bottom: -2%;
		background-size: 475px;
	}
	.main-search {
		bottom: -40%;
	}
	.main-search {
		bottom: -37%;
	}
	.main-search {
		padding: 1% 1% 6% 2%;
	}
	.close {
		bottom: 2px;
		right: 215px;
	}
	.main-search:after {
		left: 217px;
	}
	.banner {
		min-height: 270px;
	}
	.ordering-section-head h3 {
		font-size: 2em;
	}
	.dotted-line h4 {
		font-size: 1.6em;
	}
	.dotted-line {
		background: url(../images/dotted-line.png) no-repeat 76px 13px;
		margin: 0.5em 0 2.2em 0;
	}
	.ordering-section-grids {
		margin-top: 5em;
	}
	.ordering-section-grid-process label {
		background: url("../images/img-sprite.png") no-repeat -211px -66px;
		width: 45px;
		height: 23px;
		right: -163%;
		background-size: 500px;
	}
	.ordering-section-grid-process {
		left: 28%;
	}
	.offer-text h4 {
		font-size: 14px;
		margin-bottom: 0.5em;
	}
	.offer {
		padding: 1em;
	}
	.offer-text p {
		font-size: 13px;
	}
	.offer-text input[type="button"] {
		padding: 0.9em 2em 0.9em 0.5em;
		font-size: 13px;
		margin-top: 0.5em;
	}
	.offer-text span {
		top: 86%;
		right: 38%;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
		margin-top: 9em;
	}
	.nbs-flexisel-nav-left {
		left: 384px;
	}
	.nbs-flexisel-nav-right {
		right: 30em;
	}
	.special-offers-section-grids {
		padding-bottom: 5em;
	}
	span.middle-dotted-line {
		left: 31.5em;
		bottom: -209px;
	}	
	.service-section-top-row-grid1 h3 {
		font-size: 1.9em;
		padding-top: 1.4em;
	}
	.service-section-top-row-grid2 ul li.lists {
		font-size: 12px;
	}
	.service-section-top-row-grid2 {
		padding-top: 2em;
	}
	.service-section-top-row-grid3 {
		margin-top: 1.2em;
	}
	.service-section-top-row-grid4 input[type="submit"] {
		font-size: 16px;
	}
	.service-section-top-row-grid4 {
		padding-top: 3.6em;
	}
	.logo-title {
		width: 76%;
		margin-bottom: 0.5em;
	}
	.top-restaurents {
		width: 100%;
	}
	.top-cuisines {
		width: 100%;
	}
	.popular-restaurents {
		padding: 3em 0;
	}
	.top-restaurents {
		margin-bottom: 3em;
	}
	.top-cuisine-grid label {
		padding: 7px 32px;
	}
	.top-cuisine-head {
		margin: 0 0 2em 0;
		background: url(../images/dotted-line-right-wide.png) no-repeat 150px 16px;
	}
	.top-cuisine-head h3 {
		font-size: 1.8em;
	}
	.top-restaurent-head {
		background: url(../images/dotted-line-right.png) no-repeat 219px 18px;
		margin: 0 0 2em 0;
	}
	.top-restaurent-head h3 {
		font-size: 1.8em;
	}
	.ordering-section {
		padding: 2em 0;
	}
	.res-img-1 {
		width: 15.333%;
		margin: 0 1% 0 0;
	}
	.res-img-2 {
		width: 15.333%;
		margin: 0 1% 0 0;
	}
	.contact_left h4 {
		font-size: 1.8em;
	}
	.contact_top {
		padding: 3em 0 2em 0;
	}
	.contact_left p {
		font-size: 1.1em;
	}
	.form_details input[type="text"], .form_details textarea {
		padding: 6px 10px;
		font-size: 1.1em;
		margin: 8px 0px;
	}
	.form_details textarea {
		height: 170px;
	}
	.form_details input[type="submit"] {
		font-size: 1.2em;
		padding: 0.6em 1em;
	}
	.contact-map iframe {
		min-height: 225px;
	}
	.company_ad h3 {
		font-size: 1.6em;
	}
	.company_ad span {
		font-size: 1.1em;
	}
	.follow-us h3 {
		font-size: 1.8em;
	}
}
@media screen and (max-width:800px){
	.queries p {
		font-size: 1.1em;
	}
	.top-menu ul li a {
		margin: 0.4em 0;
		font-size: 14px;
	}
	.login-section ul li a {
		margin: 0.4em 0;
		font-size: 14px;
	}
	.top-header {
		padding: 1.5em 0;
	}
	.menu-bar {
		padding: 0.4em 0;
	}
	.top-menu ul li ,.login-section ul li {
		margin: 0 12px;
	}
	.header {
		border-top: 2px solid #5BBD50;
	}
	.banner-info-head h1 {
		font-size: 2em;
	}
	.line h2 {
		font-size: 1.85em;
	}
	.banner-info {
		padding-top: 2em;
	}
	.line {
		background: url(../images/line.png) no-repeat -145px 12px;
	}
	.line {
		margin: 0.5em 0 1.5em 0;
	}
	.form-list span {
		font-size: 16px;
	}
	.form-list input.text {
		width: 84%;
		padding: 0.4em 0.5em;
		font-size: 14px;
	}
	.banner {
		min-height: 200px;
	}
	.srch button {
		background: url('../images/img-sprite.png') no-repeat 0px -43px;
		width: 50px;
		height: 35px;
		bottom: -1%;
		background-size: 390px;
	}
	.ordering-section-head h3 {
		font-size: 1.8em;
	}
	.dotted-line h4 {
		font-size: 1.4em;
	}
	.main-search input[type="text"] {
		padding: 5px;
	}
	.main-search input[type="submit"] {
		top: 2px;
		right: 2px;
	}
	.close {
		bottom: 4px;
		right: 152px;
	}
	.main-search {
		bottom: -42%;
		left: 74%;
	}
	.main-search:after {
		left: 126px;
	}
	.dotted-line {
		background: url(../images/dotted-line.png) no-repeat -29px 10px;
		margin: 0.5em 0 2em 0;
	}
	.ordering-section-grid {
		width: 25%;
		float: left;
	}
	.ordering-section-grid {
		background-size: 140px;
	}
	.ordering-section-grids {
		margin-top: 4em;
	}
	.ordering-section-grid-process {
		left: 28%;
		top: -10%;
	}
	.ordering-section-grid-process i.one{
		width: 40px;
		height: 40px;
		background-size: 380px;
	}
	.ordering-section-grid-process i.two {
	    width: 40px;
		height: 40px;
		background: url("../images/img-sprite.png") no-repeat -42px 0px;
		background-size: 380px;
	}
	.ordering-section-grid-process i.three {
	    width: 40px;
		height: 40px;
		background: url("../images/img-sprite.png") no-repeat -83px 0px;
		background-size: 380px;
	}
	.ordering-section-grid-process i.four {
	    width: 40px;
		height: 40px;
		background: url("../images/img-sprite.png") no-repeat -124px 0px;
		background-size: 380px;
	}
	.ordering-section-grid-process p {
		font-size: 15px;
		margin-top: 1em;
		left: -90%;
	}
	.ordering-section-grid-process i.one-icon {
		width: 30px;
		height: 30px;
		background: url("../images/img-sprite.png") no-repeat -192px -2px;
		margin: 0.3em 0 0 0.3em;
		background-size: 440px;
	}
	.ordering-section-grid-process i.two-icon {
		width: 30px;
		height: 30px;
		background: url("../images/img-sprite.png") no-repeat -226px -2px;
		margin: 0.3em 0 0 0.3em;
		background-size: 440px;
	}
	.ordering-section-grid-process i.three-icon {
		width: 33px;
		height: 30px;
		background: url("../images/img-sprite.png") no-repeat -256px -2px;
		margin: 0.3em 0 0 0.3em;
		background-size: 440px;
	}
	.ordering-section-grid-process i.four-icon {
		width: 30px;
		height: 30px;
		background: url("../images/img-sprite.png") no-repeat -292px -2px;
		margin: 0.3em 0 0 0.3em;
		background-size: 440px;
	}
	.ordering-section-grid-process label {
		background: url("../images/img-sprite.png") no-repeat -202px -63px;
		width: 40px;
		height: 20px;
		right: -225%;
		background-size: 470px;
	}
	.ordering-section {
		padding: 2em 0 0 0;
	}
	.ordering-section-grid-process span {
		font-size: 15px;
	}
	.offer-text span {
		top: 83%;
		right: 42%;
	}
	.offer-image {
		width: 40%;
		margin-right: 3%;
	}
	.offer-text {
		width: 57%;
		margin: 0;
	}
	.nbs-flexisel-item {
		padding-right: 10px;
	}
	.offer-text input[type="button"] {
		padding: 0.8em 2em 0.8em 0.5em;
		font-size: 12px;
		margin-top: 0.3em;
	}
	.offer{
		padding:8px;
	}
	.offer-text h4 {
		font-size: 12px;
		margin-bottom: 0.2em;
	}
	.offer-text p {
		font-size: 12px;
	}
	.nbs-flexisel-nav-right {
		right: 21em;
		background: url(../images/img-sprite.png) no-repeat -405px 0px;
		background-size: 500px;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
		margin-top: 7em;
	}
	.nbs-flexisel-nav-left {
		left: 292px;
		background: url(../images/img-sprite.png) no-repeat -368px -1px;
		background-size: 500px;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
		width: 35px;
		height: 35px;
	}
	span.middle-dotted-line {
		left: 24em;
		bottom: -153px;
	}
	.top-restaurent-head h3 {
		font-size: 1.6em;
	}
	.top-restaurent-head {
		background: url(../images/dotted-line-right.png) no-repeat 182px 13px;
		margin: 0 0 1.5em 0;
	}
	.popular-restaurents {
		padding: 2em 0 2.5em 0;
	}
	.top-cuisine-head h3 {
		font-size: 1.7em;
	}
	.top-cuisine-grid label {
		padding: 4px 21px;
	}
	.icon {
		margin-right: 6%;
		width: 10%;
	}
	.service-section-bottom-grid {
		margin-bottom: 1.2em;
	}
	.service-section-bottom-row {
		padding: 2em 0 1em 0;
	}
	.icon-data h4 {
		font-size: 1.3em;
		margin: 0.8em 0 0.2em 0;
	}
	.footer {
		padding: 2em 0;
	}
	.contact-section-grid {
		width: 24%;
		float: left;
	}
	.contact-section-grid h4 {
		font-size: 1.2em;
	}
	.contact-section-grid p {
		font-size: 15px;
	}
	.footer p {
		font-size: 15px;
	}
	.contact-section-grid input.text {
		padding: 0.4em;
		margin: 1em 0;
	}
	.contact-section-grid input[type="submit"] {
		padding: 0.35em 1.2em;
	}
	.service-section-top-row-grid4 {
		padding-top: 0;
		width: 50%;
		float: left;
		text-align: center;
		margin-top:2.4em;
	}
	.service-section-top-row-grid2 {
		padding-top: 0;
		width: 37%;
		float: left;
		margin-left:13%;
	}
	.service-section-top-row-grid3 {
		margin-top: 0;
		width: 50%;
		float: left;
		margin-top:1em;
	}
	.service-section-top-row-grid1 {
		width: 50%;
		float: left;
		text-align: center;
	}
	.service-section-top-row-grid1 h3 {
		font-size: 1.9em;
		padding-top: 0;
	}
	.service-section-top-row-grids {
		padding: 1.5em;
	}
	.service-section-top-row-grids {
		border-radius: 6px;
	}
	.container {
		width: 735px;
	}
	.ordering-section-grid {
		min-height: 170px;
	}
	.ordering-section-grid-process {
		top: -12%;
	}
	.dreamcrub {
		margin: 1em 0 2.5em 0;
		font-family: 'Roboto', sans-serif;
	}
	.login-left {
		margin-bottom: 3em;
		padding:0 15px;
	}
	.login-left p, .login-right p {
		margin: 0 0 1.2em 0;
	}
	.register-top-grid h3, .register-bottom-grid h3 {
		font-size: 1.3em;
	}
	.register-top-grid span, .register-bottom-grid span {
		font-size: 1em;
	}
	.register-but form input[type="submit"] {
		padding: 0.4em 1.5em;
	}
	.register {
		padding: 2em 0 3em 0;
	}
	.register-top-grid input[type="text"], .register-bottom-grid input[type="password"] {
		padding: 0.4em;
	}
	.login-left h3, .login-right h3 {
		font-size: 1.4em;
	}
	.login-right input[type="submit"] {
		padding: 0.5em 1.2em;
	}
	.login-page {
		padding: 1em 0 2em 0;
	}
	.contact_left {
		width: 100%;
		margin-right: 0;
	}
	.company-right {
		width: 100%;
	}
	.contact-head h3 {
		font-size: 1.8em;
	}
	.contact-head {
		padding: 1.5em 0;
	}
	.contact-head p {
		margin: 0;
	}
	.contact_top {
		padding: 2em 0 1em 0;
	}
	.restaurent-logo {
		width: 25%;
		float: left;
	}
	.col-md-2.restaurent-title {
		width: 16.666%;
		float: left;
		padding:0;
	}
	.logo-title {
		width: 84%;
		margin-bottom: 0.2em;
	}
	.restaurent-title h4 {
		font-size: 1.4em;
		margin: -1px 0 5px 0;
	}
	.rating span {
		font-size: 1em;
		margin-left: 0px;
	}
	.buy {
		margin-top: 0;
		width: 58%;
		float: left;
	}
	.buy span {
		font-size: 1.5em;
		margin: 0 1.1em 0em 0;
	}
	.buy input[type="button"] {
		padding: 0.3em 1.4em;
		font-size: 1.3em;
	}
	.logo-title {
		width: 59%;
	}
	.logo-title-1,.logo-title-2 {
		width: 52%;
	}
	.logo-title-3 {
		width: 70%;
	}
	.logo-title-4 {
		width: 99%;
	}
	.logo-title-5 {
		width: 29%;
	}
	.ordering-image {
		margin-top: 4em;
	}
	.order-form-head h3 {
		font-size: 1.8em;
	}
	.ordering-form {
		padding: 2em 0;
	}
	.flat .selected, .flat li {
		font-size: 1em;
	}
}
@media screen and (max-width:768px){
	.container {
		width: 720px;
	}
	.ordering-section-grid {
		min-height: 170px;
	}
	.ordering-section-grid-process {
		top: -12%;
	}
	.top-cuisine-head h3 {
		font-size: 1.6em;
	}
	.top-cuisine-grid label {
		padding: 4px 19px;
		font-size: 17.45px;
	}
	.banner-info-head h1 {
		font-size: 1.7em;
	}
	.line h2 {
		font-size: 1.5em;
	}
	.line {
		background: url(../images/line.png) no-repeat -145px 10px;
		margin: 0.3em 0 1.2em 0;
	}
	.form-list span {
		font-size: 14px;
	}
	.form-list input.text {
		padding: 0.3em 0.5em;
		font-size: 14px;
	}
	.banner {
		min-height: 185px;
	}
	.banner-info {
		padding-top: 1.5em;
	}
	.ordering-section-head h3 {
		font-size: 1.7em;
	}
	.dotted-line h4 {
		font-size: 1.3em;
	}
	.dotted-line {
		background: url(../images/dotted-line.png) no-repeat -48px 10px;
		margin: 0.3em 0 2em 0;
	}
	.logo img {
		width: 85%;
	}
	.srch button {
		bottom: -3%;
	}
	.main-search {
		bottom: -51%;
		left: 73%;
	}
	.close {
		right: 149px;
	}
	.queries {
		margin-left: 2%;
	}
	.box_1 h3 {
		font-size: 1.1em;
	}
	a.morebtn {
		padding: 0.2em 1.2em;
	}
	
}
@media screen and (max-width:640px){
	.container {
		width: 593px;
	}
	.logo img {
		width: 75%;
	}
	.queries p {
		font-size: 1em;
	}
	.banner-info-head h1 {
		font-size: 1.5em;
	}
	.line h2 {
		font-size: 1.3em;
	}
	.line {
		background: url(../images/line.png) no-repeat -217px 8px;
		margin: 0.3em 0 1em 0;
	}
	.srch button {
		right: 2%;
	}
	.banner-info {
		padding-top: 1em;
	}
	.main-search {
		bottom: -56%;
		left: 77%;
	}
	.main-search:after {
		left: 86px;
	}
	.close {
		right: 5px;
		padding:0;
	}
	.main-search {
		padding: 1% 3% 6% 1%;
	}
	.ordering-section-head h3 {
		font-size: 1.6em;
	}
	.dotted-line h4 {
		font-size: 1.2em;
	}
	.dotted-line {
		background: url(../images/dotted-line.png) no-repeat -112px 9px;
	}
	.ordering-section {
		padding: 1.5em 0 0 0;
	}
	.ordering-section-grid-process {
		left: 28.5%;
		top: -16%;
	}
	.ordering-section-grid-process i.one-icon,.ordering-section-grid-process i.two-icon,
    .ordering-section-grid-process i.three-icon,.ordering-section-grid-process i.four-icon{
		margin: 0 0 0 0.3em;
	}
	.ordering-section-grid {
		min-height: 143px;
	}
	.ordering-section-grid-process p {
		font-size: 14px;
		margin-top: 0.7em;
		line-height: 1.1em;
	}
	.banner {
		min-height: 150px;
	}
	.offer-text input[type="button"] {
		padding: 0.95em 2.5em 0.95em 0.5em;
		font-size: 13px;
		margin-top: 1em;
	}
	.offer {
		padding: 11px;
	}
	.offer-image {
		width: 45%;
		margin-right: 5%;
	}
	.offer-text {
		width: 50%;
		margin: 0;
	}
	.offer-text h4 {
		font-size: 14px;
		margin-bottom: 0.3em;
	}
	.offer-text p {
		font-size: 13px;
	}
	.ordering-section-grid-process label {
		display: none;
	}
	.ordering-section-grids {
		margin-top: 3em;
	}
	.ordering-section-grid {
		background-size: 120px;
	}
	.nbs-flexisel-nav-right {
		right: 16em;
	}
	.nbs-flexisel-nav-left {
		left: 219px;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
		margin-top: 5.8em;
	}
	.special-offers-section-grids {
		padding-bottom: 3.5em;
	}
	span.middle-dotted-line {
		left: 19em;
		bottom: -181px;
	}
	.offer-text span {
		top: 84%;
		right: 39%;
	}
	.res-img-1 {
		width: 32.333%;
		margin: 0 1% 4% 0;
	}
	.res-img-2 {
		width: 32.333%;
		margin: 0 1% 0% 0;
	}
	.top-restaurents {
		margin-bottom: 2em;
	}
	.top-cuisine-grid label {
		padding: 4px 12.5px;
		font-size: 15px;
	}
	.service-section-top-row-grids {
		padding: 1em;
	}
	.icon-data h4 {
		font-size: 1.1em;
		margin: 0.4em 0 0.2em 0;
	}
	.icon-data p {
		font-size: 14px;
	}
	.contact-section-grid ul li.data {
		font-size: 12px;
	}
	.contact-section {
		padding: 2em 0;
	}
	.contact-section-grid p {
		display: none;
	}
	.top-menu ul li a {
		font-size: 12px;
	}
	.login-section ul li a {
		font-size: 13px;
	}
	.top-menu ul li, .login-section ul li {
		margin: 0 7px;
	}
	ul.breadcrumbs li {
		font-size: 1em;
	}
	.login-left h3, .login-right h3 {
		font-size: 1.3em;
	}
	.login-left p, .login-right p {
		margin: 0 0 1em 0;
		font-size: 1em;
	}
	.acount-btn {
		padding: 0.5em 1.1em;
	}
	.login-right input[type="submit"] {
		padding: 0.4em 1em;
	}
	.register-top-grid input[type="text"], .register-bottom-grid input[type="password"] {
		padding: 0.3em;
	}
	.register-but form input[type="submit"] {
		padding: 0.3em 1.3em;
	}
	.register-top-grid h3, .register-bottom-grid h3 {
		padding-bottom: 10px;
	}
	ul.previous li a {
		font-size: 1em;
	}
	.contact-head h3 {
		font-size: 1.6em;
	}
	.contact-head p {
		font-size: 1.1em;
	}
	.contact_left h4 {
		font-size: 1.6em;
	}
	.form_details textarea {
		height: 150px;
	}
	.buy {
		width: 47%;
	}
	.restaurent-logo {
		width: 34%;
	}
	.logo-title {
		width: 71%;
	}
	.logo-title-3 {
		width: 92%;
	}
	.logo-title-4 {
		width: 100%;
	}
	.restaurent-title h4 {
		font-size: 1.2em;
	}
	.Popular-Restaurants-grid {
		padding-bottom: 1.5em;
	}
	.buy input[type="button"] {
		padding: 0.2em 1.3em;
		font-size: 1.2em;
	}
	.buy span {
		font-size: 1.4em;
		margin: 0 1em 0em 0;
	}
	.buy {
		margin-top: 0.8em;
	}
	.Popular-Restaurants-content {
		padding: 3em 0 1.5em 0;
	}
	.order-form-head h3 {
		font-size: 1.6em;
	}
	.order-form-grid h5 {
		font-size: 1.4em;
	}
	.order-form-head p {
		font-size: 16px;
		margin-bottom: 1.2em;
	}
	.queries {
		display: none;
	}
}
 @media screen and (max-width:480px){
	.container {
		width: 433px;
	}
	.ordering-section-grid-process label {
		display: none;
	}
	.ordering-section-grid-process {
		left: 31.5%;
	}
	.footer p {
		font-size: 14px;
	}
	..footer {
		padding: 1.5em 0;
	}
	.contact-section-grid {
		width: 50%;
		margin:0 0 2em 0;
	}
	.contact-section-grid p {
		display: block;
	}
	.contact-section-grid ul li.data {
		font-size: 13px;
	}
	.contact-section-grid h4 {
		font-size: 1.3em;
		margin-bottom: 0.8em;
	}
	.contact-section {
		padding: 2em 0 0 0;
	}
	.icon {
		margin-right: 6%;
		width: 15%;
	}
	.service-section-top-row-grid1 h3 {
		font-size: 1.4em;
		padding-top: 1em;
	}
	.service-section-top-row-grid2 {
		width: 42%;
		margin-left: 8%;
	}
	.service-section-top-row-grid4 input[type="submit"] {
		border: 2px solid #fff;
		font-size: 15px;
		padding: 0.3em 1.1em;
	}
	.service-section-top-row-grid4 {
		margin-top: 1.5em;
	}
	.service-section-top-row-grids {
		padding: 0.7em;
	}
	.top-cuisine-grid {
		width: 40%;
		margin: 0 10% 5% 0;
	}
	.top-cuisine-grid label {
		padding: 5px 28.4px;
		font-size: 15px;
	}
	.top-cuisine-head h3 {
		font-size: 1.5em;
	}
	.res-img-2 {
		width: 31%;
		margin: 0 2% 0% 0;
	}
	.res-img-1 {
		width: 31%;
		margin: 0 2% 2% 0;
	}
	.dotted-line {
		background: url(../images/dotted-line.png) no-repeat -192px 9px;
	}
	.offer {
		padding: 12px;
		width: 70%;
		margin: 0 auto;
	}
	.offer-text p {
		font-size: 13px;
	}
	.offer-text h4 {
		font-size: 15px;
		margin-bottom: 0.3em;
	}
	.offer-text input[type="button"] {
		padding: 1em 2.5em 1em 0.5em;
		font-size: 14px;
		margin-top: 0.5em;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
		margin-top: 4.2em;
	}
	.nbs-flexisel-nav-right {
		right: 11em;
	}
	.nbs-flexisel-nav-left {
		left: 120px;
	}
	.offer-text span {
		top: 83%;
		right: 34%;
	}
	span.middle-dotted-line {
		left: 12.3em;
		bottom: -182px;
	}
	.ordering-section-grid {
		width: 40%;
		float: left;
		margin:0 0 2em 10%;
	}
	.ordering-section-grid-process {
		left: 23.5%;
	}
	.ordering-section-head h3 {
		font-size: 1.4em;
	}
	.banner-info-head h1 {
		font-size: 1.3em;
	}
	.line h2 {
		font-size: 1.1em;
	}
	.line {
		background: url(../images/line.png) no-repeat -303px 5px;
		margin: 0.2em 0 0.7em 0;
	}
	.form-list span {
		font-size: 13px;
	}
	.form-list input.text {
		padding: 0.2em 0.4em;
		font-size: 13px;
		margin-top: 1px;
	}
	.banner {
		min-height: 125px;
	}
	.srch button {
		background: url('../images/img-sprite.png') no-repeat 0px -36px;
		width: 40px;
		height: 25px;
		bottom: 0%;
		background-size: 320px;
		right: 1%;
	}
	.main-search input[type="text"], .main-search input[type="submit"] {
		font-size: 12px;
		padding: 3px;
		top: -1px;
		right: -2px;
	}
	.main-search {
		bottom: -61%;
        left: 66%;
		width: 36%;
		height: 51px;
	}
	.close {
		right: 1px;
		bottom: 5px;
	}
	.main-search:after {
		left: 104px;
	}
	.top-header {
		padding: 1em 0;
	}
	.register-top-grid input[type="text"], .register-bottom-grid input[type="password"] {
		padding: 0.2em;
	}
	.register-but form input[type="submit"] {
		padding: 0.2em 1em;
	}
	.register-top-grid span, .register-bottom-grid span {
		font-size: 0.875em;
	}
	.register-top-grid h3, .register-bottom-grid h3 {
		font-size: 1.2em;
	}
	.register {
		padding: 1.5em 0 2em 0;
	}
	.contact_left p {
		width: 100%;
	}
	.contact-head h3 {
		font-size: 1.4em;
	}
	.contact-head {
		padding: 1em 0;
	}
	.contact_left h4 {
		font-size: 1.4em;
	}
	.form_details input[type="submit"] {
		font-size: 1.1em;
		padding: 0.4em 0.9em;
	}
	.company_ad h3 {
		font-size: 1.4em;
	}
	.company_ad p {
		font-size: 1em;
		line-height: 1.5em;
	}
	.follow-us h3 {
		font-size: 1.7em;
	}
	.Popular-Restaurants-grid {
		padding-bottom: 1.2em;
		margin-bottom: 1.7em;
	}
	.restaurent-logo {
		width: 41%;
	}
	.col-md-2.restaurent-title {
		width: 22.666%;
	}
	.restaurent-title h4 {
		font-size: 1.1em;
	}
	.rating span {
		font-size: 0.875em;
	}
	.buy {
		margin-top: 0.5em;
		width: 36%;
	}
	.buy span {
		font-size: 1.2em;
		margin: 0 1em 0em 0;
	}
	.buy input[type="button"] {
		padding: 0.2em 1.2em;
		font-size: 1.1em;
	}
	.order-form-head h3 {
		font-size: 1.4em;
	}
	.order-form-head p {
		font-size: 14px;
	}
	.order-form-grid h5 {
		font-size: 1.3em;
	}
	.flat .selected, .flat li {
		font-size: 0.9em;
	}
	.ordering-image {
		margin-top: 3em;
	}
	.order-form-grid input[type="button"] {
		padding: 0.4em 1.4em;
		font-size: 15px;
		margin: 0.5em 0 0 5em;
	}
	.dropdown-button {
		width: 100%;
	}
	.top-menu {
		float: none;
		text-align: center;
	}
	.login-section {
		float: none;
		text-align: center;
	}
	.logo img {
		width: 95%;
	}
	a.morebtn {
		padding: 0.15em 1em;
	}
	.orders {
		padding: 1em 0;
	}
	.order-top p {
  color: #6b6969;
  font-size: 0.95em;
  font-weight: 400;
  line-height: 1.8em;
  margin: 0.5em 0;
}
.order-top h4 {
  color: #1A1A1A;
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.order-top h6 {
  color: #621622;
  margin: 0.5em 0;
}
}
 @media screen and (max-width:320px){
	.container {
		width: 100%;
		margin:0;
	}
	.ordering-section-grid {
		background-size: 110px;
		width: 50%;
		margin:0;
	}
	.footer p {
		text-align: center;
	}
	.footer {
		padding: 1.5em 0;
	}
	.contact-section-grid {
		width: 100%;
		margin: 0 0 2em 0;
	}
	.contact-section-grid ul li.data {
		font-size: 14px;
	}
	.service-section-bottom-grid{
		padding: 0;
	}
	.icon {
		width: 22%;
	}
	.service-section-top-row {
		padding: 2em 0;
	}
	.logo img {
		width: 40%;
		margin: 0 auto;
	}
	.queries p label {
		font-size: 0.85em;
	}
	.queries p span {
		margin-left: 0;
		font-size: 0.95em;
	}
	.queries {
		display:none;
	}
	.top-menu ul li, .login-section ul li {
		margin: 0 5px;
	}
	.top-menu ul li a {
		font-size: 10px;
	}
	.login-section ul li a {
		font-size: 12px;
	}
	.banner-info-head h1 {
		font-size: 1.4em;
	}
	.line h2 {
		font-size: 1.2em;
	}
	.form-list ul li {
		display: block; 
		width: 88%;
	}
	.form-list span {
		font-size: 13px;
	}
	.form-list input.text {
		padding: 0.5em 0.4em;
		font-size: 12px;
		margin: 3px 0 5px 0;
	}
	.line {
		background: url(../images/line.png) no-repeat -360px 5px;
		margin: 0.2em 0 1em 0;
	}
	.banner {
		min-height: 130px;
	}
	.banner-info {
		padding-top: 1.2em;
	}
	.main-search:after {
		left: 73px;
		border-left: 7px solid rgba(0, 0, 0, 0);
		border-right: 7px solid rgba(0, 0, 0, 0);
		border-bottom: 8px solid #515151;
		top: -8px;
	}
	.srch button {
		bottom: 3%;
	}
	.close img {
		width: 70%;
	}
	.main-search {
		height: 40px;
		padding: 2% 4% 6% 2%;
		bottom: -17%;
		left: 64%;
	}
	.close {
		right: -3px;
		bottom: -2px;
	}
	.icon-data {
		float: left;
		width: 70%;
	}
	.service-section-bottom-row {
		padding: 1.5em 0 0.5em 0;
	}
	.service-section-top-row-grid1,.service-section-top-row-grid2,
	.service-section-top-row-grid3,.service-section-top-row-grid4{
		width: 100%;
	}
	.service-section-top-row-grid1 h3 {
		padding-top: 0;
	}
	.service-section-top-row-grids {
		padding: 1em;
	}
	.service-section-top-row-grid2 {
		padding-top: 1em;
		margin-left: 20%;
		width: 80%;
	}
	.service-section-top-row-grid4 input[type="submit"]:hover {
		border: 2px solid #5BBD50;
	}
	.top-cuisines {
		padding: 0;
	}
	.top-cuisine-grid {
		width: 45%;
		margin: 0 5% 5% 0;
	}
	.top-cuisine-grid label {
		 padding: 5px 18.31px;
		font-size: 14px;
	}
	.offer {
		width: 100%;
	}
	.top-cuisine-head {
		margin: 0 0 1.5em 0;
		background: url(../images/dotted-line-right-wide.png) no-repeat 130px 12px;
	}
	.top-restaurent-head h3 {
		font-size: 1.35em;
	}
	.top-cuisine-head h3 {
		font-size: 1.4em;
	}
	.top-restaurents {
		margin-bottom: 1em;
	}
	.top-restaurent-head {
		background: url(../images/dotted-line-right.png) no-repeat 140px 11px;
		margin: 0 0 1.5em 0;
	}
	.offer-text h4 {
		font-size: 12px;
		margin-bottom: 0.2em;
	}
	.offer-text p {
		font-size: 11px;
	}
	.offer-text input[type="button"] {
		padding: 0.9em 2.5em 0.9em 0.5em;
		font-size: 13px;
		margin-top: 0.4em;
	}
	.offer-text span {
		top: 82%;
		right: 26%;
	}
	.special-offers-section {
		padding: 1.5em 0;
	}
	span.middle-dotted-line {
		left: 7.3em;
		bottom: -156px;
	}
	.nbs-flexisel-nav-left {
		left: 73px;
	}
	.nbs-flexisel-nav-right {
		right: 5em;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
		margin-top: 3.5em;
	}
	.dotted-line {
		background: url(../images/dotted-line.png) no-repeat -260px 9px;
	}
	.ordering-section-head h3 {
		font-size: 1.3em;
	}
	.dotted-line h4 {
		font-size: 1.1em;
	}
	.ordering-section-grid-process p {
		font-size: 14px;
		margin-top: 0.4em;
	    left: -57%;
		width: 95px;
	}
	ul.breadcrumbs li {
		font-size: 0.875em;
	}
	ul.previous li a {
		font-size: 0.875em;
	}
	.dreamcrub {
		margin: 1em 0 2em 0;
	}
	.login-left h3, .login-right h3 {
		font-size: 1.2em;
	}
	.login-left p, .login-right p {
		margin: 0 0 1em 0;
		font-size: 0.93em;
	}
	.acount-btn {
		padding: 0.5em 1em;
		font-size: 0.95em;
	}
	.login-left {
		margin-bottom: 2em;
		padding: 0 0px;
	}
	.login-right span {
		font-size: 0.875em;
	}
	.login-right input[type="text"],.login-right input[type="password"] {
		padding: 0.4em;
	}
	.contact-head h3 {
		font-size: 1.1em;
	}
	.contact-head p {
		font-size: 0.98em;
	}
	.contact-head {
		padding: 0.6em 0;
	}
	.contact_left h4 {
		font-size: 1.15em;
	}
	.contact_top {
		padding: 1.5em 0 1em 0;
	}
	.contact_left p {
		font-size: 1em;
	}
	.form_details input[type="text"], .form_details textarea {
		padding: 4px 10px;
		font-size: 1em;
		margin: 6px 0px;
	}
	.form_details textarea {
		height: 110px;
	}
	.form_details input[type="submit"] {
		font-size: 1em;
		padding: 0.4em 0.9em;
		margin-top: 0.5em;
	}
	.contact-map iframe {
		min-height: 180px;
	}
	.company_ad {
		margin-top: 1.5em;
	}
	.dropdown-button {
		width: 100%;
	}
	.order-form-head h3,.order-form-grid h5 {
		font-size: 1.2em;
	}
	.order-form-head p {
		font-size: 13px;
		margin-bottom: 1em;
	}
	.order-form-grid span {
		font-size: 15px;
	}
	.flat {
		margin: 0.2em 0 1em 0;
	}
	.flat .selected::after {
		padding: 17px 15px;
	}
	.flat .selected, .flat li {
		font-size: 0.875em;
	}
	.order-form-grid input.text {
		padding: 0.3em;
		width: 100%;
		margin: 0.5em 0;
		font-size: 14px;
	}
	.order-form-grid input[type="button"] {
		padding: 0.4em 1.2em;
		font-size: 14px;
	}
	.restaurent-logo {
		width: 38%;
		padding: 0;
		margin-right: 2%;
	}
	.col-md-2.restaurent-title {
		width: 26.666%;
	}
	.restaurent-title h4 {
		font-size: 1em;
		margin: -1px 0 2px 0;
	}
	.rating a {
		font-size: 0.87em;
	}
	.buy {
		margin-top: 0.2em;
		width: 33%;
		padding: 0;
	}
	.Popular-Restaurants-content {
		padding: 2em 0 1em 0;
	}
	.buy span {
		font-size: 1.1em;
	}
	.buy input[type="button"] {
		padding: 0.2em 1.1em;
		font-size: 1em;
	}
	.login-right {
		padding: 0;
	}
	.order-form-grids {
		padding: 0;
	}
	.logo {
		width: 50%;
	}
.logo img {
  width: 100%;
}
a.morebtn {
  padding: 0.15em 1em;
  font-size: 1.2em;
}
.pr-right {
  float: left;
  width: 30%;
  margin: 0.6em 0;
}
.pr-left {
  float: left;
  width: 69%;
}
}
