{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% if not loggedIn %}
        <title>Login V4</title>
        <meta charset="UTF-8">
        {% load socialaccount %}
        {% providers_media_js %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="{% static 'accounts/login_v4/images/icons/favicon.ico' %}"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css"
              href="{% static 'accounts/login_v4/vendor/bootstrap/css/bootstrap.min.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css"
              href="{% static 'accounts/login_v4/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css"
              href="{% static 'accounts/login_v4/fonts/iconic/css/material-design-iconic-font.min.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/login_v4/vendor/animate/animate.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css"
              href="{% static 'accounts/login_v4/vendor/css-hamburgers/hamburgers.min.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css"
              href="{% static 'accounts/login_v4/vendor/animsition/css/animsition.min.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/login_v4/vendor/select2/select2.min.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css"
              href="{% static 'accounts/login_v4/vendor/daterangepicker/daterangepicker.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/login_v4/css/util.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/login_v4/css/main.css' %}">
        <!--===============================================================================================-->
    {% else %}
        <meta http-equiv='refresh' content='2; URL=/'>
    {% endif %}
</head>
<body>
{% if not loggedIn %}
    <div class="limiter">
        <div class="container-login100">
            {#            style="background-image: url('static/accounts/login_v4/images/bg-01.jpg');"#}
            <div class="wrap-login100 p-l-55 p-r-55 p-t-15 p-b-20">
                <form class="login100-form validate-form" method="post">
                    {% csrf_token %}
                    <a class="login100-form-title p-b-20" href="/">
                        Foodsquare
                    </a>

                    <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                        <span class="label-input100">Username</span>
                        <input class="input100" type="text" name="username" placeholder="Type your username">
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        <input class="input100" type="password" name="pass" placeholder="Type your password">
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>

                    <div class="text-right p-t-8 p-b-31">
                        <a href="/accounts/recovery/">
                            Forgot password?
                        </a>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Login
                            </button>
                        </div>
                    </div>



                    <div class="flex-col-c p-t-20">
                        <a class="txt1">
                            or
                        </a>
                        <b><u><a href="/accounts/register/" class="txt2">
                            Create New Account
                        </a></u></b>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="dropDownSelect1"></div>
    <!--===============================================================================================-->
    <script src="{% static 'accounts/login_v4/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'accounts/login_v4/vendor/animsition/js/animsition.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'accounts/login_v4/vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'accounts/login_v4/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'accounts/login_v4/vendor/select2/select2.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'accounts/login_v4/vendor/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'accounts/login_v4/vendor/daterangepicker/daterangepicker.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'accounts/login_v4/vendor/countdowntime/countdowntime.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'accounts/login_v4/js/main.js' %}"></script>
{% else %}
    <b>You are already signed in...</b>
{% endif %}
</body>
</html>