<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    {% load static %}
    <title>َAnimated Login Form</title>
    <link href="{% static 'accounts/css/account.css' %}" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<form class="box" action="{% url 'accounts:login' %}" method="post">
    {% csrf_token %}

    <h1 style="font-family:inherit"><i>Login</i></h1>
    <div class="col">
        <a href="#" class="fb btn">
            <i class="fa fa-facebook fa-fw"></i> Login with Facebook
        </a>
        <a href="#" class="google btn"><i class="fa fa-google fa-fw">
        </i> Login with Google
        </a>
    </div>
    <h3 style="color:white ">Or</h3>

    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" name="" value="Login">
</form>

</body>
</html>
