<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    {% load static %}
    <title>َAnimated Login Form</title>
    <link href="{% static 'accounts/css/account.css' %}" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<form class="box" action="index.html" method="post">
    <h1 style="font-family:inherit"><i>Register</i></h1>
    <div class="col">
        <a href="#" class="fb btn">
            <i class="fa fa-facebook fa-fw"></i> Sign-up with Facebook
        </a>
        <a href="#" class="google btn"><i class="fa fa-google fa-fw">
        </i> Sign-up with Google
        </a>
    </div>
    <h3 style="color:white">Or</h3>

    <input type="text" name="" placeholder="UserName">
    <input type="text" name="" placeholder="Mobile No">
    <input type="text" name="" placeholder="Email">
    <input type="password" name="" placeholder="Password">
    <input type="submit" name="" value="Register">
    <h4 style="color:white">Have an account? <a href="#" style="color:tomato">Login</a></h4>
</form>

</body>
</html>
