{% extends 'browse/base-banner.html' %}
{% load static %}

{% block header %}
    <title>About Us | Foodsquare</title>
{% endblock %}


{% block body-content %}
    <section class="about py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">About Us</h3>
            <div class="about-innergrid-agile text-center">
                <h4>Explore Your Foods With Us</h4>
                <p class="mb-3"> Now it's easier to find foods that you would love to have. Order food online and & get
                    home-delivery
                </p>
                <div style="height: 3vh;"></div>
            </div>
            <div class="about-sub-inner text-center mt-lg-4 mt-3">
                <h4>A faster and better
                    online ordering
                </h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4 abut-gride">
                        <span class="fa fa-cart-plus"></span>
                        <h5>Ordering</h5>
                        <p class="mt-3"> Order online
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 abut-gride">
                        <span class="fa fa-euro-sign"></span>
                        <h5> Payment</h5>
                        <p class="mt-3"> Cash on delivery or Online payment
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 abut-gride">
                        <span class="fas fa-truck"></span>
                        <h5>Delivery</h5>
                        <p class="mt-3"> Get your home delivery
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </section>
{% endblock %}