{% extends 'browse/base-banner.html' %}
{% load static %}

{% block header %}
    <title>Foodsquare | order page :: food ordering made simple</title>
    {#    <link href="{% static 'browse/css/bootstrap.css' %}" rel='stylesheet' type='text/css'/>#}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'browse/js/jquery.min.js' %}"></script>
    <!-- Custom Theme files -->
    <!-- <link href="{% static 'browse/css/style.css' %}" rel="stylesheet" type="text/css" media="all" /> -->
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'browse/toys_shop/css/jquery-ui1.css' %}">

    <link rel="stylesheet" href="{% static 'browse/css/awesomplete.css' %}"/>
    <script src="{% static 'browse/js/awesomplete.js' %}" async></script>
    <!--//price range-->
{% endblock %}


{% block body-js %}
    {#	{% load static %}#}
    <!--js working-->
    <script src="{% static 'browse/toys_shop/js/jquery-2.2.3.min.js' %}"></script>
    <!--//js working-->
    <!-- price range (top products) -->
    <script src="{% static 'browse/toys_shop/js/jquery-ui.js' %}"></script>


    <!-- start-smoth-scrolling -->
    <script src="{% static 'browse/toys_shop/js/move-top.js' %}"></script>
    <script src="{% static 'browse/toys_shop/js/easing.js' %}"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script>
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };


            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //here ends scrolling icon -->
{% endblock %}
<!-- //short-->
<!--About -->
{% block body-content %}
<section class="about py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">About Us</h3>
        <div class="about-innergrid-agile text-center">
            <h4>Welcome To Our Store</h4>
            <p class="mb-3"> velit sagittis vehicula. Duis posuere
                ex in mollis iaculis. Suspendisse tincidunt
                velit sagittis vehicula. Duis posuere
                velit sagittis vehicula. Duis posuere
                ex in mollis iaculis. Suspendisse tincidunt
                velit sagittis vehicula. Duis posuere
            </p>
            <div style="height: 3vh;"></div>
        </div>
        <div class="about-sub-inner text-center mt-lg-4 mt-3">
            <h4>A faster and better
                best to shop
            </h4>
            <div class="row">
                <div class="col-lg-4 col-md-4 abut-gride">
                    <span class="fas fa-truck"></span>
                    <h5>Shipping</h5>
                    <p class="mt-3"> velit sagittis vehicula. Duis posuere
                        ex in mollis iaculis. Suspendisse tincidunt
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 abut-gride">
                    <span class="fas fa-phone-volume"></span>
                    <h5>Support</h5>
                    <p class="mt-3"> velit sagittis vehicula. Duis posuere
                        ex in mollis iaculis. Suspendisse tincidunt
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 abut-gride">
                    <span class="fas fa-undo"></span>
                    <h5> Return</h5>
                    <p class="mt-3"> velit sagittis vehicula. Duis posuere
                        ex in mollis iaculis. Suspendisse tincidunt
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//about -->
<!--Customers Review -->
<!--//Customers Review -->
<!--subscribe-address-->

<!--//subscribe-address-->

{% endblock %}