{% extends 'browse/base-banner.html' %}
{% load static %}

{% block header %}
    <title>Cuisines | FoodSquare</title>

    <!--price range-->
    <link rel="stylesheet" type="text/css" href="{% static 'browse/toys_shop/css/jquery-ui1.css' %}">
    <!--//price range-->
{% endblock %}


{% block body-js %}
    {#    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>#}
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">#}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- price range (top products) -->
    <script src="{% static 'browse/toys_shop/js/jquery-ui.js' %}"></script>
    <script>
        //<![CDATA[
        $(window).load(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 2000,
                values: [10, 600],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

        }); //]]>
    </script>
    <!-- //price range (top products) -->
{% endblock %}

{% block body-content %}
    <!-- short -->
    <div class="using-border py-3">
        <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
                <li>
                    <a href="/">Home</a>
                    <span>/ /</span>
                </li>
                <li>Shop Now</li>
            </ul>
        </div>
    </div>
    <!-- //short-->
    <!--show Now-->
    <!--show Now-->
    <section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Offers for You</h3>
            <div class="row">
                <div class="side-bar col-lg-3">


                    <style>
                        /* The radio_container */
                        .radio_container {
                            display: block;
                            position: relative;
                            padding-left: 35px;
                            margin-bottom: 12px;
                            cursor: pointer;
                            font-size: 15px;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                        }

                        /* Hide the browser's default radio button */
                        .radio_container input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                        }

                        /* Create a custom radio button */
                        .checkmark {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 25px;
                            width: 25px;
                            background-color: #eee;
                            border-radius: 50%;
                        }

                        /* On mouse-over, add a grey background color */
                        .radio_container:hover input ~ .checkmark {
                            background-color: #ccc;
                        }

                        /* When the radio button is checked, add a blue background */
                        .radio_container input:checked ~ .checkmark {
                            background-color: #2196F3;
                        }

                        /* Create the indicator (the dot/circle - hidden when not checked) */
                        .checkmark:after {
                            content: "";
                            position: absolute;
                            display: none;
                        }

                        /* Show the indicator (dot/circle) when checked */
                        .radio_container input:checked ~ .checkmark:after {
                            display: block;
                        }

                        /* Style the indicator (dot/circle) */
                        .radio_container .checkmark:after {
                            top: 9px;
                            left: 9px;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background: white;
                        }
                    </style>
                    <div>
                        <label class="radio_container">Buy Some Get Some
                            <input type="radio" name="show" value="buy_get" class="offer_radio" >
                            <span class="checkmark"></span>
                        </label>
                        <label class="radio_container">Discount
                            <input type="radio" name="show" value="discount" class="offer_radio"
                                  >
                            <span class="checkmark"></span>
                        </label>
                        <label class="radio_container">All
                            <input type="radio" name="show" value="all" class="offer_radio"
                                   checked="checked">
                            <span class="checkmark"></span>
                        </label>


                    </div>


                </div>
                <div class="left-ads-display col-lg-9 product_list">

                    {% include "browse/product_list.html" %}

                </div>


                <script>

                    $(document).ready(function () {

                        $(".offer_radio").click(function () {
                            $.ajax({
                                method: "GET",
                                url: '/offer/',
                                data: {
                                    'offer_type': this.value
                                },
                                responseTime: 200,

                                success: function (data) {

                                    $('.product_list').empty().append(data);
                                }
                            });
                        });
                    });
                </script>
            </div>
        </div>
    </section>
{% endblock %}