{% extends 'browse/base-banner.html' %}

{% block header %}
{% load static %}
<title>Foodsquare | Order</title>

<!--price range-->
<link rel="stylesheet" type="text/css" href="{% static 'browse/toys_shop/css/jquery-ui1.css' %}">
<!--//price range-->
<script>
	addEventListener("load", function () {
		setTimeout(hideURLbar, 0);
	}, false);

	function hideURLbar() {
		window.scrollTo(0, 1);
	}
</script>
<!--//meta tags ends here-->

<!--checkout-->
<link rel="stylesheet" type="text/css" href="{% static 'browse/toys_shop/css/checkout.css' %}">
<!--//checkout-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

{% endblock %}


{% block body-js %}
{#	{% load static %}#}
<!-- //Modal 1-->
<!--js working-->
<script src='js/jquery-2.2.3.min.js'></script>
<!--//js working-->
<!-- cart-js -->
<script src="{% static 'browse/toys_shop/js/minicart.js' %}"></script>
<script>
	toys.render();

	toys.cart.on('toys_checkout', function (evt) {
		var items, len, i;

		if (this.subtotal() > 0) {
			items = this.items();

			for (i = 0, len = items.length; i < len; i++) {
			}
		}
	});
</script>
<!--// cart-js -->
<!--quantity-->
<script>
	$('.value-plus').on('click', function () {
		var divUpd = $(this).parent().find('.value'),
			newVal = parseInt(divUpd.text(), 10) + 1;
		divUpd.text(newVal);
	});

	$('.value-minus').on('click', function () {
		var divUpd = $(this).parent().find('.value'),
			newVal = parseInt(divUpd.text(), 10) - 1;
		if (newVal >= 1) divUpd.text(newVal);
	});
</script>
<!--quantity-->
<!--closed-->
<script>
	$(document).ready(function (c) {
		$('.close1').on('click', function (c) {
			$('.rem1').fadeOut('slow', function (c) {
				$('.rem1').remove();
			});
		});
	});
</script>
<script>
	$(document).ready(function (c) {
		$('.close2').on('click', function (c) {
			$('.rem2').fadeOut('slow', function (c) {
				$('.rem2').remove();
			});
		});
	});
</script>
<script>
	$(document).ready(function (c) {
		$('.close3').on('click', function (c) {
			$('.rem3').fadeOut('slow', function (c) {
				$('.rem3').remove();
			});
		});
	});
</script>
<!--//closed-->
<!-- start-smoth-scrolling -->
<script src="{% static 'browse/toys_shop/js/move-top.js' %}"></script>
<script src="{% static 'browse/toys_shop/js/easing.js' %}"></script>
<script>
	jQuery(document).ready(function ($) {
		$(".scroll").click(function (event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop: $(this.hash).offset().top
			}, 900);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
<script>
	$(document).ready(function () {

		var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear'
		};
		$().UItoTop({
			easingType: 'easeOutQuart'
		});

	});
</script>
<!-- //here ends scrolling icon -->
<!--bootstrap working-->
<script src="{% static 'browse/toys_shop/js/bootstrap.min.js' %}"></script>
<!-- //bootstrap working-->
<!-- //here ends scrolling icon -->
{% endblock %}

{% block body-content %}
{#	{% load static %}#}
<div class="using-border py-3">
	<div class="inner_breadcrumb  ml-4">
		<ul class="short_ls">
			<li>
				<a href="{% static 'browse/toys_shop/index.html' %}">Home</a>
				<span>/ /</span>
			</li>
			<li>Checkout</li>
		</ul>
	</div>
</div>
<!-- //short-->
<!--Checkout-->
<!-- //banner -->
<!-- top Products -->
<section class="checkout py-lg-4 py-md-3 py-sm-3 py-3">
	<div class="container py-lg-5 py-md-4 py-sm-4 py-3">
		<div class="shop_inner_inf">
			<h3>Chec<span>kout</span></h3>
			<h4>Your shopping cart contains: <span>3 Products</span></h4>
			<div class="privacy about" style="display: flexbox" >


				<div class="checkout-right" style="background: yellow">
					<table class="timetable_sub">
						<thead>
							<tr>
								<th>SL No.</th>
								<th>Product</th>
								<th>Quality</th>
								<th>Product Name</th>
								<th>Price</th>
								<th>Remove</th>
							</tr>
						</thead>
						<tbody>
							<tr class="rem1">
								<td class="invert">1</td>
								<td class="invert-image"><a href="{% static 'browse/toys_shop/single.html' %}"><img
											src="{% static 'browse/toys_shop/images/f1.jpg' %}" alt=" "
											class="img-responsive"></a></td>
								<td class="invert">
									<div class="quantity">
										<div class="quantity-select">
											<div class="entry value-minus">&nbsp;</div>
											<div class="entry value"><span>1</span></div>
											<div class="entry value-plus active">&nbsp;</div>
										</div>
									</div>
								</td>
								<td class="invert">Bella Toes</td>
								<td class="invert">$675.00</td>
								<td class="invert">
									<div class="rem">
										<div class="close1"></div>
									</div>
								</td>
							</tr>
							<tr class="rem2">
								<td class="invert">2</td>
								<td class="invert-image"><a href="{% static 'browse/toys_shop/single.html' %}"><img
											src="{% static 'browse/toys_shop/images/f2.jpg' %}" alt=" "
											class="img-responsive"></a></td>
								<td class="invert">
									<div class="quantity">
										<div class="quantity-select">
											<div class="entry value-minus">&nbsp;</div>
											<div class="entry value"><span>1</span></div>
											<div class="entry value-plus active">&nbsp;</div>
										</div>
									</div>
								</td>
								<td class="invert">Red Bellies</td>
								<td class="invert">$325.00</td>
								<td class="invert">
									<div class="rem">
										<div class="close2"></div>
									</div>
								</td>
							</tr>
							<tr class="rem3">
								<td class="invert">3</td>
								<td class="invert-image"><a href="{% static 'browse/toys_shop/single.html' %}"><img
											src="{% static 'browse/toys_shop/images/f3.jpg' %}" alt=" "
											class="img-responsive"></a></td>
								<td class="invert">
									<div class="quantity">
										<div class="quantity-select">
											<div class="entry value-minus">&nbsp;</div>
											<div class="entry value"><span>1</span></div>
											<div class="entry value-plus active">&nbsp;</div>
										</div>
									</div>
								</td>
								<td class="invert">Chikku Loafers</td>
								<td class="invert">$405.00</td>
								<td class="invert">
									<div class="rem">
										<div class="close3"></div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>

					<div class="clearfix"></div>
					<div class="clearfix"></div>
				</div>
				<div class="checkout-left">
					<div class="col-md-4 checkout-left-basket" style="background: #0f0">
						<h4>Continue to basket</h4>
						<ul>
							<li>Product1 <i>-</i> <span>$675.00 </span></li>
							<li>Product2 <i>-</i> <span>$325.00 </span></li>
							<li>Product3 <i>-</i> <span>$405.00 </span></li>
							<li>Total Service Charges <i>-</i> <span>$55.00</span></li>
							<li>Total <i>-</i> <span>$1405.00</span></li>
						</ul>
					</div>
				</div>

			</div>


			<div>

				<div>
					<div class="address_container">
						<style type="text/css">
							.address_container {
								width: 95%;
								max-width: 980px;
								padding: 1% 2%;
								margin: 0 auto;
							}

							#lat,
							#lon {
								text-align: right;
							}

							#map {
								width: 100%;
								height: 50vh;
								padding: 0;
								margin: 0;
								position: static;
							}

							.address {
								cursor: pointer
							}

							.address:hover {
								color: #AA0000;
								text-decoration: underline
							}
						</style>
						<!-- <form> -->
						<input type="hidden" name="lat" id="lat" size=12 value="" form="infoForm" readonly>
						<input type="hidden" name="lon" id="lon" size=12 value="" form="infoForm" readonly>
						<!-- </form> -->

						<b>Address Lookup</b>
						<div>
							<div class="form-group" id="search">
								<label for="Delivey address"><i
										class="zmdi zmdi-account material-icons-name"></i></label>
								<input type="text" name="addr" value="" id="addr_search_box" size="58"
									placeholder="Your delivery Address" />
							</div>
							<div id="results"></div>



							<!-- <div id="map"></div> -->
						</div>

						<script>
							$(document).ready(function () {
								$(window).keydown(function (event) {
									if (event.keyCode == 13) {
										// event.preventDefault();
										return false;
									}
								});
								$('#addr_search_box').bind("enterKey", function (e) {
									var inp = document.getElementById("addr_search_box");
									var xmlhttp = new XMLHttpRequest();
									var url = "https://nominatim.openstreetmap.org/search?format=json&limit=3&q=" + inp.value;
									xmlhttp.onreadystatechange = function () {
										if (this.readyState == 4 && this.status == 200) {
											var myArr = JSON.parse(this.responseText);
											myFunction(myArr);
										}
									};
									xmlhttp.open("GET", url, true);
									xmlhttp.send();
								});
								function myFunction(arr) {
									var out = "<br />";
									var i;

									if (arr.length > 0) {
										for (i = 0; i < arr.length; i++) {
											out += "<div class='address' title='Show Location and Coordinates' onclick='chooseAddr(" + arr[i].lat + ", " + arr[i].lon + ");return false;'>" + arr[i].display_name + "</div>";
										}
										document.getElementById('results').innerHTML = out;
									}
									else {
										document.getElementById('results').innerHTML = "Sorry, no results...";
									}

								}
								$('#addr_search_box').keyup(function (e) {
									if (e.keyCode == 13) {
										$(this).trigger("enterKey");
									}
								});
							});
						</script>
						<script type="text/javascript">

							// New York
							var startlat = 40.75637123;
							var startlon = -73.98545321;

							var options = {
								center: [startlat, startlon],
								zoom: 9
							}

							document.getElementById('lat').value = startlat;
							document.getElementById('lon').value = startlon;

							var map = L.map('map', options);
							var nzoom = 12;

							L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { attribution: 'OSM' }).addTo(map);

							var myMarker = L.marker([startlat, startlon], { title: "Coordinates", alt: "Coordinates", draggable: true }).addTo(map).on('dragend', function () {
								var lat = myMarker.getLatLng().lat.toFixed(8);
								var lon = myMarker.getLatLng().lng.toFixed(8);
								var czoom = map.getZoom();
								if (czoom < 18) { nzoom = czoom + 2; }
								if (nzoom > 18) { nzoom = 18; }
								if (czoom != 18) { map.setView([lat, lon], nzoom); } else { map.setView([lat, lon]); }
								document.getElementById('lat').value = lat;
								document.getElementById('lon').value = lon;
								myMarker.bindPopup("Lat " + lat + "<br />Lon " + lon).openPopup();
							});

							function chooseAddr(lat1, lng1) {
								myMarker.closePopup();
								map.setView([lat1, lng1], 18);
								myMarker.setLatLng([lat1, lng1]);
								lat = lat1.toFixed(8);
								lon = lng1.toFixed(8);
								document.getElementById('lat').value = lat;
								document.getElementById('lon').value = lon;
								myMarker.bindPopup("Lat " + lat + "<br />Lon " + lon).openPopup();
							}


						</script>


					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- //top products -->
	</div>
</section>
<!-- //show Now-->
{% endblock %}