{% extends 'browse/base-banner.html' %}
{% load static %}

{% block header %}
    <title>Contact Us | FoodSquare</title>
{% endblock %}


{% block body-content %}
    <section class="about py-lg-4 py-md-3 py-sm-3 py-3">
        <i class="fa fa-facebook"></i>
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <div class="about-innergrid-agile text-center">
                <h4>Contact us</h4>
                <p class="mb-3"> Foodsquare
                </p>
                <p class="mb-3"> Uttara, Dhaka - 1205
                </p>
                <div style="height: 3vh;"></div>
            </div>
            <div class="about-sub-inner text-center mt-lg-4 mt-3">
                <h4>Reach Us @Online
                </h4>
                <div class="row">
                    Reach us via google, Facebook


                </div>
            </div>
        </div>
    </section>
{% endblock %}