{% extends 'browse/base-banner.html' %}
{% load static %}

{% block header %}
    <title>{{ item.pkg_name }} | {{ item.restaurant.restaurant_name }} | FoodSquare</title>
    <script>
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

    </script>
{% endblock %}

{% block body-content %}
    <!--/shop-->
    <section class="banner-bottom py-lg-5 py-3">
        <div class="container">
            <div class="inner-sec-shop pt-lg-4 pt-3">
                <div class="row">
                    <div class="col-lg-4 single-right-left ">
                        <div class="grid images_3_of_2">
                            <div class="flexslider1">
                                <ul class="slides">
                                    {% for img in item_img %}
                                        <li data-thumb="/media/{{ item.image }}">
                                            <div class="thumb-image"><img src="/media/{{ item.image }}"
                                                                          data-imagezoom="true" class="img-fluid"
                                                                          alt=" ">

                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 single-right-left simpleCart_shelfItem">
                        <h3>{{ item.pkg_name }}</h3>
                        <a href={{ item.restaurant.get_absolute_url }}>
                            <h4>{{ item.restaurant.restaurant_name }}</h4>
                        </a>

                        <p><span class="item_price">BDT {{ item.price }}</span>
                            <del>{{ item.price }}</del>
                        </p>
                        {#                        <button href="#" data-id="{{ item.id }}"#}
                        {#                            data-name="{{ item.pkg_name }}"#}
                        {#                            data-price="{{ item.price }}"#}
                        {#                            data-restaurant-id="{{ restaurant.branch.id }}"#}
                        {#                            class="add-to-cart toys-cart ptoys-cart">#}
                        {#                        <i class="fas fa-cart-plus"></i>#}
                        {#                        </button>#}
                        <div class="container">
                            <style>
                                .rate {
                                    float: left;
                                    height: 46px;
                                    padding: 0 10px;
                                }

                                .rate:not(:checked) > input {
                                    position: absolute;
                                    top: -9999px;
                                }

                                .rate:not(:checked) > label {
                                    float: right;
                                    width: 1em;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    cursor: pointer;
                                    font-size: 30px;
                                    color: #ccc;
                                }

                                .rate:not(:checked) > label:before {
                                    content: '★ ';
                                }

                                .rate > input:checked ~ label {
                                    color: #ffc700;
                                }

                                .rate:not(:checked) > label:hover,
                                .rate:not(:checked) > label:hover ~ label {
                                    color: #deb217;
                                }

                                .rate > input:checked + label:hover,
                                .rate > input:checked + label:hover ~ label,
                                .rate > input:checked ~ label:hover,
                                .rate > input:checked ~ label:hover ~ label,
                                .rate > label:hover ~ input:checked ~ label {
                                    color: #c59b08;
                                }
                            </style>
                            <div class="row">
                                <div class="rate">

                                    <input type="radio" id="star5" name="rate" value="5"/>
                                    <label for="star5" title="text">5 stars</label>
                                    <input type="radio" id="star4" name="rate" value="4"/>
                                    <label for="star4" title="text">4 stars</label>
                                    <input type="radio" id="star3" name="rate" value="3"/>
                                    <label for="star3" title="text">3 stars</label>
                                    <input type="radio" id="star2" name="rate" value="2"/>
                                    <label for="star2" title="text">2 stars</label>
                                    <input type="radio" id="star1" name="rate" value="1"/>
                                    <label for="star1" title="text">1 star</label>
                                </div>
                                <script>
                                    var user_rating = {{ user_rating.rating }};
                                    if (user_rating !== "None") {
                                        {#alert(user_rating + " " + star{{ user_rating.rating }});#}
                                        $("#star{{ user_rating.rating }}").prop("checked", true);

                                    }
                                </script>
                                <script>
                                    $('.rate input').on('change', function () {
                                        var rate_val = $("input[type='radio'][name='rate']:checked").val();
                                        var csrftoken = getCookie('csrftoken');
                                        {% if loggedIn %}

                                            $.ajax({
                                                type: "POST",
                                                headers: {
                                                    "X-CSRFToken": csrftoken
                                                },
                                                url: 'submitRating/',
                                                data: {
                                                    'pkg-id': {{ item.id }},
                                                    'rating': rate_val

                                                },
                                                dataType: 'json',
                                                success: function (data) {

                                                }
                                            });

                                        {% else %}

                                            alert('Please log in to post review');
                                        {% endif %}
                                    });
                                </script>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h6 style="color: #9F0053">What you'll get</h6>
                                    <ul>
                                        {% for ing in ing_list %}
                                            <li>{{ ing | title }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-4">
                        <style>
                            .glyphicon {
                                margin-right: 5px;
                            }

                            .rating .glyphicon {
                                font-size: 22px;
                            }

                            .rating-num {
                                margin-top: 0px;
                                font-size: 54px;
                            }

                            .progress {
                                margin-bottom: 5px;
                            }

                            .progress-bar {
                                text-align: left;
                            }

                            .rating-desc .col-md-3 {
                                padding-right: 0px;
                            }

                            .sr-only {
                                margin-left: 5px;
                                overflow: visible;
                                clip: auto;
                            }
                        </style>

                        {#                        <div class="container">#}
                        <div class="row">
                            <div class="">
                                <div class="well well-sm">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6 text-center">
                                            <h1 class="rating-num">
                                                {{ avg_rating |floatformat:1 }}</h1>
                                            <div>
                                                <span class="glyphicon glyphicon-star"></span><span
                                                    class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star-empty"></span>
                                            </div>
                                            <div>
                                                <span class="glyphicon glyphicon-user"></span>
                                                <p id="total_rate"></p> people rated
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="row rating-desc">
                                                {% for i in "54321" %}
                                                    <div class="col-xs-3 col-md-3 text-right">
                                                        <span class="glyphicon glyphicon-star"></span>{{ i }}
                                                    </div>
                                                    <div class="col-xs-8 col-md-9">
                                                        <div class="progress progress-striped">
                                                            <div class="progress-bar progress-bar-success"
                                                                 role="progressbar" aria-valuenow=""
                                                                 aria-valuemin="0" aria-valuemax="100"
                                                                 style="width: 80%">
                                                                <span class="sr-only">80%</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                <script>
                                                    var total = 0;//set this on initial page load

                                                    rating_ara = new Array();
                                                    {% for rating in ratings %}
                                                        rating_ara[{{ forloop.counter0 }}] = {{ rating }};
                                                    {% endfor %}
                                                    var i = 1;
                                                    for (i = 0; i <= 5; i++) total += rating_ara[i];
                                                    document.getElementById('total_rate').innerText = total;
                                                    for (i = 1; i <= 5; i++) {
                                                        var count = rating_ara[i];

                                                        var pcg = Math.floor(count / total * 100);
                                                        document.getElementsByClassName('progress-bar').item(5 - i).setAttribute('aria-valuenow', pcg);
                                                        document.getElementsByClassName('progress-bar').item(5 - i).setAttribute('style', 'width:' + Number(pcg) + '%');
                                                    }

                                                </script>

                                            </div>
                                            <!-- end row -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {#                        </div>#}
                    </div>
                    <div class="clearfix"></div>
                    <!--/tabs-->
                    <!--//tabs-->


                </div>
                <div style="height: 5vh;"></div>
                <div class="row">
                    <div class="col-md-7 add-review">
                        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
                        <!------ Include the above in your HEAD tag ---------->
                        {% for comment in comments %}
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="https://image.ibb.co/jw55Ex/def_face.jpg"
                                                 class="img img-rounded img-fluid"/>
                                            <p class="text-secondary text-center">{{ comment.time }}</p>
                                        </div>
                                        <div class="col-md-9">
                                            <p>
                                                <a class="float-left"
                                                   href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>{{ comment.user_name }}</strong></a>

                                            </p>
                                            <div class="clearfix"></div>
                                            <p>{{ comment.comment }}</p>
                                            <div style="position: absolute; bottom: 0%; right: 3%;">
                                                <a href="{{ comment.comment_id }}"
                                                   class="float-bottom btn text-white btn-danger react" id="like"> <i
                                                        class="fa fa-thumbs-up"></i> Like <font
                                                        id="like_count{{ comment.comment_id }}">{{ comment.nlikes }}</font>
                                                </a>
                                                <a href="{{ comment.comment_id }}"
                                                   class="float-bottom btn text-white btn-danger react" id="dislike"> <i
                                                        class="fa fa-thumbs-down"></i> Dislike <font
                                                        id="dislike_count{{ comment.comment_id }}">{{ comment.ndislikes }}</font></a>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        {% endfor %}
                        {% if loggedIn %}
                            <script>
                                var csrftoken = getCookie('csrftoken');
                                $.ajaxSetup({
                                    beforeSend: function (xhr, settings) {
                                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                        }
                                    }
                                });
                                var $react = $(this);

                                $(".react").click(function () {
                                    event.preventDefault();
                                    $.ajax({
                                        context: this,

                                        type: "POST",
                                        headers: {
                                            "X-CSRFToken": csrftoken
                                        },
                                        url: 'reactOn/',
                                        data: {
                                            'comment-id': $(this).attr('href'),
                                            'pkg-id': {{ item.id }},
                                            'react': this.id
                                        },
                                        dataType: 'json',
                                        success: function (data) {
                                            $('#like_count' + $(this).attr('href')).text(data['nlikes']);
                                            $('#dislike_count' + $(this).attr('href')).text(data['ndislikes']);


                                        }
                                    });

                                });
                            </script>
                        {% endif %}

                        <div style="height: 2vh;"></div>

                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="comment">Leave a review:</label>
                                    <textarea class="form-control" rows="2" id="comment"></textarea>
                                </div>

                                <div style="position: relative; bottom: 6%; left: 79%;">
                                    <button type="button" class="btn btn-info" id="submit_review">Submit Review</button>

                                </div>

                            </div>
                            <p id="test"></p>
                            <script>
                                var csrftoken = getCookie('csrftoken');
                                $("#submit_review").click(function () {

                                    {% if loggedIn %}
                                        if ($('#comment').val().trim().length != 0) {
                                            $.ajax({
                                                type: "POST",
                                                headers: {
                                                    "X-CSRFToken": csrftoken
                                                },
                                                url: 'submitReview/',
                                                data: {
                                                    'pkg-id': {{ item.id }},
                                                    'comment': $('#comment').val()

                                                },
                                                dataType: 'json',
                                                success: function (data) {
                                                    location.reload();
                                                }
                                            });
                                        }

                                    {% else %}
                                        alert('Please log in to post review');
                                    {% endif %}
                                });

                            </script>

                        </div>

                    </div>

                </div>


            </div>

        </div>
        </div>
    </section>

{% endblock %}

{% block body-js %}
    <!-- newsletter modal -->
    <!-- price range (top products) -->
    <script src="{% static '/browse/toys_shop/js/jquery-ui.js' %}"></script>
    <script>
        //<![CDATA[
        $(window).load(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 9000,
                values: [50, 6000],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

        }); //]]>
    </script>
    <!-- //price range (top products) -->
    <!-- single -->
    <script src="{% static '/browse/toys_shop/js/imagezoom.js' %}"></script>
    <!-- single -->
    <!-- script for responsive tabs -->
    <script src="{% static '/browse/toys_shop/js/easy-responsive-tabs.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <!-- FlexSlider -->
    <script src="{% static '/browse/toys_shop/js/jquery.flexslider.js' %}"></script>
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider1').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
    <!-- //FlexSlider-->
    <!-- start-smoth-scrolling -->
    <script src="{% static '/browse/toys_shop/js/move-top.js' %}"></script>
    <script src="{% static '/browse/toys_shop/js/easing.js' %}"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script>
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };


            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- //smooth-scrolling-of-move-up -->
{% endblock %}
