{% extends 'browse/base-banner.html' %}

{% block header %}
	{% load static %}
	<title>Foodsquare | View Item Details</title>
{% endblock %}

{% block body-content %}
	<!--/shop-->
	<section class="banner-bottom py-lg-5 py-3">
		<div class="container">
			<div class="inner-sec-shop pt-lg-4 pt-3">
				<div class="row">
					<div class="col-lg-4 single-right-left ">
						<div class="grid images_3_of_2">
							<div class="flexslider1">
								<ul class="slides">
									{% for img in item_img %}
										{#										<li data-thumb="{% static img %}">#}
										{#											<div class="thumb-image"><img src="{% static img %}"#}
										{#											                              data-imagezoom="true" class="img-fluid"#}
										{#											                              alt=" "></div>#}
										{#										</li>#}
										<li data-thumb="/media/{{ item.img }}">
											<div class="thumb-image"><img src="/media/{{ item.img }}"
											                              data-imagezoom="true" class="img-fluid"
											                              alt=" "></div>
										</li>
									{% endfor %}
								</ul>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<div class="col-lg-8 single-right-left simpleCart_shelfItem">
						<h3>{{ item.name }}</h3>
						<p><span class="item_price">{{ item.price }}</span>
							<del>{{ item.price }}</del>
						</p>
						<div class="rating1">
							<ul class="stars">
								{% for i in item.rating %}
									<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
								{% endfor %}

{#								<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>#}
{#								<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>#}
{#								<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>#}
{#								<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>#}
{#								<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>#}
							</ul>
						</div>
						<div class="description">
							<h5>Check delivery, payment options and charges at your location</h5>
							<form action="#" method="post">
								<input class="form-control" type="text" name="Email" placeholder="Please enter..."
								       required="">
								<input type="submit" value="Check">
							</form>
						</div>
{#						<div class="color-quality">#}
{#							<div class="color-quality-right">#}
{#								<h5>Size :</h5>#}
{#								<select id="country1" onchange="change_country(this.value)"#}
{#								        class="frm-field required sect">#}
{#									<option value="null">2 Feet</option>#}
{#									<option value="null">3 Feet</option>#}
{#									<option value="null">4 Feet</option>#}
{#									<option value="null">5 Feet</option>#}
{#								</select>#}
{#							</div>#}
{#						</div>#}
{#						<div class="occasional">#}
{#							<h5>Types :</h5>#}
{#							<div class="colr ert">#}
{#								<label class="radio"><input type="radio" name="radio" checked=""><i></i> Soft Teddy Bear#}
{#									(Black)</label>#}
{#							</div>#}
{#							<div class="colr">#}
{#								<label class="radio"><input type="radio" name="radio"><i></i>Soft Teddy Bear#}
{#									(Brown)</label>#}
{#							</div>#}
{#							<div class="colr">#}
{#								<label class="radio"><input type="radio" name="radio"><i></i>Pink Teddy Bear#}
{#									(Pink)</label>#}
{#							</div>#}
{#							<div class="clearfix"></div>#}
{#						</div>#}
{#						<div class="occasion-cart">#}
{#							<div class="toys single-item singlepage">#}
{#								<form action="#" method="post">#}
{#									<input type="hidden" name="cmd" value="_cart">#}
{#									<input type="hidden" name="add" value="1">#}
{#									<input type="hidden" name="toys_item" value="Farenheit">#}
{#									<input type="hidden" name="amount" value="575.00">#}
{#									<button type="submit" class="toys-cart ptoys-cart add">#}
{#										Add to Cart#}
{#									</button>#}
{#								</form>#}
{#							</div>#}
{#						</div>#}
						<ul class="footer-social text-left mt-lg-4 mt-3">
							<li>Share On :</li>
							<li class="mx-1">
								<a href="#">
									<span class="fab fa-facebook-f"></span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span class="fab fa-twitter"></span>
								</a>
							</li>
							<li class="mx-1">
								<a href="#">
									<span class="fab fa-google-plus-g"></span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span class="fab fa-linkedin-in"></span>
								</a>
							</li>
							<li class="mx-1">
								<a href="#">
									<span class="fas fa-rss"></span>
								</a>
							</li>
						</ul>
					</div>
					<div class="clearfix"></div>
					<!--/tabs-->
					<div class="responsive_tabs">
						<div id="horizontalTab">
							<ul class="resp-tabs-list">
								<li>Description</li>
								<li>Reviews</li>
								<li>Information</li>
							</ul>
							<div class="resp-tabs-container">
								<!--/tab_one-->
								<div class="tab1">
									<div class="single_page">
										<h6>Lorem ipsum dolor sit amet</h6>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula
											augue eget nisl ullamcorper, molestie
											blandit ipsum auctor. Mauris volutpat augue dolor.Consectetur adipisicing
											elit, sed do eiusmod tempor incididunt
											ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
											exercitation ullamco. labore et dolore
											magna aliqua.
										</p>
										<p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing
											elPellentesque vehicula augue eget nisl ullamcorper, molestie
											blandit ipsum auctor. Mauris volutpat augue dolor.Consectetur adipisicing
											elit, sed do eiusmod tempor incididunt
											ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
											exercitation ullamco. labore et dolore
											magna aliqua.
										</p>
									</div>
								</div>
								<!--//tab_one-->
								<div class="tab2">
									<div class="single_page">
										<div class="bootstrap-tab-text-grids">
											<div class="bootstrap-tab-text-grid">
												<div class="bootstrap-tab-text-grid-left">
													<img src="{% static reviewer_img %}" alt=" "
													     class="img-fluid">
												</div>
												<div class="bootstrap-tab-text-grid-right">
													<ul>
														<li><a href="#">Admin</a></li>
														<li><a href="#"><i class="fa fa-reply-all"
														                   aria-hidden="true"></i> Reply</a></li>
													</ul>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing
														elPellentesque vehicula augue eget.Ut enim ad minima veniam,
														quis nostrum exercitationem ullam corporis suscipit laboriosam,
														nisi ut aliquid ex ea commodi consequatur? Quis
														autem vel eum iure reprehenderit.
													</p>
												</div>
												<div class="clearfix"></div>
											</div>
											<div class="add-review">
												<h4>add a review</h4>
												<form action="#" method="post">
													<div class="row">
														<div class="col-md-6">
															<input type="text" name="Name" required="">
														</div>
														<div class="col-md-6">
															<input type="email" name="Email" required="">
														</div>
													</div>
													<textarea name="Message" required=""></textarea>
													<input type="submit" value="SEND">
												</form>
											</div>
										</div>
									</div>
								</div>
								<div class="tab3">
									<div class="single_page">
										<h6>Teddy Bear(Blue)</h6>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula
											augue eget nisl ullamcorper, molestie
											blandit ipsum auctor. Mauris volutpat augue dolor.Consectetur adipisicing
											elit, sed do eiusmod tempor incididunt
											ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
											exercitation ullamco. labore et dolore
											magna aliqua.
										</p>
										<p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing
											elPellentesque vehicula augue eget nisl ullamcorper, molestie
											blandit ipsum auctor. Mauris volutpat augue dolor.Consectetur adipisicing
											elit, sed do eiusmod tempor incididunt
											ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
											exercitation ullamco. labore et dolore
											magna aliqua.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--//tabs-->
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block body-js %}
	<!--jQuery-->
	<script src="{% static '/browse/toys_shop/js/jquery-2.2.3.min.js' %}"></script>
	<!-- newsletter modal -->
	<!-- cart-js -->
	<script src="{% static '/browse/toys_shop/js/minicart.js' %}"></script>
	<script>
		toys.render();

		toys.cart.on('toys_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) {
				}
			}
		});
	</script>
	<!-- //cart-js -->
	<!-- price range (top products) -->
	<script src="{% static '/browse/toys_shop/js/jquery-ui.js' %}"></script>
	<script>
		//<![CDATA[
		$(window).load(function () {
			$("#slider-range").slider({
				range: true,
				min: 0,
				max: 9000,
				values: [50, 6000],
				slide: function (event, ui) {
					$("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
				}
			});
			$("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

		}); //]]>
	</script>
	<!-- //price range (top products) -->
	<!-- single -->
	<script src="{% static '/browse/toys_shop/js/imagezoom.js' %}"></script>
	<!-- single -->
	<!-- script for responsive tabs -->
	<script src="{% static '/browse/toys_shop/js/easy-responsive-tabs.js' %}"></script>
	<script>
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion
				width: 'auto', //auto or any width like 600px
				fit: true, // 100% fit in a container
				closed: 'accordion', // Start closed if in accordion view
				activate: function (event) { // Callback function if tab is switched
					var $tab = $(this);
					var $info = $('#tabInfo');
					var $name = $('span', $info);
					$name.text($tab.text());
					$info.show();
				}
			});
			$('#verticalTab').easyResponsiveTabs({
				type: 'vertical',
				width: 'auto',
				fit: true
			});
		});
	</script>
	<!-- FlexSlider -->
	<script src="{% static '/browse/toys_shop/js/jquery.flexslider.js' %}"></script>
	<script>
		// Can also be used with $(document).ready()
		$(window).load(function () {
			$('.flexslider1').flexslider({
				animation: "slide",
				controlNav: "thumbnails"
			});
		});
	</script>
	<!-- //FlexSlider-->
	<!-- start-smoth-scrolling -->
	<script src="{% static '/browse/toys_shop/js/move-top.js' %}"></script>
	<script src="{% static '/browse/toys_shop/js/easing.js' %}"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- here stars scrolling icon -->
	<script>
		$(document).ready(function () {

			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};


			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- //smooth-scrolling-of-move-up -->
{% endblock %}
