{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'browse/css/notification.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-animate.js"></script>
{% verbatim %}
<div ng-app="demoApp" class="ng-app">
    <div class="wrapper" ng-controller="demoController" style="padding-top: 35%">
        <div class="nav-bar">

            <div class="dropdowns-wrapper">
                <div class="dropdown-container">
                    <div class="notifications dropdown dd-trigger" ng-click="showNotifications($event)">
                        <span class="count animated" id="notifications-count">{{newNotifications.length}}</span>
                        <span class="fa fa-bell" id="bell_icon" style="color: white"></span>
                    </div>
                    <div class="dropdown-menu animated" id="notification-dropdown"
                         style="visibility: visible !important;">
                        <div class="dropdown-header">
                            <span class="triangle"></span>
                            <span class="heading">Notifications</span>
                            <span class="count" id="dd-notifications-count">{{newNotifications.length}}</span>
                        </div>
                        <div class="dropdown-body">
                            <div class="notification new" ng-repeat="notification in newNotifications">

                                <div class="notification-text">
                                    <span class="highlight">{{notification}}</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
{% endverbatim %}
