{% extends 'browse/base-banner.html' %}

{% block header %}
    {% load static %}
    <title>Foodsquare | Order</title>

    <!--price range-->
    <link rel="stylesheet" type="text/css" href="{% static 'browse/toys_shop/css/jquery-ui1.css' %}">
    <!--//price range-->
{% endblock %}


{% block body-js %}
    <!--js working-->
    <script src="{% static 'browse/toys_shop/js/jquery-2.2.3.min.js' %}"></script>
    <!--//js working-->
    {#    Notification - Did not work#}
    <script type="text/javascript" src="{% static 'browse/js/notify.js' %}"></script>
    {#    Notification#}
    {#Cart#}
    {#    <link href="{% static 'browse/css/cart.css' %}" rel='stylesheet' type='text/css'/>#}
    <script type="text/javascript" src="{% static 'browse/js/cart.js' %}"></script>
    {#Cart#}
    {#    <script src="{% static 'browse/js/cart.js' %}"></script>#}
    <!-- price range (top products) -->
    <script src="{% static 'browse/toys_shop/js/jquery-ui.js' %}"></script>
    <script>
		//<![CDATA[
		$(window).load(function () {
			$("#slider-range").slider({
				range: true,
				min: 0,
				max: 2000,
				values: [10, 600],
				slide: function (event, ui) {
					$("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
				}
			});
			$("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

		}); //]]>
    </script>
    <!-- //price range (top products) -->

    <!-- start-smoth-scrolling -->
    <script src="{% static 'browse/toys_shop/js/move-top.js' %}"></script>
    <script src="{% static 'browse/toys_shop/js/easing.js' %}"></script>
    <script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script>
		$(document).ready(function () {

			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};


			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
    </script>
    <!-- //here ends scrolling icon -->
{% endblock %}

{% block body-content %}
    {#	{% load static %}#}
    <!-- short -->
    <div class="using-border py-3">
        <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
                <li>
                    <a href="/">Home</a>
                    <span>/ /</span>
                </li>
                <li>Shop Now</li>
            </ul>
        </div>
    </div>
    <!-- //short-->
    <!--show Now-->
    <!--show Now-->
    <section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Food list</h3>
            <div class="row">
                <div class="side-bar col-lg-3">
                    <form action="." method="GET">
                        {#                        <div class="search-hotel">#}
                        {#                            <input type="submit" value=" ">#}
                        {#                        </div>#}
                        <div class="search-hotel">
                            {#                                                        <form action="." method="GET">#}
                            {#                            <h3 class="agileits-sear-head">Search Here ...</h3>#}
                            <input type="search" placeholder="Product name..." name="menu_search">
                            {#                            <form name="search">#}
                            {#                            <input type="submit" value=" ">#}
                            {#                            <i class="fa fa-search"><input class="fa fa-search" type="submit" value=" "></i>#}

                            {#                                                        </form>#}
                        </div>
                        <!-- price range -->
                        <div class="range">
                            <h3 class="agileits-sear-head">Price range</h3>
                            <ul class="dropdown-menu6">
                                <li>

                                    <div id="slider-range"></div>
                                    <input type="text" id="amount" name="range"
                                           style="border: 0; color: #ffffff; font-weight: normal;"/>
                                </li>
                            </ul>
                        </div>
                        <br>
                        <div align="center">
                            <button class="btn btn-warning" type="submit">
                                <i class="fa fa-search"></i> Search
                            </button>

                        </div>
                        <!-- //price range -->
                        <!--preference -->
                    </form>
                </div>
                <div class="left-ads-display col-lg-9">
                    <div class="row">
                        {# Searched Product list show start #}
                        {% for item in item_list %}
                            <div class="col-lg-4 col-md-6 col-sm-6 product-men women_two">
                                <div class="product-toys-info">
                                    <div class="men-pro-item">
                                        <div class="men-thumb-item">
                                            <img src="/media/{{ item.img }}" class="img-thumbnail img-fluid" alt="">
                                            <div class="men-cart-pro">
                                                <div class="inner-men-cart-pro">
                                                    <a href={{ item.url }} class="link-product-add-cart">Quick View</a>
                                                </div>
                                            </div>
                                            <span class="product-new-top">New</span>
                                        </div>
                                        <div class="item-info-product">
                                            <div class="info-product-price">
                                                <div class="grid_meta">
                                                    <div class="product_price">
                                                        <h4>
                                                            <a href={{ item.url }}>{{ item.name }}</a>
                                                        </h4>
                                                        <div class="grid-price mt-2">
                                                            <span class="money ">BDT {{ item.price }}</span>
                                                        </div>
                                                    </div>
                                                    <ul class="stars">
                                                        {% for star in item.rating %}
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fas fa-star"></i>
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                <div class="toys single-item hvr-outline-out">
                                                    {#                                                    <form action="#" method="post">#}
                                                    {#                                                        <input type="hidden" name="cmd" value="_cart">#}
                                                    {#                                                        <input type="hidden" name="add" value="1">#}
                                                    {#                                                        <input type="hidden" name="toys_item" value="toys(barbie)">#}
                                                    {#                                                        <input type="hidden" name="amount" value="575.00">#}
                                                    {#                                                        <button type="submit" class="toys-cart ptoys-cart">#}
                                                    {#                                                            <i class="fas fa-cart-plus"></i>#}
                                                    {#                                                        </button>#}
                                                    {#                                                    </form>#}
                                                    <script>
														function showsuccess() {
															$.notify(name + " has been added to your cart.", {
																position: "center",
																autoHideDelay: 5000
															});
														}
                                                    </script>
                                                    <button href="#" data-pkg-id="{{ item.id }}"
                                                            data-name="{{ item.name }}"
                                                            data-price="{{ item.price }}"
                                                            class="add-to-cart toys-cart ptoys-cart"
                                                            onclick="showsuccess()">
                                                        <i class="fas fa-cart-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {# Searched Product list show start #}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //show Now-->
{% endblock %}