{% extends 'browse/base-banner.html' %}
{% load static %}

{% block header %}
    <title>Foodsquare | Order</title>

    <!--price range-->
    <link rel="stylesheet" type="text/css" href="{% static 'browse/toys_shop/css/jquery-ui1.css' %}">
    <!--//price range-->
{% endblock %}


{% block body-js %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">#}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- price range (top products) -->
    <script src="{% static 'browse/toys_shop/js/jquery-ui.js' %}"></script>
    <script>
        //<![CDATA[
        $(window).load(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 2000,
                values: [10, 600],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

        }); //]]>
    </script>
    <!-- //price range (top products) -->

    <!-- start-smoth-scrolling -->
    <script src="{% static 'browse/toys_shop/js/move-top.js' %}"></script>
    <script src="{% static 'browse/toys_shop/js/easing.js' %}"></script>
    {#    <script src="{% static 'browse/js/cart.js' %}"></script>#}
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script>
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };


            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });

    </script>
    <!-- jQuery library -->

    <!-- //here ends scrolling icon -->
{% endblock %}

{% block body-content %}
    <!-- short -->
    <div class="using-border py-3">
        <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
                <li>
                    <a href="/">Home</a>
                    <span>/ /</span>
                </li>
                <li>Shop Now</li>
            </ul>
        </div>
    </div>
    <!-- //short-->
    <!--show Now-->
    <!--show Now-->
    <section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Food list</h3>
            <div class="row">
                <div class="side-bar col-lg-3">

                    <div class="search-hotel">

                        <input type="search" placeholder="Product name..." id="menu_search" name="menu_search">

                    </div>
                    <!-- price range -->
                    <div class="price_range">
                        <h3 class="agileits-sear-head">Price range</h3>

                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" id="min_range" placeholder="min" style="width: 100%">

                            </div>
                            <div class="col-md-4">
                                <input type="text" id="max_range" placeholder="max" style="width: 100%">

                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-danger" id="get_menus" >
                                    <i class="fas fa-paper-plane"></i>Get
                                </button>

                            </div>
                        </div>

                    </div>


                    <div class="customer-rev left-side">
                        <h3 class="agileits-sear-head">Customer Review</h3>
                        <ul class="rating_group">

                            <li>

                                <button name="5" style="border: none; outline: none; background: transparent;" >
                                    {% for j in "12345" %}
                                        <i class="fas fa-star"></i>
                                    {% endfor %}
                                </button>
                                <span>5.0</span>

                            </li>
                            <li>

                                <button type="submit" form="rating_form" name="4" style="border: none; outline: none; background: transparent;">
                                    {% for j in "1234" %}
                                        <i class="fas fa-star"></i>
                                    {% endfor %}
                                    {% for j in "5" %}
                                        <i class="far fa-star"></i>
                                    {% endfor %}
                                </button>
                                <span>And Up</span>

                            </li>

                            <li>

                                <button type="submit" form="rating_form" name="3" style="border: none; outline: none; background: transparent;">
                                    {% for j in "123" %}
                                        <i class="fas fa-star"></i>
                                    {% endfor %}
                                    {% for j in "45" %}
                                        <i class="far fa-star"></i>
                                    {% endfor %}
                                </button>
                                <span>And Up</span>

                            </li>
                            <li>

                                <button type="submit" form="rating_form" name="2" style="border: none; outline: none; background: transparent;">
                                    {% for j in "12" %}
                                        <i class="fas fa-star"></i>
                                    {% endfor %}
                                    {% for j in "345" %}
                                        <i class="far fa-star"></i>
                                    {% endfor %}
                                </button>
                                <span>And Up</span>

                            </li>
                            <li>

                                <button type="submit" form="rating_form" name="1" style="border: none; outline: none; background: transparent;">
                                    {% for j in "1" %}
                                        <i class="fas fa-star"></i>
                                    {% endfor %}
                                    {% for j in "2345" %}
                                        <i class="far fa-star"></i>
                                    {% endfor %}
                                </button>
                                <span>And Up</span>

                            </li>
                        </ul>
                    </div>

                    <style>
                        #mainselection select {
                            border: none;
                            outline: none;
                            color: #000;
                            background: transparent;
                            font-size: 18px;
                            font-weight: bold;
                            padding: 2px 10px;
                        {#width: 100%;#}
                        {#*width: 100%;#}
                        {#*background: #0a6aa1;#}
                            -webkit-appearance: none;
                        }

                        #mainselection {
                            overflow:hidden;
                            width:70%;
                            -moz-border-radius: 9px 9px 9px 9px;
                            -webkit-border-radius: 9px 9px 9px 9px;
                            border-radius: 9px 9px 9px 9px;
                            box-shadow: 1px 1px 11px #330033;
                            background: #9F0053;
                        }

                    </style>
                    <div id="mainselection">
                        <select id="rest_select">
                            <option>Select an Option</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                        <i class="fa fa-caret-down"></i>
                    </div>


                </div>
                <div class="left-ads-display col-lg-9 product_list">
                    {% include "browse/product_list.html" %}
                </div>

                <script>
                    var rating = 1;
                    var min_range = 0;
                    var max_range = 10000;
                    var menu_name;
                    var rest_name;
                    $(document).ready(function () {
                        $('#rest_select').on('change', function() {
                            alert( this.value );
                        });
                        $(".rating_group button").click(function () {
                            rating = this.name;
                            $('#get_menus').click();
                            {#alert(rating);#}
                        });
                        $(".price_range button").click(function () {
                            min_range = $('#min_range').val();
                            max_range = $('#max_range').val();
                            {#$('#get_menus').click();#}

                        });
                        $('#menu_search').on('keypress', function (e) {
                            var code = e.keyCode || e.which;
                            if(code==13){
                                menu_name = $("#menu_search").val();
                                $('#get_menus').click();
                            }
                        });
                        $("#get_menus").click(function () {
                            $.ajax({
                                method: "GET",
                                url: 'filter/',
                                data: {
                                    'rating': rating,
                                    'min_range': min_range,
                                    'max_range' : max_range,
                                    'menu_name' : menu_name
                                },
                                responseTime: 200,

                                success: function (data) {
                                    console.log(data);
                                    {#document.getElementsByClassName('product_list').innerHTML = data;#}

                                    $('.product_list').empty().append(data);
                                }
                            });
                        });
                    });
                </script>
            </div>
        </div>
    </section>
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">#}
    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
    {#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>#}
    <!-- //show Now-->
{% endblock %}