{% load static %}
<style>

    .tooltip-container {
        position: relative;
    }
    .tooltip-container:hover .tooltip-content {
        visibility: visible;
        opacity: 1;
        transition: 0.25s all ease;
        transition-delay: 0s;
        top: -125px;
    }
    .tooltip-content {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        background: #EA5E3D;
        left: -38px;
        top: -130px;
        padding: 0 15px;
        margin: 16px;
        font-size: 15px;
        width: 250px;
        transition: 0.25s all ease;
        transition-delay: 0.25s;
        z-index: 2;
        color: #fff;
    }
    .tooltip-content .align-right {
        text-align: right;
    }
    .tooltip-content .align-right a {
        color: red;
        text-decoration: none;
    }
    .tooltip-content .align-right a:hover {
        text-decoration: underline;
    }
    .tooltip-content:after {
        content: "";
        position: absolute;
        border-width: 10px;
        border-style: solid;
        top: 100%;
        left: 25px;
        border-color: #000 transparent transparent transparent;
    }

</style>
<div class="row">
    {# Searched Product list show start #}
    {% for item in item_list %}
        <div class="col-lg-4 col-md-6 col-sm-6 tooltip-container " id="offer_hover{{ item.id }}"
                {#             onmouseover="document.getElementById('offer_details{{ item.id }}').style.visibility='visible';"#}
                {#             onmouseout="document.getElementById('offer_details{{ item.id }}').style.visibility='hidden';"#}

        >
            <div class="tooltip-content">
                <li>Dhanmondi : 20%</li>
                <li>Dhanmondi : 20%</li>

                <li>Dhanmondi : 20%</li>
                <li>Dhanmondi : 20%</li>
            </div>

            <div class=" product-men women_two">
                <div class="product-toys-info">
                    <div class="men-pro-item">
                        <div class="men-thumb-item">
                            <img src="/media/{{ item.image }}" class="img-thumbnail img-fluid" alt=""
                                 style="height: 190px;width: 290px;">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href={{ item.get_absolute_url }} class="link-product-add-cart">Quick
                                        View</a>
                                </div>
                            </div>

                            <span class="product-new-top" >Offer ! </span>


                        </div>
                        <div class="item-info-product">
                            <div class="info-product-price">
                                <div class="grid_meta">
                                    <div class="product_price">
                                        {#                                    <h4>#}
                                        <a href={{ item.get_absolute_url }}><h4>{{ item.pkg_name }}</h4></a>
                                        {#                                    </h4>#}
                                        <div class="grid-price mt-2">
                                            <span class="money ">BDT {{ item.price }}</span>
                                        </div>
                                    </div>
                                    <div id="star_rating{{ item.id }}">
                                        {#                                    <i class="fa fa-star-half-full"></i>#}
                                    </div>
                                    <script>

                                        var i = 0;
                                        var rating = {{ item.get_avg_rating }};
                                        for(i = 0;i<rating;i++){
                                            $('#star_rating{{ item.id }}').append(' <i class="fas fa-star" style="color:  #FFC107"></i>')
                                        }


                                        for(;i<5;i++){
                                            $('#star_rating{{ item.id }}').append(' <i class="far fa-star" style="color:  #FFC107"></i>')
                                        }


                                    </script>
                                </div>
                                <div class="toys single-item hvr-outline-out" >
                                    <button href="#" data-id="{{ item.id }}"
                                            data-name="{{ item.pkg_name }}"
                                            data-price="{{ item.price }}"
                                            data-restaurant-id="{{ item.restaurant.id }}"
                                            class="add-to-cart toys-cart ptoys-cart cart_button">
                                        <i class="fas fa-cart-plus"></i>
                                    </button>
                                </div>


                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
    <script>
        $(document).ready(function () {

            $(".cart_button").click(function(){
                console.log('hi');
                if($('#delivery_input').val().length === 0 )
                {
                    $('#delivery_modal_btn').click();
                }
                else{
                    $('#br_modal_btn').click();
                }

            });
        });

    </script>
    {# Searched Product list show start #}
</div>



<!-- Button trigger modal -->
<button type="button" id="delivery_modal_btn" hidden class="btn btn-primary" data-toggle="modal" data-target="#delivery_location_modal">
    Launch demo modal
</button>
<!-- Modal -->
<div class="modal fade" id="delivery_location_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: #9F0053">Please Enter Your Delivery Location First</h5>
                {#                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
                {#                    <span aria-hidden="true">&times;</span>#}
                {#                </button>#}
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="delivery_location" aria-describedby="emailHelp" placeholder="Enter Delivery Location">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $('#delivery_location_modal').on('hidden.bs.modal', function () {
            if($('#delivery_input').val().length !== 0 )
            {
                $('#br_modal_btn').click();
            }
        });
    });
</script>
<button hidden type="button" id="br_modal_btn" class="btn btn-primary" data-toggle="modal" data-target="#branch_modal">
    Launch demo modal
</button>
<div class="modal fade" id="branch_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: #9F0053">Please Enter Your Delivery Location First</h5>

            </div>
            <div class="panel-body">
                <div class="table-responsive project-stats">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Branch</th>
                            <th>Order availability</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in Orders %}
                            <tr>
                                <td>branch</td>
                                <td>
                                    {#                                    {% if order.order_status == 'PENDING' %}#}
                                    <button type="button" class="btn btn-danger delivery_status" id="confirm_deliver">Place Order</button>
                                    {#                                    {% endif %}#}
                                    <script>
                                        var csrftoken = getCookie('csrftoken');
                                        $.ajaxSetup({
                                            beforeSend: function(xhr, settings) {
                                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                                }
                                            }
                                        });

                                        $("#confirm_deliver").click(function () {
                                            alert('hi');
                                            {#ekhane deliveryman er id hobe#}

                                            $.ajax({
                                                type:"POST",
                                                headers:{
                                                    "X-CSRFToken": csrftoken
                                                },
                                                url: '/acceptOrder/',
                                                data: {
                                                    'order_id': {{ order.id }} ,
                                                    {#'deliveryMan_id' : {{ user.id }},#}
                                                    {#'delivery_option': this.id#}
                                                },
                                                dataType: 'json',
                                                success: function (data) {
                                                    console.log(data);
                                                    alert('Order waiting for delivery-man approval');
                                                    location.reload();
                                                }
                                            });

                                        });
                                    </script>
                                </td>


                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {#                <button type="button" class="btn btn-primary">Save changes</button>#}
            </div>
        </div>
    </div>
</div>