{% load static %}
<div class="row">
    {# Searched Product list show start #}
    {% for item in item_list %}
        <div class="col-lg-4 col-md-6 col-sm-6 product-men women_two">
            <div class="product-toys-info">
                <div class="men-pro-item">
                    <div class="men-thumb-item">
                        <img src="/media/{{ item.image }}" class="img-thumbnail img-fluid" alt=""
                             style="height: 190px;width: 290px;">
                        <div class="men-cart-pro">
                            <div class="inner-men-cart-pro">
                                <a href={{ item.get_absolute_url }} class="link-product-add-cart">Quick
                                    View</a>
                            </div>
                        </div>
                        <span class="product-new-top">20% off</span>
                    </div>
                    <div class="item-info-product">
                        <div class="info-product-price">
                            <div class="grid_meta">
                                <div class="product_price">
                                    {#                                    <h4>#}
                                    <a href={{ item.get_absolute_url }}><h4>{{ item.pkg_name }}</h4></a>
                                    {#                                    </h4>#}
                                    <div class="grid-price mt-2">
                                        <span class="money ">BDT {{ item.price }}</span>
                                    </div>
                                </div>
                                {% for j in "12345" %}
                                    <i class="fas fa-star" style="color:  #FFC107"></i>
                                {% endfor %}
                            </div>
                            {#                                                <div class="toys single-item hvr-outline-out">#}
                            {#                                                    <button href="#" data-id="{{ item.id }}"#}
                            {#                                                            data-name="{{ item.pkg_name }}"#}
                            {#                                                            data-price="{{ item.price }}"#}
                            {#                                                            data-restaurant-id="{{ item.restaurant.id }}"#}
                            {#                                                            class="add-to-cart toys-cart ptoys-cart">#}
                            {#                                                        <i class="fas fa-cart-plus"></i>#}
                            {#                                                    </button>#}
                            {#                                                </div>#}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {# Searched Product list show start #}
</div>
