{% extends 'browse/base.html' %}

{% block header %}
{% load static %}
<title>Foodsquare | order page :: food ordering made simple</title>
<link href="{% static 'browse/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'browse/js/jquery.min.js' %}"></script>
<!-- Custom Theme files -->
<!-- <link href="{% static 'browse/css/style.css' %}" rel="stylesheet" type="text/css" media="all" /> -->
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function () {
		setTimeout(hideURLbar, 0);
	}, false);

	function hideURLbar() {
		window.scrollTo(0, 1);
	} </script>
<!--webfont-->
<link
    href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic'
    rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lobster+Two:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--Animation-->
<script src="{% static 'browse/js/wow.min.js' %}"></script>
<link href="{% static 'browse/css/animate.css' %}" rel='stylesheet' type='text/css' />
<script>
    new WOW().init();
</script>
<script type="text/javascript" src="{% static 'browse/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'browse/js/easing.js' %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
        });
    });
</script>
<script src="{% static 'browse/js/simpleCart.min.js' %}"></script>
{% endblock %}

{% block body-header %}

{% endblock %}

{% block body-content %}
{% load static %}
<div style="height: 70vh">

</div>
<div class="content">
    <div class="Popular-Restaurants-content">
        <div class="Popular-Restaurants-grids">
            <div class="container">
                {% for restaurant in object_list %}
                <div class="Popular-Restaurants-grid wow fadeInRight" data-wow-delay="0.4s"> 
                    <div class="col-md-3 restaurent-logo">
                        <img src={{ restaurant.restaurantImg.url }} class="img-responsive" alt="" />
                    </div>
                    <div class="col-md-2 restaurent-title">
                        <div class="logo-title">
                            <h4><a href="{% static 'browse/#' %}">{{ restaurant.restaurant_name }}</a></h4>
                        </div>
                        <div class="rating">
                            <span>ratings</span>
                            <a href="{% static 'browse/#' %}"> <img src="{% static 'browse/images/star1.png' %}"
                                    class="img-responsive" alt="">(004)</a>
                        </div>
                    </div>
                    <div class="col-md-7 visit">

                        <a class="morebtn hvr-rectangle-in" href="orders-list.html">visit</a>
                    </div>
                    <div class="clearfix"></div>
                </div> 
                {% endfor %}

            </div>


        </div>
    </div>


    <div style="display: inline-flex;  width: 100%">
        <style>
            .pagination {
                display: inline-block;
            }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                transition: background-color .3s;
            }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }
        </style>
        <div style="width: 30%; "> </div>
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>

            <a href="#">&raquo;</a>
        </div>
    </div>

</div>


{% endblock %}