{% extends 'browse/base-banner.html' %}
{% load static %}

{% block header %}
    <title> Restaurants | FoodSquare</title>
{#    <script src="{% static 'browse/js/jquery.min.js' %}"></script>#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#    <script type="application/x-javascript"> addEventListener("load", function () {#}
{#        setTimeout(hideURLbar, 0);#}
{#    }, false);#}
{#    </script>#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'browse/toys_shop/css/jquery-ui1.css' %}">#}

    <link rel="stylesheet" href="{% static 'browse/css/awesomplete.css' %}"/>
    <script src="{% static 'browse/js/awesomplete.js' %}" async></script>
    <!--//price range-->
{% endblock %}


{% block body-js %}
    {#	{% load static %}#}
    <!--js working-->
{#    <script src="{% static 'browse/toys_shop/js/jquery-2.2.3.min.js' %}"></script>#}
    <!--//js working-->
    <!-- price range (top products) -->
{#    <script src="{% static 'browse/toys_shop/js/jquery-ui.js' %}"></script>#}


    <!-- start-smoth-scrolling -->
{#    <script src="{% static 'browse/toys_shop/js/move-top.js' %}"></script>#}
{#    <script src="{% static 'browse/toys_shop/js/easing.js' %}"></script>#}
{#    <script>#}
{#        jQuery(document).ready(function ($) {#}
{#            $(".scroll").click(function (event) {#}
{#                event.preventDefault();#}
{#                $('html,body').animate({#}
{#                    scrollTop: $(this.hash).offset().top#}
{#                }, 900);#}
{#            });#}
{#        });#}
{#    </script>#}
{#    <!-- start-smoth-scrolling -->#}
{#    <!-- here stars scrolling icon -->#}
{#    <script>#}
{#        $(document).ready(function () {#}
{##}
{#            var defaults = {#}
{#                containerID: 'toTop', // fading element id#}
{#                containerHoverID: 'toTopHover', // fading element hover id#}
{#                scrollSpeed: 1200,#}
{#                easingType: 'linear'#}
{#            };#}
{##}
{##}
{#            $().UItoTop({#}
{#                easingType: 'easeOutQuart'#}
{#            });#}
{##}
{#        });#}
{#    </script>#}
{#    <!-- //here ends scrolling icon -->#}
{% endblock %}

{% block body-content %}

    <!-- //short-->
    <!--show Now-->
    <!--show Now-->
    <style>
        .search {
            width: 100%;
            position: relative;
            display: flex;
        }

        .searchTerm {
            width: 100%;
            border: 3px solid #00B4CC;
            border-right: none;
            padding: 5px;
            height: 100%;
            border-radius: 5px 0 0 5px;
            outline: none;
            /* color: #9DBFAF; */
        }

        .searchTerm:focus {
            /* color: #00B4CC; */
        }

        .searchButton {
            width: 40px;
            height: 36px;
            border: 1px solid #00B4CC;
            background: #00B4CC;
            text-align: center;
            color: #fff;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            font-size: 20px;
        }

        /*Resize the wrap to see the search bar change!*/
        .wrap {
            width: 30%;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
    <section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
            <!-- <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Restaurants </h3> -->
            {#            <div style="height: 10vh"></div>#}
            <div class="wrap">
                <form action="." id="searchForm" method="GET">
                    <div class="search">
                        <input form="location-based-search"
                               class="awesomplete text" name="searchBy_dish_food"
                               style="border: 1px solid #ccc; border-radius: 4px;padding: 5px 6px; height: 100%;width: 25em;"
                               list="restaurant_list" value="{{ query }}"
                               placeholder="Search by Dishes or Restaurants"/>
                        <datalist id="restaurant_list">
                            {% for restaurant in restaurants %}
                                <option>{{ restaurant.restaurant_name }}</option>
                            {% endfor %}
                        </datalist>
                        <!-- <input type="text" class="searchTerm" placeholder="Restaurants Near Your"> -->
                        <button type="submit" class="searchButton" form="location-based-search">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>

            </div>
            <div style="height: 10vh"></div>

            <div class="row">
                <div class="side-bar col-lg-3">
                    <style>
                        /* The radio_container */
                        .radio_container {
                            display: block;
                            position: relative;
                            padding-left: 35px;
                            margin-bottom: 12px;
                            cursor: pointer;
                            font-size: 15px;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                        }

                        /* Hide the browser's default radio button */
                        .radio_container input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                        }

                        /* Create a custom radio button */
                        .checkmark {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 25px;
                            width: 25px;
                            background-color: #eee;
                            border-radius: 50%;
                        }

                        /* On mouse-over, add a grey background color */
                        .radio_container:hover input ~ .checkmark {
                            background-color: #ccc;
                        }

                        /* When the radio button is checked, add a blue background */
                        .radio_container input:checked ~ .checkmark {
                            background-color: #2196F3;
                        }

                        /* Create the indicator (the dot/circle - hidden when not checked) */
                        .checkmark:after {
                            content: "";
                            position: absolute;
                            display: none;
                        }

                        /* Show the indicator (dot/circle) when checked */
                        .radio_container input:checked ~ .checkmark:after {
                            display: block;
                        }

                        /* Style the indicator (dot/circle) */
                        .radio_container .checkmark:after {
                            top: 9px;
                            left: 9px;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background: white;
                        }
                    </style>
                    <div>
                        {% if show_all %}
                            <label class="radio_container">Show only restaurants near me
                                <input type="radio" name="show" value="near_me" form="location-based-search">
                                <span class="checkmark"></span>
                            </label>
                            <label class="radio_container">Show all restaurants
                                <input type="radio" name="show" value="all" form="location-based-search"
                                       checked="checked">
                                <span class="checkmark"></span>
                            </label>
                        {% else %}
                            <label class="radio_container">Show only restaurants near me
                                <input type="radio" checked="checked" name="show" value="near_me"
                                       form="location-based-search">
                                <span class="checkmark"></span>
                            </label>
                            <label class="radio_container">Show all restaurants
                                <input type="radio" name="show" value="all" form="location-based-search">
                                <span class="checkmark"></span>
                            </label>
                        {% endif %}
                        <script>
                            $('input[type=radio]').click(function () {
                                $('.hotelsearchButton').click();
                            });
                        </script>

                    </div>
                    <!-- //reviews -->

                    <!-- //deals -->
                </div>
                <div class="left-ads-display col-lg-9">

                    {% include "browse/restaurant_list.html" %}
                </div>
            </div>
        </div>
    </section>
    <!-- //show Now-->
{% endblock %}