{% extends 'browse/root.html' %}
{% load static %}
{% block head-includes %}
    {% load static %}
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Cafe In Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <link rel="stylesheet" href="{% static 'browse/toys_shop/css/shop.css' %}" type="text/css"/>
    <link href="{% static 'browse/toys_shop/css/style.css' %}" rel='stylesheet' type='text/css' media="all">


    <!-- css files -->
    <link rel="stylesheet" href="{% static 'browse/Restaurant_homepage/css/bootstrap.css' %}">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="{% static 'browse/Restaurant_homepage/css/style.css' %}" type="text/css" media="all"/>
    <!-- Style-CSS -->
    <link rel="stylesheet" href="{% static 'browse/Restaurant_homepage/css/fontawesome-all.css' %}">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->

    <link href="{% static 'browse/Restaurant_homepage/css/prettyPhoto.css' %}" rel="stylesheet" type="text/css"/>

    <!-- web-fonts -->
    <link
            href="//fonts.googleapis.com/css?family=Alegreya+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
            rel="stylesheet">
    <!-- //web-fonts -->


    <!-- <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script> -->
    <!--//meta tags ends here-->
    <!--booststrap-->
    <!-- {#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">#}
<link href="{% static 'browse/toys_shop/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css"> -->

    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <!-- <link href="{% static 'browse/toys_shop/css/fontawesome-all.min.css' %}" rel="stylesheet" type="text/css" media="all"> -->
    <!-- //font-awesome icons -->
    <!-- For Clients slider -->
    <!-- <link rel="stylesheet" href="{% static 'browse/toys_shop/css/flexslider.css' %}" type="text/css" media="all" /> -->
    <!--flexs slider-->
    <!-- <link href="{% static 'browse/toys_shop/css/JiSlider.css' %}" rel="stylesheet"> -->
    <!--Shoping cart-->
    <!-- <link rel="stylesheet" href="{% static 'browse/toys_shop/css/shop.css' %}" type="text/css" /> -->
    <!--//Shoping cart-->
    <!--stylesheets-->
    <!-- <link href="{% static 'browse/toys_shop/css/style.css' %}" rel='stylesheet' type='text/css' media="all"> -->
    <!--//stylesheets-->


    {#    <link href="{% static 'browse/toys_shop/index/css/bootstrap.css' %}" rel='stylesheet' type='text/css'/>#}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="{% static 'browse/toys_shop/index/js/jquery.min.js' %}"></script> -->
    <!-- Custom Theme files -->
    <link href="{% static 'browse/toys_shop/index/css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->

    <!-- <script type="application/x-javascript"> addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		} </script> -->

    <!-- {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
<script src="https://code.jquery.com/jquery-2.2.3.min.js"
	integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script> -->

    <!--webfont-->
    <!-- <link
		href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic'
		rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Lobster+Two:400,400italic,700,700italic' rel='stylesheet' type='text/css'> -->

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

    <!--Animation-->
    <!-- <script src="{% static 'browse/toys_shop/index/js/wow.min.js' %}"></script>
<link href="{% static 'browse/toys_shop/index/css/animate.css' %}" rel='stylesheet' type='text/css' />
<script>
	new WOW().init();
</script>
<script src="{% static 'browse/toys_shop/index/js/simpleCart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'browse/toys_shop/index/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'browse/toys_shop/index/js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function ($) {
		$(".scroll").click(function (event) {
			event.preventDefault();
			$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
		});
	});
</script>

<script src="{% static 'browse/toys_shop/js/bootstrap.min.js' %}"></script> -->

    <style>
        .topBtn {
            background-color: #000;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            outline: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;

        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            width: 100%;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .topBtn:hover {
            /* background-color: #3e8e41; */
            color: #f00;
        }
    </style>
{% endblock %}

{% block header %}
    <title>Cafe In Restaurant Category Flat Bootstrap Responsive Website Template | Home :: W3layouts</title>


{% endblock %}


{% block body-js %}
    <!-- js-scripts -->

    {#<script src="{% static 'browse/toys_shop/js/jquery-2.2.3.min.js' %}"></script>#}

    <!-- js -->
    {#<script type="text/javascript" src="{% static 'browse/Restaurant_homepage/js/jquery-2.1.4.min.js' %}"></script>#}
    {#<script type="text/javascript" src="{% static 'browse/Restaurant_homepage/js/bootstrap.js' %}"></script>#}
    <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- //js -->

    <!-- Banner Responsive slider -->
    <script src="{% static 'browse/Restaurant_homepage/js/responsiveslides.min.js' %}"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 3
            $("#slider3").responsiveSlides({
                auto: true,
                pager: false,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- // Banner Responsive slider -->

    <!-- stats -->
    <script src="{% static 'browse/Restaurant_homepage/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'browse/Restaurant_homepage/js/jquery.countup.js' %}"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats -->

    <!-- search-bar -->
    <script src="{% static 'browse/Restaurant_homepage/js/main.js' %}"></script>
    <!-- //search-bar -->




    <!-- start-smoth-scrolling -->
    {#    <script src="{% static 'browse/Restaurant_homepage/js/SmoothScroll.min.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'browse/Restaurant_homepage/js/move-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'browse/Restaurant_homepage/js/easing.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({easingType: 'easeOutQuart'});

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- start-smoth-scrolling -->

    <!-- jQuery-Photo-filter-lightbox-Gallery-plugin -->
    <script type="text/javascript" src="{% static 'browse/Restaurant_homepage/js/jquery-1.7.2.js' %}"></script>
    <script src="{% static 'browse/Restaurant_homepage/js/jquery.quicksand.js' %}" type="text/javascript"></script>
    <script src="{% static 'browse/Restaurant_homepage/js/script.js' %}" type="text/javascript"></script>
    <script src="{% static 'browse/Restaurant_homepage/js/jquery.prettyPhoto.js' %}" type="text/javascript"></script>
    <!-- //jQuery-Photo-filter-lightbox-Gallery-plugin -->

    <!-- //js-scripts -->
{% endblock %}
{% block navbar %}
    <div class="container-fluid" style="background: #171a29">
    {% if restaurant.is_branch %}
        <div class="row">
    {% else %}
        <div class="row" style="height: 25vh">
    {% endif %}
<div class="col-md-1"></div>
<div class="col-md-4">
    <div>
        <div style="height: 3vh"></div>
        <div style=" color:white;">
            <h1>{{ restaurant.restaurant_name }}</h1>
        </div>
        {% if restaurant.is_branch %}
            <div style="">
                <div style=" color:white;">
                    <h3>{{ restaurant.branch.branch_name }}
                    </h3>
                </div>
            </div>
            <div>
					<span style="background: #35728a;padding:6px;">
						<font color="white"> Opens at {{ restaurant.branch.opening_time }}</font>
						<font color="white">Closes at {{ restaurant.branch.closing_time }}</font>
					</span>

            </div>
        {% endif %}

    </div>
</div>
<div class="col-md-7" style="padding-top:2%;">

    <div class="row" style="height: 70%;">

        <div class="col-md-6">
            {% if restaurant.is_branch %}

                <font style="color: #7b3a3e">Rate us</font>
                <div>
                    {% include 'browse/rate_submit.html' %}
                    <script>
                        $('.rate input').on('change', function () {
                            var rate_val = $("input[type='radio'][name='rate']:checked").val();
                            var csrftoken = getCookie('csrftoken');
                            {% if loggedIn %}

                                $.ajax({
                                    type: "POST",
                                    headers: {
                                        "X-CSRFToken": csrftoken
                                    },
                                    url: 'submitRating/',
                                    data: {
                                        {% if restaurant.is_branch %}
                                            'restaurant-id': {{ restaurant.branch.id }},
                                        {% else %}
                                            'restaurant-id': {{ restaurant.id }},
                                        {% endif %}
                                        'rating': rate_val

                                    },
                                    dataType: 'json',
                                    success: function (data) {

                                    }
                                });

                            {% else %}

                                alert('Please log in to post review');
                            {% endif %}
                        });
                    </script>
                </div>
            {% endif %}
        </div>
        {% if restaurant.is_branch %}
            <div class="col-md-2" style="border-right: 1px solid white;padding-top: 2%; ">
                <font style="color: white"><i class="fas fa-star">{{ rating |floatformat:1 }} rating</i> </font>
            </div>

            <div class="col-md-2" style="border-right: 1px solid white;  ">
                <font style="color: white">Closed<br> for delivery </font>
            </div>
            <div class="col-md-2">
                <font style="color: white">60 mins <br> Delivery time </font>
            </div>
        {% else %}
            <font style="color: white"><i class="fas fa-star">{{ rating |floatformat:1 }} rating</i> </font>

        {% endif %}
    </div>

</div>

</div>

</div>
{% endblock %}
{% block body-content %}
    <li>


        <!-- //Navigation -->

        <!--Slider-->

        <div class="slider" style="padding-top: 17%;">
            <div class="callbacks_container" style="height:45vh;">
                <ul class="rslides" id="slider3" style="height: 100%">
                    <li>
                        <div class="slider-img1">
                            {#                            <div style=" padding-top: 10%;padding-left: 40%;">#}
                            {#                                <div style="background: white;padding: 0.5%;display: inline-block; width: 35%">#}
                            {#                                    <input type=" text" placeholder="Search Dishes..."#}
                            {#                                           style="border: none; outline: none;width: 90%"> <i class="fa fa-search"></i>#}
                            {#                                    </input>#}
                            {##}
                            {#                                </div>#}
                            {#                            </div>#}
                            <style>
                                .text_container {
                                    display: inline-block;
                                    float: right;
                                    padding-top: 5%;
                                    padding-right: 3%;
                                    width: 27%;

                                }

                                .text-block {
                                    background-color: rgb(0, 0, 0); /* Fallback color */
                                    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
                                    color: white;
                                    font-weight: bold;
                                    border: 3px solid #f1f1f1;

                                {#transform: translate(-50%, -50%);#} z-index: 2;

                                }
                            </style>
                            {% if not restaurant.is_branch %}
                                <div class="text_container">
                                    <div class="text-block">
                                        <h2 style="">Find Us At: </h2>
                                        <div style="height: 3vh;"></div>

                                        {% for branch in branch_list %}
                                            <h4 style="padding-left: 5%;"> -- {{ branch }}</h4>
                                        {% endfor %}
                                    </div>
                                </div>


                            {% endif %}


                        </div>
                    </li>

                </ul>
            </div>
            <div class="clearfix"></div>
        </div>


        <!-- food gallery -->


        <section class="banner_bottom proj py-5">

            <div class="wrap_view" id="food_gallery">
                <h3 class="heading text-center text-uppercase mb-5"> Food Gallery </h3>

                <div class="inner_sec">
                    <ul class="nav gallery_nav" style="padding-left: 40%;">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">All</a>
                        </li>
                        {% for category in categories %}
                            <li class="nav-item">
                                <a class="nav-link active" href="#">{{ category }}</a>
                            </li>
                        {% endfor %}

                    </ul>

                    <script>
                        $('ul.gallery_nav > li').click(function (e) {
                            e.preventDefault();
                            var getItem = $(this).text();
                            $('ul.gallery_nav> li').removeClass('active');
                            $(this).addClass('active');
                            $('#test').text(getItem);
                            $('.navbar-toggler').click();
                            $(".filt").hide();

                            $('.' + getItem.trim()).show();

                        });
                    </script>
                    {% if not restaurant.is_branch %}
                        {% include 'browse/product_list.html' %}
                    {% else %}
                        <div class="row" style="width: 80%">
                            {# Searched Product list show start #}
                            {% for pkg_details in item_list %}
                                {% with item=pkg_details.package %}
                                    <div class="col-lg-4 col-md-6 col-sm-6 product-men women_two filt All {{ item.category }}">
                                        <div class="product-toys-info">
                                            <div class="men-pro-item">
                                                <div class="men-thumb-item">
                                                    <img src="/media/{{ item.image }}" class="img-thumbnail img-fluid"
                                                         alt="">
                                                    <div class="men-cart-pro">
                                                        <div class="inner-men-cart-pro">
                                                            <a href={{ item.get_absolute_url }} class="link-product-add-cart">Quick
                                                                View</a>
                                                        </div>
                                                    </div>
                                                    {% if pkg_details.has_any_offer %}
                                                        <span class="product-new-top">OFFER</span>
                                                    {% endif %}
                                                </div>
                                                <div class="item-info-product">
                                                    <div class="info-product-price">
                                                        <div class="grid_meta">
                                                            <div class="product_price">
                                                                <h4>
                                                                    <a href="{{ item.get_absolute_url }}">{{ item.pkg_name }}</a>
                                                                </h4>
                                                                <div class="grid-price mt-2">
                                                                    <span class="money ">BDT {{ item.price }}/=</span>
                                                                </div>
                                                                {% if pkg_details.has_any_offer %}
                                                                    <div class="grid-price mt-2">
                                                                    <span class="money"
                                                                          style="color: red">{{ pkg_details.get_offer_details | upper }}</span>
                                                                    </div>
                                                                {% endif %}
                                                                <div id="star_rating{{ item.id }}">
                                                                    {#                                    <i class="fa fa-star-half-full"></i>#}
                                                                </div>
                                                                <script>

                                                                    {% if item.get_avg_rating is not None %}
                                                                        var i = 0;
                                                                        var rating = {{ item.get_avg_rating }};
                                                                        for (i = 0; i < rating; i++) {
                                                                            $('#star_rating{{ item.id }}').append(' <i class="fas fa-star" style="color:  #FFC107"></i>')
                                                                        }

                                                                        for (; i < 5; i++) {
                                                                            $('#star_rating{{ item.id }}').append(' <i class="far fa-star" style="color:  #FFC107"></i>')
                                                                        }
                                                                    {% endif %}

                                                                </script>


                                                            </div>
                                                            <ul class="stars">
                                                                {% for star in item.rating %}
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fas fa-star"></i>
                                                                        </a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                        <div class="toys single-item hvr-outline-out filt All cart-div {{ item.category }}"
                                                             id="cart-div">
                                                            <button href="#" data-id="{{ pkg_details.id }}"
                                                                    data-name="{{ item.pkg_name }}"
                                                                    {#                                                            data-price="{{ item.price }}"#}
                                                                    data-price="{{ pkg_details.get_buying_price }}"
                                                                    data-restaurant-id="{{ restaurant.branch.id }}"
                                                                    data-offer-buy-n="{{ pkg_details.offer_buy_n }}"
                                                                    data-offer-get-n="{{ pkg_details.offer_get_n }}"
                                                                    class="add-to-cart toys-cart ptoys-cart">
                                                                <i class="fas fa-cart-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    {% if not restaurant.is_branch %}
                                                        <script>
                                                            document.getElementById('cart-div').style.display = "none";
                                                        </script>
                                                    {% endif %}
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endwith %}
                            {% endfor %}
                            {# Searched Product list show end #}
                        </div>
                    {% endif %}
                    {#                        </li>#}
                    </ul>


                    <div class="clearfix"></div>
                    <div style="height: 3vh;"></div>
                    <hr style="width: 100%; color: black; height: 1px; background-color:black;"/>
                    {% if restaurant.is_branch %}
                        <font style="color: #7b3a3e" size="6">What people think about us: </font><br>
                        <div style="height: 3vh;"></div>

                        <div class="row">
                            <div class="col-md-7 add-review">

                                <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css"
                                      rel="stylesheet" id="bootstrap-css">
                                <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
                                <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
                                <!------ Include the above in your HEAD tag ---------->
                                {% for comment in comments %}
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img src="https://image.ibb.co/jw55Ex/def_face.jpg"
                                                         class="img img-rounded img-fluid"/>
                                                    <p class="text-secondary text-center">{{ comment.time }}</p>
                                                </div>
                                                <div class="col-md-9">
                                                    <p>
                                                        <a class="float-left"
                                                           href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>{{ comment.user_name }}</strong></a>

                                                    </p>
                                                    <div class="clearfix"></div>
                                                    <p>{{ comment.comment }}</p>
                                                    <div style="position: absolute; bottom: 0%; right: 3%;">
                                                        <a class="float-bottom btn text-white btn-danger react"
                                                           id="like"> <i class="fa fa-thumbs-up"></i> Like <font
                                                                id="like_count">{{ comment.nlikes }}</font> </a>
                                                        <a class="float-bottom btn text-white btn-danger react"
                                                           id="dislike"> <i class="fa fa-thumbs-down"></i> Dislike <font
                                                                id="dislike_count">{{ comment.ndislikes }}</font></a>

                                                    </div>
                                                    {% if loggedIn %}
                                                        <script>
                                                            var csrftoken = getCookie('csrftoken');
                                                            $.ajaxSetup({
                                                                beforeSend: function (xhr, settings) {
                                                                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                                                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                                                    }
                                                                }
                                                            });
                                                            var $react = $(this);

                                                            $(".react").click(function () {

                                                                $.ajax({
                                                                    context: this,

                                                                    type: "POST",
                                                                    headers: {
                                                                        "X-CSRFToken": csrftoken
                                                                    },
                                                                    url: 'reactOn/',
                                                                    data: {
                                                                        'comment-id': {{ comment.comment_id }},
                                                                        'branch-id': {{ restaurant.branch.id }},
                                                                        'react': this.id
                                                                    },
                                                                    dataType: 'json',
                                                                    success: function (data) {
                                                                        $('#like_count').text(data['nlikes']);
                                                                        $('#dislike_count').text(data['ndislikes']);


                                                                    }
                                                                });

                                                            });
                                                        </script>
                                                    {% endif %}
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                {% endfor %}
                                <div style="height: 2vh;"></div>

                                <div class="card">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="comment">Leave a review:</label>
                                            <textarea class="form-control" rows="2" id="comment"></textarea>
                                        </div>

                                        <div style="position: relative; bottom: 6%; left: 79%;">
                                            <button type="button" class="btn btn-info" id="submit_review">Submit
                                                Review
                                            </button>

                                        </div>

                                    </div>
                                    <p id="test"></p>
                                    <script>
                                        var csrftoken = getCookie('csrftoken');
                                        $("#submit_review").click(function () {

                                            {% if loggedIn %}

                                                $.ajax({
                                                    type: "POST",
                                                    headers: {
                                                        "X-CSRFToken": csrftoken
                                                    },
                                                    url: 'submitReview/',
                                                    data: {
                                                        'branch-id': {{ restaurant.branch.id }},
                                                        'comment': $('#comment').val()

                                                    },
                                                    dataType: 'json',
                                                    success: function (data) {
                                                        location.reload();
                                                    }
                                                });

                                            {% else %}

                                                alert('Please log in to post review');
                                            {% endif %}
                                        });

                                    </script>

                                </div>

                            </div>

                        </div>


                    {% endif %}
                </div>

            </div>
        </section>
        <!--//food gallery-->

        <!-- //Newsletter -->

        <!-- footer -->
        <footer>
            <div class="container py-3 py-md-4">
                <div class="row">
                    <div class="col-lg-5 col-md-12">
                        <p class="py-lg-4">© 2018 Cafe In. All Rights Reserved | Design by <a
                                href="http://www.W3Layouts.com" target="_blank">W3Layouts</a></p>
                    </div>
                    <div class="col-lg-2 col-md-12 logo text-center">
                        <a href="{% static 'browse/Restaurant_homepage/index.html' %}">Cafe In</a>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <ul class="py-lg-4">
                            <li class="mx-2"><a href="{% static 'browse/Restaurant_homepage/index.html' %}">Home</a>
                            </li>
                            <li class="mx-2"><a
                                    href="{% static 'browse/Restaurant_homepage/services.html' %}">Services</a>
                            </li>
                            <li class="mx-2"><a href="{% static 'browse/Restaurant_homepage/gallery.html' %}">Food
                                menu</a>
                            </li>
                            <li class="mx-2"><a href="{% static 'browse/Restaurant_homepage/error.html' %}">Error
                                page</a>
                            </li>
                            <li class="mx-2"><a
                                    href="{% static 'browse/Restaurant_homepage/contact.html' %}">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <!-- Modal -->
        <div class="modal fade" id="delivery_area_alert" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <font style="font-weight: 600; font-size:20px;"> Input delivery location and select your nearest
                            branch</font>
                        <p>
                            <font style="font-weight: 400; font-size:15px;">You can't order from restaurant page. Please
                                select your nearest
                                branch</font>
                        </p>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                style="background: crimson; width: 20%">Close
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Vertically centered Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase" id="exampleModalLongTitle">Cafe In</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="{% static 'browse/Restaurant_homepage/images/4.jpg' %}" class="img-fluid mb-3"
                             alt="cafe Image"/>
                        Vivamus eget est in odio tempor interdum. Mauris maximus fermentum arcu, ac finibus ante. Sed
                        mattis
                        risus at ipsum elementum, ut auctor turpis cursus. Sed sed odio pharetra, aliquet velit cursus,
                        vehicula enim. Mauris porta aliquet magna, eget laoreet ligula.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- //show Now-->
{% endblock %}