{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    {% block head-includes %}

    {% endblock %}

    {% block header %}

    {% endblock %}
</head>

<body>
<div class="header-outs" id="home">

    <header class="sticky-top">
        <div class="header-bar"> {#   style="position: fixed" #}
            {% block topbar %}
                <div class="container-fluid">
                    <div class="hedder-up row" style="height: 100px">
                        <div class="col-lg-3 col-md-3 logo-head">
                            <a href="/">
                                <h1 class="w3-tangerine w3-jumbo">FoodSquare</h1>
                            </a>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-4 " style="">


                            <script
                                    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
                            <script
                                    src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

                            <script src={% static 'browse/js/ajax_upload.js' %}></script>
                            <style>
                                .hotelsearchBox {
                                    position: absolute;
                                    top: -5%;
                                    left: 28%;
                                {#transform: translate(-100%, 0%);#} background: #2f3640;
                                    /* height: 40px; */
                                    border-radius: 40px;
                                    padding: 10px;

                                }

                                .hotelsearchButton {
                                    color: white;
                                    float: right;
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50%;
                                    background: #2f3640;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    transition: 0.4s;
                                }

                                .hotelsearchInput {
                                    border: none;

                                    outline: none;
                                    float: left;
                                    padding: 0;
                                    color: black;
                                    font-size: 16px;
                                {#transition: 0.4s;#} line-height: 40px;
                                {#width: 0px;#} width: 81%

                                }

                                .hotelsearchInput::placeholder {
                                    color: #f0f0f0;
                                }


                                @media screen and (max-width: 620px) {
                                    .hotelsearchBox:hover > .hotelsearchInput {
                                        width: 150px;
                                        padding: 0 6px;
                                    }
                                }
                            </style>
                            <!-- <div class="autocomplete"> -->


                            <div style="background: #808080; display: inline-block; border-radius: 20px; width: 100%; padding-left: 6%;">
                                <input type="text" required id="delivery_input" name="delivery_input"
                                       class="hotelsearchInput  delivery_loc_input" type="text"
                                       placeholder="Enter Delivery Location"
                                       style="background: transparent;" autocomplete="off">
                                <style>
                                    #clear_location {
                                        cursor: pointer;
                                        font-size: 20px;
                                        color: #9F0053;
                                        padding-left: 3%;
                                    }
                                </style>
                                <form action="/browse/restaurants/" method="GET" id="location-based-search">
                                    {#                                    {% csrf_token %}#}
                                    <input type="hidden" id="delivery_area_srch" name="delivery_area_srch"/>
                                    <span id="clear_location">&times;</span>
                                    <script>
                                        $(document).ready(function () {
                                            $('#clear_location').on('click', function () {

                                                function clearLocation() {
                                                    $('#delivery_area_srch').val('');
                                                    $('#delivery_input').val('');
                                                    shoppingCart.clearCart();
                                                    deliveryLocation.clear();
                                                    displayCart();
                                                }

                                                if (shoppingCart.hasItems()) {
                                                    $.confirm({
                                                        title: 'Clear Cart!',
                                                        content: 'You Have Items in cart.\nDiscard those?',
                                                        buttons: {
                                                            confirm: {
                                                                text: 'Clear',
                                                                btnClass: 'btn-red',
                                                                action: function () {
                                                                    clearLocation();
                                                                    showWarningNotification("Your cart was cleared.");
                                                                }
                                                            },
                                                            cancel: {
                                                                text: 'Cancel',
                                                                // btnClass: 'btn-red',
                                                                action: function () {
                                                                    showFailureNotification("Your location was not cleared.");
                                                                    this.close();
                                                                }
                                                            },
                                                        }
                                                    });
                                                } else {
                                                    clearLocation();
                                                }

                                            });
                                        });
                                    </script>
                                    <button class="hotelsearchButton" href="#" id="hotelsearchButton">
                                        <i class="fa fa-search">
                                        </i>
                                    </button>
                                    <style>
                                        .pac-container {
                                            z-index: 10000 !important;

                                        }

                                        .pac-container:empty {
                                            display: none !important;
                                        }
                                    </style>

                                </form>

                            </div>


                            <!-- </div> -->
                        </div>

                        <div class="col-lg-4 col-md-3 ">

                            <div class="cart-icons">
                                <div class="row" style="background: #000;">
                                    <div class="col-md-6">
                                        <div class="dropdown" style="float: right">
                                            {% if not loggedIn %}
                                                <button class="topBtn"><span class="far fa-user"> Login/Register</span>
                                                </button>
                                                <div class="dropdown-content">
                                                    <a href={% url 'accounts:login' %}>Login</a>
                                                    <a href={% url 'accounts:register' %}>Register</a>
                                                </div>
                                            {% else %}
                                                <button class="topBtn"><span class="far fa-user">
                                        {{ request.user.username|upper }}</span></button>
                                                <div class="dropdown-content">
                                                    <a href="/customer/editProfile/">Profile</a>
                                                    <a href={% url 'accounts:logout' %}>Logout</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-2">

                                        {% include "browse/notifications.html" %}
                                        <script src="{% static 'browse/js/notification.js' %}"></script>

                                    </div>

                                    <div class="col-md-4">
                                        <button class="top_toys_cart topBtn" type="button" data-toggle="modal"
                                                data-target="#cart">
                                    <span class="fas fa-cart-arrow-down"> Cart (<span
                                            class="total-count"></span>)</span>
                                        </button>

                                    </div>

                                </div>

                                <div>

                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            {% endblock %}
            {% block navbar %}

            {% endblock %}
        </div>
    </header>
    {% block body-header %}

    {% endblock %}
</div>
{% block body-content %}
{% endblock body-content %}

{% block body-footer %}

{% endblock body-footer %}

{% block body-footer-common %}

{% endblock %}

{% block shopping-cart %}

    <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
         style="padding-top: 100px;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="show-cart table">

                    </table>
                    <div align="right">Total price: BDT <span class="total-cart"></span></div>
                </div>
                <div class="modal-footer">
                    <button class="clear-cart btn btn-danger" id="cart-clear-button">Clear</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {#                    <a href={% url 'browse:checkout' %}>#}
                    <form action="{% url 'browse:checkout' %}" method="get">
                        <input type="hidden" id="rest-id" name="rest-id">
                        <input type="submit" class="btn btn-primary" value="Checkout"
                               id="cart-checkout-button">
                        <script>
                            console.log(document.getElementById('rest-id').value)
                        </script>
                    </form>
                    {#                    </a>#}
                </div>
            </div>
        </div>
    </div>
    {#    <script src="{% static 'browse/toys_shop/js/jquery-2.2.3.min.js' %}"></script>#}
    {#    Notification #}
    <script type="text/javascript" src="{% static 'browse/js/notify.js' %}"></script>
    <script>
        function showSuccessNotification(name, timeout = 5000) {
            $.notify(name, "success", {
                position: "right",
                autoHideDelay: timeout
            });
        }

        function showFailureNotification(name, timeout = 5000) {
            $.notify(name, "error", {
                position: "right",
                autoHideDelay: timeout
            });
        }

        function showWarningNotification(name, timeout = 5000) {
            $.notify(name, "warn", {
                position: "right",
                autoHideDelay: timeout
            });
        }
    </script>
    {#    Notification#}

    {#    Cart#}
    <link href="{% static 'browse/css/cart.css' %}" rel='stylesheet' type='text/css'/>
    <script src="{% static 'browse/js/cart.js' %}"></script>
    {#    Cart#}

{% endblock %}

{#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>#}
{##}
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">#}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>#}

{% block body-js-common %}
    <script>
        var deliveryLocation = (function () {
            // =============================
            // Private methods and propeties
            // =============================
            var location_data = ['', ''];//coord, name


            // Save location
            function saveLocation() {
                localStorage.setItem('deliveryLocation', JSON.stringify(location_data));
            }

            // Load location
            function loadlocation() {
                location_data = JSON.parse(localStorage.getItem('deliveryLocation'));
            }

            if (localStorage.getItem("deliveryLocation") != null) {
                loadlocation();
                // console.log(location_data);
            }


            // =============================
            // Public methods and propeties
            // =============================
            var obj = {};

            // Add to location
            obj.set = function (coord, name) {
                location_data = [coord, name];
                saveLocation();
                return true;
            };

            // Clear location
            obj.clear = function () {
                location_data = ['', ''];
                saveLocation();
            };

            // Load
            obj.get = function () {
                loadlocation();
                return location_data;
            };

            return obj;
        })();

        function initAutocomplete() {

            var dhakaBounds = new google.maps.LatLngBounds(
                new google.maps.LatLng(23.6612704, 90.3295468),
                new google.maps.LatLng(23.6612704, 23.9000025));

            autocomplete2 = new google.maps.places.Autocomplete(
                (document.getElementById('delivery_input2')), {'bounds': dhakaBounds}
            );
            // Set initial restrict to the greater list of countries.
            autocomplete2.setComponentRestrictions({'country': ['bd']});


            autocomplete2.setFields(['place_id', 'geometry', 'name', 'formatted_address']);
            autocomplete2.addListener('place_changed', function () {
                var place = autocomplete2.getPlace();
                document.getElementById('delivery_area_srch').value = place.geometry.location.lat() + "," + place.geometry.location.lng();
                document.getElementById('delivery_input').value = document.getElementById('delivery_input2').value;
                deliveryLocation.set(document.getElementById('delivery_area_srch').value, document.getElementById('delivery_input2').value);
            });
            autocomplete = new google.maps.places.Autocomplete(
                (document.getElementById('delivery_input')), {'bounds': dhakaBounds}
            );

            // Set initial restrict to the greater list of countries.
            autocomplete.setComponentRestrictions({'country': ['bd']});

            // Specify only the data fields that are needed.
            autocomplete.setFields(['place_id', 'geometry', 'name', 'formatted_address']);
            autocomplete.addListener('place_changed', function () {
                var place = autocomplete.getPlace();
                document.getElementById('delivery_area_srch').value = place.geometry.location.lat() + "," + place.geometry.location.lng();
                deliveryLocation.set(document.getElementById('delivery_area_srch').value, document.getElementById('delivery_input').value);
                $('.hotelsearchButton').click();
            });





        }
    </script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATg_isuGSCHIlJamrxAXfkFDTYhIz7ytM&libraries=places&callback=initAutocomplete"
            async defer></script>
    {#   ------------------------------ javascripts ----------------------------------- #}
    <!--bootstrap working-->
    {#    <script src="{% static 'browse/toys_shop/js/bootstrap.min.js' %}"></script>#}
    {#    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>#}
    {#            <link rel="stylesheet" href="{% static 'browse/Restaurant_homepage/css/bootstrap.css' %}">#}
    {#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>#}
    {#        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">#}
    <!-- //bootstrap working-->
    {#   ------------------------------ javascripts ----------------------------------- #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
{% endblock %}
<script src={% static 'browse/js/location.js' %}></script>

{% block body-js %}
{% endblock %}

</body>

</html>