<!DOCTYPE html>
<html>

<head>

    <!-- Title -->
    <title>{{ request.user.username | capfirst }} | Delivery | FoodSquare</title>

    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta charset="UTF-8">
    <meta name="description" content="Admin Dashboard Template"/>
    <meta name="keywords" content="admin,dashboard"/>
    <meta name="author" content="Steelcoders"/>
    {% load static %}
    <!-- Styles -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="{% static 'manager/plugins/pace-master/themes/blue/pace-theme-flash.css' %}" rel="stylesheet"/>
    <link href="{% static 'manager/plugins/uniform/css/uniform.default.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'manager/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'manager/plugins/fontawesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'manager/plugins/line-icons/simple-line-icons.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'manager/plugins/offcanvasmenueffects/css/menu_cornerbox.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'manager/plugins/waves/waves.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'manager/plugins/switchery/switchery.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'manager/plugins/3d-bold-navigation/css/style.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'manager/plugins/slidepushmenus/css/component.css' %}" rel="stylesheet" type="text/css"/>

    <!-- Theme Styles -->
    <link href="{% static 'manager/css/modern.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'manager/css/themes/white.css' %}" class="theme-color" rel="stylesheet" type="text/css"/>
    <link href="{% static 'manager/css/custom.css' %}" rel="stylesheet" type="text/css"/>

    <script src="{% static 'manager/plugins/3d-bold-navigation/js/modernizr.js' %}"></script>
    <script src="{% static 'manager/plugins/offcanvasmenueffects/js/snap.svg-min.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% block header %}
    {% endblock %}
</head>


<body class="page-header-fixed">
<div class="overlay"></div>

<main class="page-content content-wrap">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="sidebar-pusher">
                <a href="javascript:void(0);" class="waves-effect waves-button waves-classic push-sidebar">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="logo-box">
                <a href="/" class="logo-text"><span>FoodSquare</span></a>
            </div><!-- Logo Box -->
            <div class="search-button">
                <a href="javascript:void(0);" class="waves-effect waves-button waves-classic show-search"><i
                        class="fa fa-search"></i></a>
            </div>
            <div class="topmenu-outer">
                <div class="top-menu">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="javascript:void(0);"
                               class="waves-effect waves-button waves-classic sidebar-toggle"><i
                                    class="fa fa-bars"></i></a>
                        </li>

                        <li>
                            <a href="javascript:void(0);"
                               class="waves-effect waves-button waves-classic toggle-fullscreen"><i
                                    class="fa fa-expand"></i></a>
                        </li>
                        <li class="dropdown">

                            <ul class="dropdown-menu dropdown-md dropdown-list theme-settings" role="menu">
                                <li class="li-group">
                                    <ul class="list-unstyled">
                                        <li class="no-link" role="presentation">
                                            Fixed Header
                                            <div class="ios-switch pull-right switch-md">
                                                <input type="checkbox"
                                                       class="js-switch pull-right fixed-header-check" checked>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="li-group">
                                    <ul class="list-unstyled">
                                        <li class="no-link" role="presentation">
                                            Fixed Sidebar
                                            <div class="ios-switch pull-right switch-md">
                                                <input type="checkbox"
                                                       class="js-switch pull-right fixed-sidebar-check">
                                            </div>
                                        </li>
                                        <li class="no-link" role="presentation">
                                            Horizontal bar
                                            <div class="ios-switch pull-right switch-md">
                                                <input type="checkbox"
                                                       class="js-switch pull-right horizontal-bar-check">
                                            </div>
                                        </li>
                                        <li class="no-link" role="presentation">
                                            Toggle Sidebar
                                            <div class="ios-switch pull-right switch-md">
                                                <input type="checkbox"
                                                       class="js-switch pull-right toggle-sidebar-check">
                                            </div>
                                        </li>
                                        <li class="no-link" role="presentation">
                                            Compact Menu
                                            <div class="ios-switch pull-right switch-md">
                                                <input type="checkbox"
                                                       class="js-switch pull-right compact-menu-check">
                                            </div>
                                        </li>
                                        <li class="no-link" role="presentation">
                                            Hover Menu
                                            <div class="ios-switch pull-right switch-md">
                                                <input type="checkbox"
                                                       class="js-switch pull-right hover-menu-check">
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="li-group">
                                    <ul class="list-unstyled">
                                        <li class="no-link" role="presentation">
                                            Boxed Layout
                                            <div class="ios-switch pull-right switch-md">
                                                <input type="checkbox"
                                                       class="js-switch pull-right boxed-layout-check">
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="li-group">
                                    <ul class="list-unstyled">
                                        <li class="no-link" role="presentation">
                                            Choose Theme Color
                                            <div class="color-switcher">
                                                <a class="colorbox color-blue" href="?theme=blue" title="Blue Theme"
                                                   data-css="blue"></a>
                                                <a class="colorbox color-green" href="?theme=green"
                                                   title="Green Theme" data-css="green"></a>
                                                <a class="colorbox color-red" href="?theme=red" title="Red Theme"
                                                   data-css="red"></a>
                                                <a class="colorbox color-white" href="?theme=white"
                                                   title="White Theme" data-css="white"></a>
                                                <a class="colorbox color-purple" href="?theme=purple"
                                                   title="purple Theme" data-css="purple"></a>
                                                <a class="colorbox color-dark" href="?theme=dark" title="Dark Theme"
                                                   data-css="dark"></a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="no-link">
                                    <button class="btn btn-default reset-options">Reset
                                        Options
                                    </button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav" style="padding-left: 20%;padding-top: 2%">
                        {% if request.user.is_suspended %}
                            <font style="font-size: 18px; font-weight: bold;color: red"><i
                                    class="fa fa-star">{{ request.user.get_rating }}&nbsp; rating</i> <b> (Suspended)</b> </font>
                        {% else %}
                            {% if request.user.get_rating == 0 %}
                                <font style="font-size: 18px; font-weight: bold;color: #0a6aa1"><i class="fa fa-star">No
                                    Rating</i> </font>
                            {% else %}
                                <font style="font-size: 18px; font-weight: bold;color: #0a6aa1"><i
                                        class="fa fa-star">{{ request.user.get_rating }}&nbsp; rating</i> </font>
                            {% endif %}
                        {% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">


                        <li class="dropdown" id="notifications">

                            {% include "browse/notifications.html" %}
                            {% load static %}
                            <script src="{% static 'delivery/js/notification.js' %}"></script>

                            <script>
                                document.getElementById("notification-dropdown").style.top = "16px";
                                document.getElementById("notifications-count").style.zIndex = "1";
                                document.getElementById("bell_icon").style.color = "#5f5f5f";
                            </script>

                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle waves-effect waves-button waves-classic">
                                <span class="user-name">{{ request.user.username }}</span>
                                <!--                                    <img class="img-circle avatar" src={{ userprofile.avatar.url }}  width="40"-->
                                <!--                                        height="40" alt="">-->
                            </a>
                        </li>
                        <li>
                            <a href="/accounts/manager_logout" class="log-out waves-effect waves-button waves-classic">
                                <span><i class="fa fa-sign-out m-r-xs"></i>Log out</span>
                            </a>
                        </li>

                    </ul><!-- Nav -->
                </div><!-- Top Menu -->
            </div>
        </div>
    </div><!-- Navbar -->
    <div class="page-sidebar sidebar">
        <div class="page-sidebar-inner slimscroll">
            <div class="sidebar-header">
                <div class="sidebar-profile">
                    <div class="sidebar-profile-image">
                        <img src="{{ request.user.get_image.url }}" class="img-circle img-responsive" alt="">
                    </div>
                    <div class="sidebar-profile-details">
                        <span>{{ request.user.username }} <br></span>
                    </div>
                </div>
            </div>
            <ul class="menu accordion-menu">

                {% block slidebar %}
                    <li><a href="/orders/" class="waves-effect waves-button"><span
                            class="menu-icon  glyphicon glyphicon-cutlery"></span>
                        <p>Pending Orders</p>
                    </a></li>
                    <li><a href="/delivered_orders/" class="waves-effect waves-button"><span
                            class="menu-icon glyphicon glyphicon-shopping-cart"></span>
                        <p>Delivered Orders</p>
                    </a></li>
                    <li><a href="/editProfile/" class="waves-effect waves-button"><span
                            class="menu-icon glyphicon glyphicon-user"></span>
                        <p>My Profile</p>
                    </a></li>
                {% endblock %}


            </ul>
        </div><!-- Page Sidebar Inner -->
        <script>
            $(document).ready(function(){
                $(".accordion-menu li a ").each(function(){

                    if($(this).context.href ===window.location.href){
                        $(this).parent().attr("class","active");
                    }

                });
            });
        </script>
    </div><!-- Page Sidebar -->
    {% block body-content %}
    {% endblock body-content %}

</main><!-- Page Content -->


<!-- Javascripts -->
<script src="{% static 'manager/plugins/jquery/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'manager/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'manager/plugins/pace-master/pace.min.js' %}"></script>
<script src="{% static 'manager/plugins/jquery-blockui/jquery.blockui.js' %}"></script>
<script src="{% static 'manager/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'manager/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'manager/plugins/switchery/switchery.min.js' %}"></script>
<script src="{% static 'manager/plugins/uniform/jquery.uniform.min.js' %}"></script>
<script src="{% static 'manager/plugins/offcanvasmenueffects/js/classie.js' %}"></script>
<script src="{% static 'manager/plugins/offcanvasmenueffects/js/main.js' %}"></script>
<script src="{% static 'manager/plugins/waves/waves.min.js' %}"></script>
<script src="{% static 'manager/plugins/3d-bold-navigation/js/main.js' %}"></script>
<script src="{% static 'manager/js/modern.min.js' %}"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzjeZ1lORVesmjaaFu0EbYeTw84t1_nek"></script>
<script src="{% static 'manager/js/pages/profile.js' %}"></script>

</body>

</html>