<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="rest_name"></h4>
            Deliver to {{ order.delivery.address }}
        </div>
        <div class="modal-body" id="test_modal">
            <div class="table-responsive project-stats">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for item in item_list %}

                        <tr>
                            <td>{{ item.package.pkg_name }}</td>
                            <td>{{ item.quantity }}</td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
            Address : {{ order.delivery.address_desc }}, {{ order.delivery.address }}<br>
            Total Price : {{ price }}<br>
            Delivery Charge : {{ delivery_charge }}

        {% include 'delivery/showLocation.html' %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
