@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);
.foopicker {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 3px #bbb;
  color: #666;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 10px;
  width: 245px;
}

.foopicker table {
  width: 100%;
}

.foopicker th,
.foopicker td {
  text-align: center;
}

.foopicker__calendar {
  font-size: 13px;
  padding: 5px;
}

.foopicker__day {
  border-radius: 100%;
  cursor: pointer;
  padding: 5px 2px;
  transition: all .2s ease-out;
  width: 22px;
}

.foopicker__day:hover {
  background: #1fbad6;
  color: #fff;
}

.foopicker__day--today {
  background: #e0f6fb;
  color: #666;
}

.foopicker__day--selected {
  background: #1fbad6;
  color: #fff;
}

.foopicker__day--disabled {
  background: #e6e6e6;
  color: #bfbfbf;
  cursor: not-allowed;
}

.foopicker__day--disabled:hover {
  background: #e6e6e6;
  color: #bfbfbf;
}

.foopicker__week {
  font-size: 1em;
  font-weight: 600;
}

.foopicker__header {
  background: #f2f2f4;
  padding: 15px;
  text-align: center;
}

.foopicker__header div {
  display: inline-block;
}

.foopicker__arrow {
  background-repeat: no-repeat;
  cursor: pointer;
  height: 24px;
  outline: 0;
  position: absolute;
  top: 31px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 14px;
}

.foopicker__arrow--next {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN5wAADecBmRSqJgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADWSURBVBiVfY8xSkNBFEXPe0njxGB24R4srM1YjFhMGYjYuRxLMWI7lZ8EDAqKiN8mC7B2BULMiPh/noUYvoW57Tncy5Xx+OZZhFfVauC9/6QRFeEFiMtl6yqlcuMPzPntGLgE2XPufZrS/eYKxhjr2aw8EuEC2HXu67ooii6A/FpmJpPJ7akIJ0CpWvWludEUzLhT1uS/2ifVygtASqnV6fTOzBiCPNZ13g8hzPUHbI3MGIrwkHPbhxDmAG3neudmDMCmi0X3MMadj9VPM7aBpFofNAHAN0NkW9nLdIQRAAAAAElFTkSuQmCC);
  right: 14px;
}

.foopicker__arrow--prev {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN5wAADecBmRSqJgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADXSURBVBiVXZAxTsNAFETfmMRWvL4C3GVRIlFElFRYHABxB1+CBlFEFBFsgQJrWTIIQRWq9NyDLrG8FGDkeNqn+TPzxUBVVSVtO7oLgaOoD5xbT9r2YAWcSXypA977VIqfQFPg3phxHgHUdW0g8aBpCGFpzDi31jaRc+/ZbqdS4jgEbjebz9xa2wDI+5e3P3A9n8+uJIUuaq/QUFEch1PgQ+KyLF9viqL4N6grtN3q+fd8WGZZfGGtbQZTkhUwk/SQpqNz9TOcW0/S9PsRdAIs9mD/fRAOfwCC1k8eHoJobwAAAABJRU5ErkJggg==);
  left: 18px;
}

.foopicker__month {
  font-size: .875em;
  font-weight: 600;
  text-transform: uppercase;
}

.foopicker__date--month,
.foopicker__date--year {
  background: none;
  border: 0;
  color: #666;
  font-size: 13px;
  height: 20px;
}
