{% extends 'manager/base.html' %}

{% block header %}
<title>Foodsquare </title>
{% endblock %}

<!-- <span class="label label-success">Finished</span></td> -->
<!-- <span class="label label-info">Pending</span></td> -->
<!-- copied from index.html template -->
{% block body-content %}
<div class="page-inner">
    {% load static %}
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title">Restaurant List</h4>
            </div>

            <div class="panel-body">
                <div class="table-responsive project-stats">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Restaurant</th>
                                <th>Status</th>
                                <th>Manager</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for restaurant in object_list %}

                            <tr>
                                <td>{{ restaurant.restaurant_name }}</td>
                                {% if restaurant.restaurant_key == '0' %}
                                <td><span class="label label-danger">Pending</span></td>
                                {% else %}
                                <td><span class="label label-success">Registered</span></td>
                                {% endif %}
                                <td>{{ restaurant.user.username }}</td>
                                {% comment %} <script>
                                    $(function () {
                                        $("#requestAcceptForm").submit(function (event) {
                                            // Stop form from submitting normally
                                            event.preventDefault();
                                            var reqForm = $(this);
                                            // Send the data using post
                                            var posting = $.post(reqForm.attr('action'), reqForm.serialize());
                                            // if success:
                                            posting.done(function (data) {
                                                // success actions, maybe change submit button to 'friend added' or whatever
                                            });
                                            // if failure:
                                            posting.fail(function (data) {
                                                // 4xx or 5xx response, alert user about failure
                                            });
                                        });
                                    });
                                </script> {% endcomment %}
                                <td>
                                    <form action="/accept/{{ restaurant.id }}/" method="post" id="requestAcceptForm">
                                        {% csrf_token %}
                                        <input type="submit" name="requestAccept" value="Request"
                                            style="background-color: transparent; border: none; outline: none;color: tomato" />
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            <!-- <tr>
                                <td>Wordpress Theme</td>
                                <td><span class="label label-success">Finished</span></td>
                                </td>
                                <td>Sandra Smith</td>
                                <td>
                                    <a href="#" style="color: brown"> Request</a>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}