/*body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495e;
}*/

.btn {
    width: 70%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
}

/*.btn:hover {
  opacity: 1;
}*/

/*.box{
  width: 400px;
  padding = 15 px, 40 px,15px, 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5 px;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}

.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}

.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}*/

.fb {
    background-color:#3B5998;
    color: white;
}

.google {
    background-color: #dd4b39;
    color: white;
  }